<div class=" revamp__customer__page" role="main">
	<div class="revamp__wrapper">
		<div class="revamp__sub__banner flex flex-wrap flex-align-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-5 content__col">
						<h1>Arytic | Next Gen Artificial Intelligence Predictive Hiring</h1>
						<p>Arytic saves you time and money while empowering you to your dream team.</p>
					</div><!-- /.content__col -->
					<div class="col-sm-7 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__banner__image.png" alt="Arytic | Next Gen Artificial Intelligence Predictive Hiring"/>
					</div>
				</div>
			</div>
		</div><!-- /.revamp__sub__banner -->
		<div class="section revamp__funnel__section">
			<div class="container">
				<div class="row flex felx-wrap flex-align-center">
					<div class="col-sm-7">
						<div class="funnel__box">
							<div class="funnel__strip funnel__strip__01" data-id="funnel__info__01">
								<span class="funnel__dark__blue">Hiring Needs</span> 
							</div>
							<div class="funnel__strip funnel__strip__02" data-id="funnel__info__02">
								Assessments & Crowdsourcing
							</div>
							<div class="funnel__strip funnel__strip__03" data-id="funnel__info__03">
								Applicant tracking system
							</div>
							<div class="funnel__strip funnel__strip__04" data-id="funnel__info__04">
								Candidate portal
							</div>
							<div class="funnel__strip funnel__strip__05" data-id="funnel__info__05">
								Background Check
							</div>
							<div class="funnel__strip funnel__strip__06" data-id="funnel__info__06">
								Job Board
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="funnel__info" id="funnel__info__01" style="display:block;">
							<h2>One-stop solution for your hiring needs.</h2>
							<p>Arytic is a comprehensive suite of services that will allow you to unsubscribe and stop paying multiple HR technology platforms . Instead of logging into multiple sites, you will be able to login onto platform, see our pricing list to find the services that best fit your needs.</p>	
						</div>
						<div class="funnel__info" id="funnel__info__02">
							<h3>Job Aggregators</h3>
							<p>Arytic is building an extensive job post database that rivals that of Indeed ™ or CareerBuilder™.
								As an aggregator, it collects and organizes relevant job information so that direct applicants can
								browse through open positions.</p>	
						</div>
						<div class="funnel__info" id="funnel__info__03">
							<h3>Applicant Tracking System</h3>
							<p>At least half of all companies use ATS to pre-screen candidates and find the right fit, our top
								competitors include Bullhorn and Lever. Arytic goes above and beyond and screens candidates
								based on five sets of metrics to increase your chances of finding the perfect fit.</p>	
						</div>
						<div class="funnel__info" id="funnel__info__04">
							<h3>Recruitment CRM</h3>
							<p>The first interaction that employees have with companies is the application process; that is why
								it is important to create a positive experience for candidates. Our candidate relationship
								management tools helps you keep candidates informed and engaged throughout the process.</p>	
						</div>
						<div class="funnel__info" id="funnel__info__05">
							<h3>Background and Reference Checks</h3>
							<p>Once you have narrowed down your top candidates, we want you to have peace of mind that
								you have verified information, that is why we offer background and reference checks through
								the portal, eliminating yet another hurdle to hiring.</p>	
						</div>
						<div class="funnel__info" id="funnel__info__06">
							<h3>Testing and Assessments</h3>
							<p>We recognize that having years of experience does not necessarily mean that a candidate has
								the skills or abilities you are looking for in a team member, we make it easy for you to assign
								pre-hire assessments that show you a more complete picture.</p>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section revamp__funnel__slider">
			<div class="container">
				<owl-carousel [options]="optionSlide" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
					<div class="item" *ngFor="let slide of funnelSlide let i = index">
						<div class="item-info">
							<h4>{{slide.title}}</h4>
							<p>{{slide.descritpition}}</p>
						</div>
					</div>
				</owl-carousel>
				<div class="owl-theme custom__owl__carousel">
					<div class='owl-dots' id="carousel-custom-dots"> 
						<button class='owl-dot' *ngFor="let slide of funnelSlide let i = index"><span>{{i}}</span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="section revamp__one__stop__shop">
			<div class="container">
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-5">
						<div class="shop__info" id="shop__info__01" style="display:block;">
							<div class="revamp__section__title">
								<h3>One-stop solution</h3>
							</div>
							<p>Our all-inclusive platform eliminates the complexity of using multiple tools and increases hiring manager productivity.</p>
						</div>
						<div class="shop__info" id="shop__info__02">
							<div class="revamp__section__title">
								<h3>Reduce time to hire.</h3>
							</div>
							<p>Build your perfect team faster by finding top talent, with Arytic, you can cut your
                time to hire from a month down to a week.</p>
						</div>
						<div class="shop__info" id="shop__info__03">
							<div class="revamp__section__title">
								<h3>Increase retention rates.</h3>
							</div>
							<p>Reduce attrition and avoid having to re-fill the same position repeatedly. There is
                a perfect fit for even the most challenging jobs, Arytic can help you find it.</p>
						</div>
						<div class="shop__info" id="shop__info__04">
							<div class="revamp__section__title">
								<h3>Hire the perfect fit.</h3>
							</div>
							<p>Go beyond skills and experience, hire based on five characteristics and be
                confident that your team will work well together.</p>
						</div>
						<div class="shop__info" id="shop__info__05">
							<div class="revamp__section__title">
								<h3>Promote social justice.</h3>
							</div>
							<p>Build a more inclusive team and avoid unconscious bias by reviewing
                applications from qualified candidates without regards to their identity.</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="shop__diagaram">
							<span class="shop__no shop__no__01">01</span>
							<span class="shop__no shop__no__02">02</span>
							<span class="shop__no shop__no__03">03</span>
							<span class="shop__no shop__no__04">04</span>
							<span class="shop__no shop__no__05">05</span>
							<div class="shop__icon shop__icon__01" data-id="shop__info__01">
								<span class="shop__tooltip">One-stop shop</span>
							</div>
							<div class="shop__icon shop__icon__02" data-id="shop__info__02">
								<span class="shop__tooltip">Reduce time to hire</span>
							</div>
							<div class="shop__icon shop__icon__03" data-id="shop__info__03">
								<span class="shop__tooltip">Increase retention rates.</span>
							</div>
							<div class="shop__icon shop__icon__04" data-id="shop__info__04">
								<span class="shop__tooltip">Hire the perfect fit.</span>
							</div>
							<div class="shop__icon shop__icon__05" data-id="shop__info__05">
								<span class="shop__tooltip">Promote social justice.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section revamp__one__stop__slider">
			<div class="container">
				<owl-carousel [options]="slideOption" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
					<div class="item" *ngFor="let slide of oneShopSlide let i = index">
					  <div class="item-info">
						<span class="shop__icon shop__icon__0{{i+1}}">Icon</span>
						<h4>{{slide.title}}</h4>
						<p>{{slide.descritpition}}</p>
					  </div>
					</div>
				</owl-carousel>
				
				<div class="owl-theme custom__owl__carousel">
					<div class='owl-dots' id="one-stop-dots"> 
						<button class='owl-dot' *ngFor="let slide of oneShopSlide let i = index"><span>{{i}}</span></button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="section revamp__customer__tab">
			<div class="container">
				<div class="revamp__section__title"><h3>Arytic add ons:</h3></div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs flex-justify-center">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#arytic-manage">
              <span class="icon__tab icon__tab__01">Icon</span>
							Arytic Manage
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#arytic-recruit">
              <span class="icon__tab icon__tab__02">Icon</span>
              Arytic Recruit
            </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#arytic-fit">
              <span class="icon__tab icon__tab__03">Icon</span>
              Arytic Fit
            </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#arytic-crowd">
              <span class="icon__tab icon__tab__04">Icon</span>
              Arytic Crowd Source
            </a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane container active" id="arytic-manage">
            <div class="tab__info">
              <h3>Arytic Manage</h3>
              <p>Develop robust relationships with your candidates and provide a positive application process.</p>
            </div>
            <figure>
              <img src="../../../assets/images/revamp__customer/revamp__mockup__top.jpg" alt="Arytic Manage"/>
            </figure>
          </div>
					<div class="tab-pane container fade" id="arytic-recruit">
            <div class="tab__info">
              <h3>Arytic Recruit</h3>
              <p>Post your open jobs into our database and browse through candidate profiles.</p>
            </div>
            <figure>
              <img src="../../../assets/images/revamp__customer/revamp__mockup__top.jpg" alt="Arytic Recruit"/>
            </figure>
          </div>
					<div class="tab-pane container fade" id="arytic-fit">
            <div class="tab__info">
              <h3>Arytic Fit</h3>
              <p>Let Arytic recommend the top matches based on skill, industry, location, culture, and values.</p>
            </div>
            <figure>
              <img src="../../../assets/images/revamp__customer/revamp__mockup__top.jpg" alt="Arytic Fit"/>
            </figure>
          </div>
          <div class="tab-pane container fade" id="arytic-crowd">
            <div class="tab__info">
              <h3>Arytic Crowdsource</h3>
              <p>Increase your exposure by incentivizing candidates to refer their social network connections.</p>
            </div>
            <figure>
              <img src="../../../assets/images/revamp__customer/revamp__mockup__top.jpg" alt="Arytic Crowdsource"/>
            </figure>
          </div>
				</div>
			</div>
		</div>
		<div class="section revamp__custom__grid">
			<div class="container">
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-7 content__col">
						<h3>Find your perfect fit</h3>
						<p>Finding employees who fit perfectly into a team is the key to increasing productivity and creating a positive workspace. When a team   works well together, it is as if all the gears in a motor were perfectly aligned, but just one bad fit, can stop the motor, our Intelligent Match Machine allows you to find the perfect fit every time.The key to finding the right fit is examining your team’s working styles and personalities and finding someone who compliments those traits. With the power of AI, you can make data-informed decisions and find the perfect fit every time.</p>
					</div>

					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__find__perfect__fit.png" alt="Find Perfect Fit"/>
					</div>
				</div>
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__crowd__image.png" alt="Crowdsource your post"/>
					</div>
					<div class="col-sm-7 content__col">
						<h3>Crowdsource your post.</h3>
						<p>Technology has shifted the way we do everything in life and has connected us to resources that make our lives easier and allow us to seamlessly interact with a network of friends and family. At Arytic, we take advantage of those networks and empower candidates to advocate for their connections if they find the perfect job for someone in their network. Our referral bonuses are unique in the industry and are just one more tool to help you find the perfect fit and to encourage passive candidates to apply. The best candidates may not be on job boards searching but they are likely to listen to people they trust.</p>
					</div>

				</div>
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-7 content__col">
						<h3>Remove unconscious bias.</h3>
						<p>Arytic recognizes the importance of diversity and inclusion… Section needs review… “the achievement of a work environment in which all individuals are treated fairly and respectfully, have equal access to opportunities and resources, and can contribute fully to the organization’s success.”Not only is inclusivity crucial for diversity efforts to succeed but creating an inclusive culture will prove beneficial for employee engagement and productivity.</p>
					</div>
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__remove__image.png" alt="Remove unconscious bias."/>
					</div>
				</div>
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__hire__image.png" alt="Hire at your leisure"/>
					</div>
					<div class="col-sm-7 content__col">
						<h3>Hire at your leisure</h3>
						<p>Whatever your current work status is, Arytic is sure to meet your needs. Our platform is mobile friendly so you can manage your job applications and candidates through your smartphone from anywhere , anytime. Arytic will also send messages to candidates directly so you do not have to access your company’s email to communicate.</p>
					</div>
				</div>
			</div>
		</div><!-- /.container -->
		<div class="section revamp__icon__listing__grid">
			<div class="container">
				<div class="revamp__section__title">
					<h3>Arytic Functions at a Glance</h3>
				</div><!-- /.revamp__section__title -->
	
				<div class="row flex flex-wrap flex-align-equal flex-justify-center">
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">01</span>
							<span class="icon icon__arytic__check">Icon</span>
							<h4>Arytic Check</h4>
							<p>Arytic has the capability of performing background and reference checks, this function saves you time, plus, a “Verified” icon will appear when a candidate has been recently screened through Arytic, so you won’t have to repeat the process.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
	
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">02</span>
							<span class="icon icon__arytic__video">Icon</span>
							<h4>Video Sizzle</h4>
							<p>Showcase your open job by creating a 30-45-second- video that engages candidates and allows them an inside view of your company. Invite your candidates  in to take a tour of your company and what that environment will look like for the candidates.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
	
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">03</span>
							<span class="icon icon__arytic__interview">Icon</span>
							<h4>Interview Scheduler</h4>
							<p>Let candidates choose their own interview date and time by simply providing your schedule. Our advanced interview platform will also feature AI led interviews that will allow Arytic, the robot, to conduct preliminary interviews and narrow down the results further. </p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
	
	
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">04</span>
							<span class="icon icon__arytic__virtutal">Icon</span>
							<h4>Virtual Recruiter Assistant</h4>
							<p>Arytic, the robot, is always learning and adjusting his suggestions based on your input, the more information you provide, the better your experience. Our interactive platform is voice-activated for when you are away from your keyboard . </p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
	
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">05</span>
							<span class="icon icon__arytic__wall">Icon</span>
							<h4>Advanced Job Wall</h4>
							<p>Arytic’sall-inclusive tier provides you access to a condensed job wall that instantly shows you the entire life cycle of each job post including number of views, suggested profiles, likes, withdraws, candidate profiles, etc. The job wall is a one-stop solution designed to save you time.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
	
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">06</span>
							<span class="icon icon__arytic__hiring">Icon</span>
							<h4>AI Hiring Predictor</h4>
							<p>One amazing capability included in the Arytic suite is the ability to analyze a large amount of data to accurately predict the projected timeline and cost of hiring for each job post. Our system sifts through job requirements, length of assignment, quarter of the year, geographical location, and other datapoints and compares them to previous hires.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
	
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">07</span>
							<span class="icon icon__arytic__review">Icon</span>
							<h4>Transparent job post reviews.</h4>
							<p>Writing the perfect job description  is a complicated process that often requires a lot of trial and error. Arytic’s real-time job reviews provides you invaluable information submitted by candidates. Reviews are confidential so candidates are more likely to give you transparent feedback that can increase the quality of your job post to attract the best candidates.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
	
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">08</span>
							<span class="icon icon__arytic__advance">Icon</span>
							<h4>Advanced resume parsing.</h4>
							<p>Showcase your open job by creating a 30-45-second- video that engages candidates and allows them an inside view of your company. Invite your candidates  in to take a tour of your company and what that environment will look like for the candidates.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
				</div>
				<a (click)="Demo()" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn__primary">Request A Demo</a>
			</div><!-- /.container -->
		</div>
	
		<div class="section revamp__single__image">
			<div class="container">
				<img src="./../../../assets/images/revamp__customer/revamp__mockup__bottom.png" alt="Mockup"/>
			</div>
		</div>
		<div class="section revamp__faqs">
			<div class="container">
				<div class="revamp__section__title text-center">
					<h4>FAQs</h4>
				</div>
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									Is there a way for me to manage my personal data and restrict what information is stored and shared freely on the platform?
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
							data-parent="#accordion">
							<div class="card-body">
								<p>Arytic does not share any personal data, and only provides potential employers with the information you supply such as your resume, your DISC profile, and any skills/experiences you have.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									<!-- <span class="revamp__faq__icon revamp__faq__icon__02">Icon</span> -->
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									How do you ensure that freelance recruiters and the AI remain unbiased?
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								<p>Our AI does not depict the final hire. It is there to help and ensure you find the best candidates for the job. The hiring managers will have the last say in who to hire</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									<!-- <span class="revamp__faq__icon revamp__faq__icon__03">Icon</span> -->
									How is Arytic different from other websites where I can add my resume?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
							data-parent="#accordion">
							<div class="card-body">
								<p>Arytic bridges the gap between job aggregators and applicant tracking systems using AI to speed up the hiring process. This helps individuals to find jobs quicker, and it helps employers to find the best fitting candidates.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingFour">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									How much input is required by the customer to explain culture, job requirements, etc? 
								</button>
							</h5>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							<div class="card-body">
								<p>The more detail an employer specifies in their job posting, the better candidates Arytic’s AI will be able to find. Having only a few details will result in a wide range of candidates that might not best fit the job. However, if there are more details, the AI will be able to find the very best candidates for the job.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingFive">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									Is Arytic’s AI tailored to each customer it serves?
								</button>
							</h5>
						</div>
						<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							<div class="card-body">
								<p>Arytic's management team works closely with all customers to ensure maximum efficiency and success of the product. The management team is always available and ready to be hands on.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div><!-- /.revamp__wrapper -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
	<ng-container *ngIf="afterRequest">
	  <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Demo Request</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<div class="text-center">
		  <img src="../../../../assets/images//handshake.png" alt="Handshake" class="text-center">
		  <h6 style="color: #475B66;"> Thanks for showing interest in Arytic. we will get back to you Soon!!</h6>
		</div>

	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Explore Arytic</button>
	  </div>
	</ng-container>
	<ng-container *ngIf="!afterRequest">
	  <div class="modal-header">

		<h5 class="modal-title" id="exampleModalLabel">Demo Request</h5>
		<button type="button" class="close" data-dismiss="modal" (click)="cancelRequest()" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<form [formGroup]="demoform" (ngSubmit)="DemoRequest()">
		  <div class="form-group p-rel">
			<label for="first-name" class="visible-hidden">First Name</label>
			<input type="text" class="form-control" id="first-name" formControlName="FirstName" placeholder="First Name *"
			  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
			  required>
			<div
			  *ngIf="demoform.controls['FirstName'].invalid && (demoform.controls['FirstName'].dirty || demoform.controls['FirstName'].touched)"
			  class="error1">
			  <div *ngIf="demoform.controls['FirstName'].errors.required">
				Required
			  </div>
			</div>
		  </div>
		  <div class="form-group p-rel">
			<label for="last-name"  class="visible-hidden">Last Name</label>
			<input type="text" class="form-control" id="last-name" formControlName="LastName" placeholder="Last Name *"
			  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
			  required>
			<div
			  *ngIf="demoform.controls['LastName'].invalid && (demoform.controls['LastName'].dirty || demoform.controls['LastName'].touched)"
			  class="error1">
			  <div *ngIf="demoform.controls['LastName'].errors.required">
				Required
			  </div>
			</div>
		  </div>
		  <div class="form-group p-rel">
				<label for="exampleInputEmail1" class="visible-hidden">Your Email address</label>
				<input type="email" [pattern]="emailPattern" class="form-control" id="exampleInputEmail1"
			  aria-describedBy="id="emailHelp"" placeholder="Enter email*" formControlName="EmailId"
			  (keyup)="EmailClear()">
				<!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
				<div id="emailHelp">
					<div *ngIf="demoform.controls['EmailId'].invalid && (demoform.controls['EmailId'].dirty || demoform.controls['EmailId'].touched)"
						class="error1">
						<div *ngIf="demoform.controls['EmailId'].errors.required">
						Required
						</div>
						<div *ngIf="demoform.controls['EmailId'].errors.pattern">
						Incorrect Email!
						</div>
		
					</div>
					<div *ngIf="show" class="error1">
						Email already registered
					</div>
				</div>
		  </div>
		  <div class="form-group p-rel">
				<label for="exampleInputPassword1" class="visible-hidden">Your Contact Number</label>
				<input type="tel" id="exampleInputPassword1" class="form-control" formControlName="PhoneNumber" prefix="+1"
			  placeholder="Phone Number" maxlength=20
			  onkeypress="return event.charCode >= 48 && event.charCode <= 57">
			<div *ngIf="demoform.controls['PhoneNumber'].errors?.minlength" class="error1">
			  Invalid Phone number
			</div>
		  </div>
		</form>
	  </div>
	  <div class="modal-footer pull-right">
		<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelRequest()">Not Now</button> -->
		<button type="submit" (click)="DemoRequest()" class="btn btn-primary" style=" padding: .375rem .75rem;">Yes
		  I Need Demo</button>
	  </div>
	</ng-container>
  </div>
</div>
</div>
</div>