.funnel__box { left:-100px; position:relative; width:648px; height:514px; background:url(../../../assets/images/revamp__customer/revamp__funnel__section.png) 0 0 no-repeat; }
.funnel__strip { position:absolute; color:#fff; cursor:pointer; font-size:14px; transition:all 550ms ease-in; text-align:center; display:flex; align-items:center; justify-content:center; font-weight:bold; }
.funnel__strip.funnel__strip__01 { left:236px; top:145px; width:308px; height:42px; background:url(../../../assets/images/revamp__customer/funnel__01.png) 0 0 no-repeat; }
.funnel__strip.funnel__strip__02 { left:251px; top:200px; width:278px; height:41px; background:url(../../../assets/images/revamp__customer/funnel__02.png) 0 0 no-repeat; }
.funnel__strip.funnel__strip__03 { left:266px; top:254px; width:247px; height:41px; background:url(../../../assets/images/revamp__customer/funnel__03.png) 0 0 no-repeat; }
.funnel__strip.funnel__strip__04 { left:282px; top:312px; width:216px; height:41px; background:url(../../../assets/images/revamp__customer/funnel__04.png) 0 0 no-repeat; }
.funnel__strip.funnel__strip__05 { left:298px; top:368px; width:185px; height:41px; background:url(../../../assets/images/revamp__customer/funnel__05.png) 0 0 no-repeat; }
.funnel__strip.funnel__strip__06 { left:315px; top:422px; width:154px; height:41px; background:url(../../../assets/images/revamp__customer/funnel__06.png) 0 0 no-repeat; }
.revamp__funnel__section h3, .revamp__funnel__section h2, .revamp__funnel__section h4 { font-size:36px; color:#41536e; text-align:right; font-weight:bold; margin:0 0 15px; }
.revamp__funnel__section p  { font-size:18px; color:#41536e }
.funnel__info { display:none; }
.funnel__strip:hover { transform:scale(1.05); }

.revamp__funnel__slider { display:none; }
.revamp__funnel__slider h4 { font-size:20px; text-align:center; }
.revamp__funnel__slider p { font-size:16px; text-align:center; }


@media only screen and (max-width:1170px) {
	.revamp__funnel__section h3, .revamp__funnel__section h2, .revamp__section__title h4 { font-size:24px; }
}

@media only screen and (max-width:1023px) {
	.revamp__funnel__slider { display:block; }
	.revamp__funnel__section { display:none; }
}
