<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description"
		content="Arytic is your next generation real-time analytics and predictive insights employment platform that uses our proprietary artificial intelligence and machine learning engine." />
	<meta name="keywords" content="Artificial Intelligence, Recruiting system, Job Search, Post a job" />
</head>


<nav class="navbar navbar-expand-lg site-nav fixed-top home-nav">
	<div class="nav-inner">
		<a class="navbar-brand mb-logo" href="" (click)="homePageNav()">
			<!-- <img src="../../../assets/images/logo__light.png" class="logo-light" title="Arytic" alt="Arytic">  [ngClass]="homepage ? 'home-nav' : 'other-nav' "-->
			<img src="../../../assets/images/logo_2.png" class="logo-dark" title="Arytic" alt="Arytic">
		</a>
		<button id="mobilenav" class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<div class="b-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</span>
		</button>
	</div>
	<div class="collapse navbar-collapse hide-menu" id="navbarTooglerDemo01">
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0 align-items-center">
			<li class="nav-item  nav-item-hide">
				<a class="nav-link" href="Javascript:void(0)" (click)="otherPage()" [routerLink]="['/customer']">Employers</a>
			</li>
			<li class="nav-item  nav-item-hide">
				<a class="nav-link nav-hide" href="javascript:void(0)" (click)="otherPage()" [routerLink]="['/candidate']">Job
					Seekers</a>
			</li>
			<li class="nav-item nav-item-hide">
				<a class="nav-link" href="javascript:void(0)" (click)="otherPage()"
					[routerLink]="['/HiringAgencies']">Agencies</a>
			</li>
			<li class="nav-item nav-item-hide">
				<a class="nav-link" href="Javascript:void(0)" (click)="otherPage()"
					[routerLink]="['/Freelancerecruiters']">Recruiters</a>
			</li>
			<li class="nav-item">
				<a href="Javascript:void(0)" (click)="redirectMethod()" class="btn btn-primary btn__primary">
					Login
				</a>
			</li>
			<li class="nav-item">
				<a href="#footer" target="_blank" title="Scrollto" class="social-icon icoFacebook scrollTo">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<em	class="visible-hidden">Icon</em>
				</a>
			</li>
			<li class="nav-item">
				<a href="https://www.facebook.com/Arytic-1020867084767229/" title="Facebook" class="social-icon icoFacebook" target="_blank"> <i
						class="fa fa-facebook" aria-hidden="true"><em class="visible-hidden sr-only">Facebook</em></i></a>
			</li>
			<li class="nav-item">
				<a href="https://www.linkedin.com/company/14575684/" class="social-icon icoLinkedin" title="Linkedin" target="_blank"> <i
						class="fa fa-linkedin" aria-hidden="true"><em class="visible-hidden sr-only">Linked In</em></i></a>
			</li>
			<li class="nav-item">
				<a href="https://twitter.com/aryticusa" class="social-icon icoTwitter" title="Twitter" target="_blank"> <i
						class="fa fa-twitter" aria-hidden="true"><em class="visible-hidden sr-only">Twitter</em></i></a>
			</li>
		</ul>
	</div>

	<div class="fixed-main-nav">
		<ul>
			<li class="employee">
				<a href="javascript:void(0)" (click)="otherPage()" [routerLink]="['/customer']">
					<span class="icon">Icon</span>
					Employers
				</a>
			</li>
			<li class="candidate">
				<a href="javascript:void(0)" (click)="otherPage()" [routerLink]="['/candidate']">
					<span class="icon">Icon</span>
					Candidates
				</a>
			</li>
			<li class="agency">
				<a href="javascript:void(0)" (click)="otherPage()" [routerLink]="['/HiringAgencies']">
					<span class="icon">Icon</span>
					Agencies
				</a>
			</li>
			<li class="recruiter">
				<a href="javascript:void(0)" (click)="otherPage()" [routerLink]="['/Freelancerecruiters']">
					<span class="icon">Icon</span>
					Recruiters
				</a>
			</li>
			<li class="pricing">
				<a href="javascript:void(0)" (click)="otherPage()" [routerLink]="['/pricing']">
					<i class="fa fa-money" aria-hidden="true"></i>
					Pricing
				</a>
			</li>
		</ul>
	</div>

	<div class="hide__desktop__nav">
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand d-sm-none" href="Javascript:void(0)">
				<img src="../../../assets/images/logo.png" title="Arytic" alt="Arytic">
			</a>
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0 align-items-center">
				<!-- <li class="nav-item active">
					<a class="nav-link" href="customer.html">Company <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="features-detail.html">Resources</a>
				</li> -->
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0)" [routerLink]="['/customer']">Employers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0)" [routerLink]="['/HiringAgencies']">Hiring Agencies</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0)" [routerLink]="['/Freelancerecruiters']">Freelance Recruiters</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0)" [routerLink]="['/candidate']">Job Seekers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="Javascript:void(0)" [routerLink]="['/pricing']">Pricing</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link"  href="Javascript:void(0)" [routerLink]="['/customersignup']">Post a Job</a>
				</li>
				<li class="nav-item">
						<a class="nav-link"  href="Javascript:void(0)" [routerLink]="['/candidatesignup']">Create Profile</a>
				</li> -->
				<li class="nav-item">
					<a href="javascript:void(0)" (click)="redirectMethod()" class="btn btn-primary">Login</a>
				</li>
				<!-- <li class="nav-item">
					<a href="tel:+18554279842" target="_blank" class="social-icon icoFacebook"> <i class="fa fa-phone"></i></a>
				</li>
				<li class="nav-item">
					<a href="https://www.facebook.com/Arytic-1020867084767229/" class="social-icon icoFacebook" target="_blank"> <i class="fa fa-facebook"></i></a>
				</li>
				<li class="nav-item">
					<a href="https://www.linkedin.com/company/14575684/" class="social-icon icoLinkedin" target="_blank"> <i class="fa fa-linkedin"></i></a>
				</li>
				<li class="nav-item">
					<a href="https://twitter.com/aryticusa" class="social-icon icoTwitter" target="_blank"> <i class="fa fa-twitter"></i></a>
				</li> -->
			</ul>
			<ul class="list-inline text-center nopadding">
				<li class="list-inline-item"> 
					<a href="tel:+18554279842" target="_blank" class="social-icon icoFacebook">
						<i class="fa fa-phone" aria-hidden="true"><em class="visible-hidden">Phone</em></i>
					</a>
				</li>
				<li class="list-inline-item"> 
					<a href="https://www.facebook.com/Arytic-1020867084767229/" class="social-icon icoFacebook" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"><em class="visible-hidden">Facebook</em></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://www.linkedin.com/company/14575684/" class="social-icon icoLinkedin" target="_blank"> 
						<i class="fa fa-linkedin" aria-hidden="true"><em class="visible-hidden">Linked In</em></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://twitter.com/aryticusa" class="social-icon icoTwitter" target="_blank"> 
						<i class="fa fa-twitter" aria-hidden="true"><em class="visible-hidden">Twitter</em></i>
					</a>
				</li>
			</ul>
		</div>

	</div>

</nav>