<body class="features-detail-page">

        <section class="banner section">
            <img class="bg" src="../../../assets/images/features-detail-banner-bg.png" alt="">
            <div class="container">
                <div class="row align-items-top justify-content-between">
                    <div class="col-md-6 col-sm-12">
                        <p>Arytic's Video Sizzle: Hiring leaders are the directors of the film and the job is the star of
                            the show.
                        </p>
                        <!--<a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Apply Now</a>-->
                        <small class="first-para">Hiring leaders also review Video Sizzle furnished by applicants presenting
                            why they
                            are the best fit.</small>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                        <img class="img-fluid" width="350" src="../../../assets/images/Rectangle6.png" alt="Video Sizzle"
                            title="Video Sizzle">
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="clientele">
            <div class="container">
                <h5>The world’s best startups build teams on Arytic</h5>
                <img class="img-fluid" src="../../../assets/images/clients-2.png" alt="">
            </div>
        </section> -->
        <section class="how-incentive-system-works section">
            <div class="container">
                <div class="section-header video-sizzle-desc">
                    <h2 class="title">How Our Video Sizzle Works</h2>
                    <p>
                        Unlike words on a page, a 30-45 second video tailored to each posting allows the jobs to sizzle with
                        real life
                        footage of assignments in action. Hiring leaders film the actual location of the project, shoot
                        footage of
                        tasks being accomplished, and capture short interviews of employees giving testimonials to enhance
                        the
                        posting.
                    </p>
                </div>
                <div class="video-wrapper">
                    <!-- TODO: Video Player -->
                    <div class="col-lg-12 col-md-12">
                        <img alt="" class="video img-fluid" src="../../../assets/images/video-placeholder.png">
                    </div>
                    <p class="video-caption">Video: Jesse explains how our incentive system works.</p>
                </div>
            </div>
        </section>
        <section class="apply-now-banner section video-apply-now">
            <div class="container">
                <div class="apply-now-banner-inner align-items-center justify-content-between">
                    <p>Join hands with Next Gen AI Predictive Hiring Platform.</p>
                    <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Join Now</a>
                </div>
            </div>
        </section>
        <section class="feature-list section">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">You are empowered, able to provide evidence that reinforces the written words on the
                        post.
                    </h2>
                    <p>
                        It is like you are able to bring the candidate on site, offer a short tour, let them have a
                        literally clear
                        picture of what the job is.
                    </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <!-- <img class="img-fluid" src="../../../assets/images/img-placeholder.png" alt=""> -->
                        <img class="img-fluid" src="../../../assets/images/feature-images/Feature-Video-Sizzle.svg" alt="Feature-Video-Sizzle">
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <div class="item">
                            <h2>Film a 30-45 video</h2>
                            <p>Show the candidate the job in motion.</p>
                        </div>
                        <div class="item">
                            <h2>Provide Evidence</h2>
                            <p>Reinforce the written portion of the post with real live footage of the job.</p>
                        </div>
                        <div class="item">
                            <h2>Simply Sizzle </h2>
                            <p>Take full advantage of inviting the candidate to take a tour with you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="more-features section">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">More Features </h2>
                    <p>
                        Dive into our Artificial Intelligence Recruiting Features. 
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                                <a  href="Javascript:void(0)" [routerLink]="['/FeatureNotaJobSearch']">
                                <img class="img-fluid" src="../../../assets/images/more-features-1.png"
                                    alt=" Personalized lifestyle match" title="Personalized lifestyle match">
                            </a>
                            <h3>Not a job search, but a Personalized lifestyle match</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                                <a href="Javascript:void(0)" [routerLink]="['/FeaturePersonalityTest']">
                                <img class="img-fluid" src="../../../assets/images/more-features-2.png"
                                    alt="Personality test" title="Personality test">
                            </a>
                            <h3>Personality test for best work culture match</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                                <a href="Javascript:void(0)" [routerLink]="['/FeatureRealTimeData']">
                                <img class="img-fluid" src="../../../assets/images/more-features-3.png"
                                    alt="Real Time Status Updates" title="Real Time Status Updates">
                            </a>
                            <h3>Real Time Status Updates</h3>
                        </div>
                    </div>
                </div>
                <div class="see-more">
                    <!--<a href="candidate.html" class="see-more-link">
              See more features <svg xmlns="http://www.w3.org/2000/svg" width="23.6" height="12"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"/></svg>-->
                    <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Join Now</a>
                </div>
            </div>
        </section>
    
       
    </body>