<div class=" revamp__customer__page"  role="main">
	<div class="revamp__wrapper">
		<div class="revamp__sub__banner flex flex-wrap flex-align-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-5 content__col">
						<h2>Arytic | Next Gen Artificial Intelligence Predictive Hiring</h2>
						<p>Arytic bridges the gap between employers and candidates and allows them to communicate
							openly.</p>
					</div><!-- /.content__col -->
					<div class="col-sm-7 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__banner__image.png" alt="Arytic | Next Gen Artificial Intelligence Predictive Hiring" />
					</div>
				</div>
			</div>
		</div><!-- /.revamp__sub__banner -->
		<div class="section revamp__steps__diagram">
			<div class="container">
				<div class="revamp__section__title text-center">
					<h3>How Arytic works for recruiters.</h3>
					<p>Arytic allows freelance recruiters and agencies to apply for posted jobs on their candidate’s
						behalf. </p>
				</div>
				<div class="revamp__steps__box__01">
					<div class="revamp__step revamp__step__01">
						<p>Complete your recruiter/ agency profile with Arytic and decide which industries/ jobs you
							would like to see.</p>
					</div>
					<div class="revamp__step revamp__step__02">
						<p>Connect directly with top employers without becoming an approved vendor, you will have access
							to see all open jobs posted on Arytic.</p>
					</div>
					<div class="revamp__step revamp__step__03">
						<p>Upload your candidates by creating a profile for each one andArytic will then ask the
							candidate’s permission to be represented, this allows you to act on the candidate’s behalf
						</p>
					</div>
					<div class="revamp__step revamp__step__04">
						<p>Once the candidates accept, you will be able to browse through open jobs and will be able to
							submit your candidates to the best positions.</p>
					</div>
					<div class="revamp__step revamp__step__05">
						<p>If your candidate is hired through Arytic, you will receive a placement payment based on the
							salary of the job filled.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section revamp__one__stop__slider">
			<div class="container">
				<owl-carousel [options]="optionSlide" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
					<div class="item" *ngFor="let slide of stepsSlide let i = index">
						<div class="item-info">
							<span class="shop__icon shop__icon__{{slide.id}}">Icon</span>
							<p>{{slide.descritpition}}</p>
						</div>
					</div>
				</owl-carousel>
				<div class="owl-theme custom__owl__carousel">
					<div class='owl-dots' id="carousel-custom-dots"> 
						<button class='owl-dot' *ngFor="let slide of stepsSlide let i = index"><span>{{i}}</span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="section revamp__one__stop__shop">
			<div class="container">
				<div class="revamp__section__title text-center">
					<h3>Conquer the competition</h3>
				</div>
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-5">
						<div class="shop__info" id="shop__info__01" style="display:block;">
							<div class="revamp__section__title">
								<h3>Place more candidates.</h3>
							</div>
							<p>See job posts from all employers and instantly see which jobs to pursue for each
								candidate.</p>
						</div>
						<div class="shop__info" id="shop__info__02">
							<div class="revamp__section__title">
								<h3>Keep your candidates in the loop.</h3>
							</div>
							<p>Easily send feedback when hiring managers update job status.</p>
						</div>
						<div class="shop__info" id="shop__info__03">
							<div class="revamp__section__title">
								<h3>Keep more money.</h3>
							</div>
							<p>Pay a very low monthly fee and a 7% rate for each successful hire. </p>
						</div>
						<div class="shop__info" id="shop__info__04">
							<div class="revamp__section__title">
								<h3>Eliminate busy work.</h3>
							</div>
							<p>Spend more time nurturing your candidate and employer relationships by letting Arytic
								do the busy work.</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="shop__diagaram shop__diagaram__02">
							<span class="shop__no shop__no__01">01</span>
							<span class="shop__no shop__no__02">02</span>
							<span class="shop__no shop__no__03">03</span>
							<span class="shop__no shop__no__04">04</span>
							<div class="shop__icon shop__icon__16" data-id="shop__info__01">
								<span class="shop__tooltip">Place more candidates.</span>
							</div>
							<div class="shop__icon shop__icon__17" data-id="shop__info__02">
								<span class="shop__tooltip">Keep your candidates in the loop.</span>
							</div>
							<div class="shop__icon shop__icon__18" data-id="shop__info__03">
								<span class="shop__tooltip">Keep more money.</span>
							</div>
							<div class="shop__icon shop__icon__19" data-id="shop__info__04">
								<span class="shop__tooltip">Eliminate busy work.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section revamp__one__stop__slider">
			<div class="container">
				<owl-carousel [options]="slideOption" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
					<div class="item" *ngFor="let slide of oneShopSlide let i = index">
						<div class="item-info">
							<span class="shop__icon shop__icon__{{slide.id}}">Icon</span>
							<h4>{{slide.title}}</h4>
							<p>{{slide.descritpition}}</p>
						</div>
					</div>
				</owl-carousel>
				<div class="owl-theme custom__owl__carousel">
					<div class='owl-dots' id="one-stop-dots"> 
						<button class='owl-dot' *ngFor="let slide of oneShopSlide let i = index"><span>{{i}}</span></button>
					</div>
				</div>
			</div>
		</div>

		<div class="section revamp__custom__grid ">
			<div class="container">
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-7 content__col">
						<h3>How we reduce unconscious bias</h3>
						<p>Arytic's proprietary AI technology sifts through countless profiles picking the perfect
							candidate before making suggestions to hiring managers. Depending on package choice,
							candidates can choose to keep all personal information “private” including gender, age, and
							race until they enter the selection process. Hiring leaders can also choose to keep all
							their applicants on "private" mode to keep any unconscious bias from playing a part in their
							hiring decision.</p>
					</div>
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__bias.png" alt="How we reduce unconscious bias" />
					</div>
				</div>
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__banner__image.png" alt="Interactive and Mobile Friendly" />
					</div>
					<div class="col-sm-7 content__col">
						<h3>Interactive and Mobile Friendly </h3>
						<p>The Arytic platform is interactive and user friendly, it is also designed to be accessed
							through your mobile phone so that you never miss any important updates. Arytic, the robot,
							will guide your through the application process and remind you of steps needed to be
							completed. The more you use Arytic and the more information you upload, the better Arytic
							will be at making suggestions for new jobs.</p>
					</div>

				</div>
				<div class="row flex flex-wrap flex-align-center">

					<div class="col-sm-7 content__col">
						<h3>Crowdsource your post.</h3>
						<p>Technology has shifted the way we do everything in life and has connected us to resources
							that make our lives easier and allow us to seamlessly interact with a network of friends and
							family. At Arytic, we take advantage of those networks and empower candidates to advocate
							for their connections if they find the perfect job for someone in their network. Our
							referral bonuses are unique in the industry and are just one more tool to help you find the
							perfect fit and to encourage passive candidates to apply. The best candidates may not be on
							job boards searching but they are likely to listen to people they trust.</p>
					</div>
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__bonus.png" alt="Crowdsource your post." />
					</div>
				</div>
			</div>
		</div><!-- /.revamp__custom__grid -->
		<div class="section revamp__faqs">
			<div class="container">
				<div class="revamp__section__title text-center">
					<h4>FAQs</h4>
				</div>
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									Arytic For Recruiters
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show"	data-parent="#accordion">
							<div class="card-body">
								<div id="subAccordion">
									<div class="card">
										<div class="card-header" id="subOne">
											<h5 class="mb-0">
												<button class="btn btn-link" data-toggle="collapse"
													data-target="#subCollapseOne" aria-expanded="true"
													aria-controls="subCollapseOne">
													How does Arytic work for recruiters?
												</button>
											</h5>
										</div>

										<div id="subCollapseOne" class="collapse show" aria-labelledby="subOne"
											data-parent="#subAccordion">
											<div class="card-body">
												<ol>
												<li>If you are an independent recruiter or affiliated with a recruitment
												agency, then working with Arytic is easy and rewarding. Here is how it
												works: Arytic has job requisitions from hundreds of employers.
												Recruiters can fill these jobs and earn a placement fee for each
												successful hire. They only need to register for free, review jobs and
												then start submitting candidates.</li>
												<li>Our clients (employers) hire candidates submitted by recruiters. If a
												candidate you have submitted into the platform is hired, you will
												receive a placement fee. Click here to learn more about the payment
												process.</li>
												<li>To learn how to submit candidates, click here.</li>
											</ol>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="subTwo">
											<h5 class="mb-0">
												<button class="btn btn-link" data-toggle="collapse"
													data-target="#subCollapseTwo" aria-expanded="true"
													aria-controls="subCollapseTwo">
													How does a recruiter benefit from Arytic?
												</button>
											</h5>
										</div>

										<div id="subCollapseTwo" class="collapse" aria-labelledby="subTwo"
											data-parent="#subAccordion">
											<div class="card-body">
												Arytic gives you access to hundreds of jobs from top employers across the U.S., who typically do not work with independent recruiters and agencies. Instead of spending time cold calling, negotiating contracts and getting on an approved vendor list to work on Fortune 500 enterprise jobs and collecting fees, you can spend your time recruiting more candidates by working with Arytic.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="subThree">
											<h5 class="mb-0">
												<button class="btn btn-link" data-toggle="collapse"
													data-target="#subCollapseThree" aria-expanded="true"
													aria-controls="subCollapseThree">
													How can I reach Arytic for questions?
												</button>
											</h5>
										</div>

										<div id="subCollapseThree" class="collapse" aria-labelledby="subThree"
											data-parent="#subAccordion">
											<div class="card-body">
												<p>You can call us at 1-855-4-ARYTIC or send us an email at info@arytic.com, and one of our representatives will be happy to answer your question via phone or email.</p>
												<p>We also have a live chat feature located at the bottom right corner of every page.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									How do you ensure that freelance recruiters and the AI remain unbiased?
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								Our AI does not depict the final hire. It is there to help and ensure you find the best candidates for the job. The hiring managers will have the last say in who to hire
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									What role will our hiring team play in conjunction with Arytic?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
							data-parent="#accordion">
							<div class="card-body">
								Arytic does not eliminate the need for hiring managers / HR departments completely but instead provides a supporting role to improve your hiring process by allowing you to find the best fitting employees faster.
							</div>
						</div>
					</div>
					<!-- <div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<span class="revamp__faq__icon revamp__faq__icon__03">Icon</span>
									The Clients (Who's Hiring)
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
							data-parent="#accordion">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
								squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
								quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
								squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
								butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
								nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div> -->
					<!-- <div class="card">
						<div class="card-header" id="headingFour">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<span class="revamp__faq__icon revamp__faq__icon__04">Icon</span>
									Cost
								</button>
							</h5>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
							data-parent="#accordion">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
								squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
								quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
								squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
								butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
								nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div> -->
				</div>
			</div>

		</div>
	</div>
</div>