<footer class="site-footer hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-12  col-xs-12 about-col">
				<a href="">
					<img class="logof" src="../../../assets/images/arytic-logo-contrast.svg" alt="Arytic" title="Arytic" />
				</a>
				<p>
					Arytic is your next generation real-time analytics and predictive insights hiring platform that uses our
					proprietary artificial intelligence and machine learning engine.
				</p>
			</div>
			<div class="col-md-3 col-sm-12  col-xs-12 ">
				<ul class="footer-links">
					<!--hidden-for-iphone 
					<li><a href="Javascript:void(0)" [routerLink]="['/customer']" class="link active">Company</a></li> -->
					<!--<li><a href="Javascript:void(0)" class="link" [routerLink]="['/underconstruction']">Resources</a></li> -->
					<li><a href="Javascript:void(0)" [routerLink]="['/customer']" class="link">Employers</a></li>
					<li><a href="Javascript:void(0)" [routerLink]="['/HiringAgencies']" class="link">Hiring Agencies</a></li>
					<li><a href="Javascript:void(0)" [routerLink]="['/Freelancerecruiters']" class="link">Freelance Recruiters</a>
					</li>
					<li><a class="link" href="Javascript:void(0)" [routerLink]="['/candidate']">Job Seekers</a></li>
					<li><a class="link" href="Javascript:void(0)" [routerLink]="['/pricing']">Pricing</a></li>

				</ul>
			</div>
			<div class="col-md-3 col-sm-12  col-xs-12 ">
				<ul class="footer-links">
					<li><a href="Javascript:void(0)" [routerLink]="['/aboutus']" class="link">About us</a></li>
					<li><a class="link" href="Javascript:void(0)" [routerLink]="['/insights']" [queryParams]="{ i:'Blogs'}">Blogs</a>
					</li>
					<!-- <li><a class="link" href="Javascript:void(0)" [routerLink]="['/newsandevents']"> News</a></li> -->
					<li><a class="link" href="Javascript:void(0)" [routerLink]="['/insights']" [queryParams]="{ i:'News'}"> News</a></li>
					<li><a class="link" href="Javascript:void(0)" [routerLink]="['/insights']" [queryParams]="{ i:'Whitepapers'}">Whitepapers</a></li>

				</ul>
			</div>
			<!-- <div class="col-md-2 col-sm-12">
				<ul class="footer-links">
						<li><a class="link active" href="Javascript:void(0)" [routerLink]="['/featuresdetail']">Features</a>
						</li>
						<li><a class="link" href="Javascript:void(0)" [routerLink]="['/candidate']">Find a Job</a></li>
						<li><a class="link" href="Javascript:void(0)" [routerLink]="['/customer']">Hire Talent</a></li>
						<li><a class="link" href="Javascript:void(0)" [routerLink]="['/candidate']">Refer &amp; Earn</a>
						</li>
						<li><a class="link" href="Javascript:void(0)" [routerLink]="['/FeatureVideoSizzle']">Video Sizzle</a></li>
				</ul>
       </div> -->
			<div class="col-md-3 col-sm-12  col-xs-12 s-hide">
				<ul class="contact-info">
					<li><img src="../../../../assets/images/location-pin-icon.svg" alt="Location"> 11675 Jollyville Rd #126,
						Austin, TX 78759
					</li>
					<li><img src="../../../../assets/images/phone-icon.svg" alt="Phone">
						<a href="tel:1-855-4-ARYTIC">1-855-4-ARYTIC</a>
					</li>
					<li><img src="../../../../assets/images/email-icon.svg" alt="Mail"><a href="mailto:info@Arytic.com">
							info@Arytic.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="bottom-footer hidden">
	<div class="container">
		<div class="row justify-space-between align-items-center">
			<div class="s-show">
				<div class="col-sm-12">
					<ul class="contact-info ">
						<li><img src="../../../../assets/images/location-pin-icon.svg" alt=""> 11675 Jollyville Rd #126, Austin, TX
							78759
						</li>
						<li><img src="../../../../assets/images/phone-icon.svg" alt="">
							<a href="tel:1-855-4-ARYTIC">1-855-4-ARYTIC</a>
						</li>
						<li><img src="../../../../assets/images/email-icon.svg" alt=""><a href="mailto:info@Arytic.com">
								info@Arytic.com</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-md-12  col-xs-12">© {{getCurrentYear}} - All Rights with Arytic</div>
			<div class="col-lg-6 col-md-12 col-xs-12">
				<nav class="nav bottom-nav">
					<li class="nav-item"><a href="Javascript:void(0)" [routerLink]="['/PrivacyPolicy']" class="nav-link">Privacy
							Policy</a></li>
					<li class="nav-item"><a href="Javascript:void(0)" [routerLink]="['/disclaimer']"
							class="nav-link">Disclaimer</a></li>
					<li class="nav-item"><a href="Javascript:void(0)" [routerLink]="['/contactus']" class="nav-link">Contact
							Us</a></li>
				</nav>
			</div>
		</div>
	</div>
</div>

<footer id="footer" role="contentinfo">
	<div class="top-footer">
		<div class="container">
			<div class="row flex flex-wrap flex-align-equal">
				<div class="col-sm-3 about-col">
					<div class="col-container">
						<a href="#" class="footer-logo">
							<img src="assets/images/logo-white.png" alt="Arytic" />
						</a>
						<div class="info-box">
							Arytic is your next generation real-time analytics and predictive insights hiring platform that usaes our
							proprietary artificial intelligence and machine learning engine.

							<div class="social">
								<ul>
									<li><a title="Facebook" href="https://www.facebook.com/pages/category/Software-Company/Arytic-1020867084767229/"
											target="_blank"><i class="fa fa-facebook" aria-hidden="true"><em class="visible-hidden sr-only">Facebook</em></i></a></li>
									<li><a title="Twitter" href="https://twitter.com/aryticusa" target="_blank"><i
												class="fa fa-twitter" aria-hidden="true"><em class="visible-hidden sr-only">Twitter</em></i></a></li>
									<li><a title="Linked In" href="https://www.linkedin.com/company/14575684" target="_blank"><i
												class="fa fa-linkedin" aria-hidden="true"><em class="visible-hidden sr-only">LinkedIn</em></i></a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-3 menu-col">
					<div class="col-container">
						<div class="menu-title">Services</div>
						<div class="menu-box">
							<ul class="footer-links">
								<li><a class="link" href="https://arytic.com/customer">Employers</a></li>
								<li><a class="link" href="/HiringAgencies">Hiring Agencies</a></li>
								<li><a class="link" href="https://arytic.com/Freelancerecruiters">Freelance Recruiters</a></li>
								<li><a class="link" href="https://arytic.com/candidate">Jobseekers</a></li>
								<li><a class="link" href="https://arytic.com/pricing">Pricing</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-3 menu-col">
					<div class="col-container">
						<div class="menu-title">Quick Links</div>
						<div class="menu-box">
							<ul class="footer-links">
								<li><a class="link" href="https://arytic.com/aboutus">About us</a></li>
								<li><a class="link" href="/insights?i=Blogs">Blogs</a></li>
								<li><a class="link" href="/insights?i=News"> News</a></li>
								<li><a class="link" href="/insights?i=Whitepapers">Whitepapers</a></li>
								<li><a class="link" href="Javascript:void(0)" [routerLink]="['/users-list']">Admin login</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-3 contact-col">
					<div class="col-container">
						<div class="menu-title">Contact Us</div>
						<div class="info-navigation">
							<ul>
								<li class="address">
									<a href="https://goo.gl/maps/Q6Dd4Bxfsb6WtPv66" target="_blank"><img
											src="../../../assets/images/map-icon.png" alt="" />
										11675 Jollyville Rd #126, Austin, TX 78759</a>
								</li>
								<li class="phone">
									<a href="tel:+18554279842"><img src="../../../assets/images/phone-icon.png" alt="" />
										1-855-4-ARYTIC</a>
								</li>
								<li class="mail">
									<img src="../../../assets/images/mail-icon.png" alt="" />
									<a href="mailto:info@Arytic.com">info@Arytic.com</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="container">
			<div class="row flex flex-wrap flex-align-center">
				<div class="col-sm-6">© {{getCurrentYear}} - All Rights with Arytic</div>
				<div class="col-sm-6">
					<ul class="fmenu">
						<li><a href="https://arytic.com/contactus">Contact Us</a></li>
						<li><a href="https://arytic.com/disclaimer">Disclaimer</a></li>
						<li><a href="https://arytic.com/PrivacyPolicy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>