<!-- <body class="signpage"> -->
        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate"
        > 
        </ngx-spinner>
<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-6 content-left sl-hide">
            <div class="content-left-wrapper">
                <div class="jobs_hide">
                    <h2>Step into the Future of Hiring with Arytic.</h2>

                       <h3> <p>
                        Here, we just don’t stop with Skill.
                        
                        Take a step ahead to Hire with a right Personality, Culture and Job fit.
                        
                        Because, It's just not Hiring. You are actually building your future.
                       </p></h3>
                    <img src="../../../assets/images/ai-recruiting-system.svg"  alt="Hiring Leader" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-lg-6 content-right recrit_div " id="start">
            <div id="wizard_container">
                <div id="top-wizard">
                    <div id="progressbar"></div>
                </div>
                <!-- <a href="index-2.html" id="logo"><img src="img/arytic-logo-contrast.png" alt="" width="49" height="35"></a> -->
                <!-- /top-wizard -->
                <div id="hiring_login">
                    <div class="logo">
                        <a href="">
                            <img src="/assets/images/arytic-logo-2019.png" alt="Arytic Logo" title="Arytic Logo">
                        </a>
                    </div>
                    <div class="sl-show hidden">
                        <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                    </div>
                    <div class="step animated slideInRight" style="text-align:left">
                            
                        <h2 class="main_question mb--5">
                            Welcome <span class="sl-text-show hidden">Hiring Leader</span>!!! Login here.
                        </h2>
                        <div *ngIf="show" class="alert alert-danger">
                            Email not registered.
                        </div>
                        <form [formGroup]="loginform" (ngSubmit)="validateEmail()">
                            <div class="form-group spt-2">
                                <input type="email" class="form-control" [pattern]="emailPattern" placeholder="Email Address" [formControl]="loginform.controls['username']" (keypress)="MissClear()" (keyup)="MissClear()" oninput="this.value = this.value.toLowerCase()">

                            </div>
                            <div class="form-group" id="show_hide_password">
                                <input class="form-control" id="password" type="password" name="password1" placeholder="Password" [formControl]="loginform.controls['password']">
                                <span>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-eye-slash" style="color:black" aria-hidden="true">
                                            </i>
                                        </a>
                                    </span>
                            </div>
                            <div class="text-right">
                                <div class="d-flex justify-content-between">

                                   <small> <a href="javascript:void(0)" [routerLink]="['/ForgotPassword']">Forgot password</a></small>
                                   <small><a href="Javascript:void(0)" [routerLink]="['/customersignup']">I don't have an account?</a></small>

                                </div>
                                <div class="spt-2">
                                    <button type="submit" class="btn2 pull-right"  (click)="loginstyle()"  [class.spinner]="loading">Login </button>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row s-s-btns c-s-s-btns">
                            <!-- <div class="col-md-12">
                                <h6>(OR)</h6>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-google" >
                                    <i class="fa fa-google" aria-hidden="true" ></i>
                                    <a href="http://localhost:12167/api/GooglePlusCallback">Continue with Google</a>
                                </button>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-linkedin"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i>
                                        <a href="http://localhost:12167/api/LinkdinCallback">Continue with LinkedIn</a>
                                         </button>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-facebook"><i class="fa fa-facebook"
                                        aria-hidden="true"></i>
                                        <a href="http://localhost:12167/api/Facebook"> Continue with Facebook</a>
                                   </button>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
            <!-- /Wizard container -->
        </div>
    </div>
</div>
<!-- </body> -->