<div class="container-fluid full-height">
   <div class="row row-height">
      <div class="col-lg-6 content-left sl-hide">
         <div class="content-left-wrapper">
            <div class="jobs_hide animated slideInLeft">
               <h2>I'm here for Hiring</h2>
               <img src="../../../assets/images/ai-recruiting-system.svg"  alt="Hiring Leader" class="img-fluid">
            </div>
         </div>
      </div>
      <div class="col-lg-6 content-right recrit_div animated slideInRight" id="start">
         <div id="wizard_container">
            <div id="top-wizard">
               <div id="progressbar"></div>
            </div>
            <!-- <a href="index-2.html" id="logo"><img src="img/arytic-logo-contrast.png" alt="" width="49" height="35"></a> -->
            <!-- /top-wizard -->
            <div id="hiring_login">
               <div class="logo">
                  <a href="">
                     <img class="side-logo" src="/assets/images/arytic-logo-2019.png" alt="Arytic Logo" title="Arytic Logo">
                  </a>
               </div>

               <div class="step" style="text-align:left">
                  <h2 class="main_question text-left">
                     Reset Password !
                  </h2>
                  <div class="profile-link-text"  *ngIf="companieslist.length > 0">Your profile linked to below companies Please select which one would you like to reset password</div>

                  <form id="wrapped" [formGroup]="Resetform" (ngSubmit)="Send()">
                     <!-- Leave for security protection, read docs for details -->

                     <div class="revamp__processed__section.xs__section" *ngIf="companieslist.length > 0">
                        <div class="revamp__processed__section xs__section">
                            <div class="listing__box__container">
                                <div class="row flex flex-wrap">
                                    <div class="col-sm-12">
                                        <div class="row scroll__row flex flex-wrap flex-align-equal">

                                          <ng-container *ngFor="let com of companieslist">
                                             <div class="col-sm-4 col tile-container">
                                                <input type="radio" name="radio1" [attr.id]="com.CustomerId" [value]="com.CustomerId" (click)="checkId(com.CustomerId,com.CandidateIdentifier)">
                                                <label   class="free-label four col label-tile"  class="col__container" [attr.for]="com.CustomerId">

                                                   <ng-container *ngIf="com.CompanyName.toLowerCase() === 'arytic'">
                                                   <figure>
                                                      <img
                                                        src="../../../assets/images/arytic-robot-color.png"
                                                        alt=""
                                                      />
                                                    </figure>
                                                    <h4>Arytic</h4>
                                                   </ng-container>
                                                 <ng-container *ngIf="com.CompanyName.toLowerCase() != 'arytic'">
                                                   <figure>
                                                      <img
                                                        [src]="
                                                          'https://identityapi-dev.arytic.com/home/EsolvitImages?id=' +
                                                          com?.CompanyLogo
                                                        "
                                                        alt=""
                                                      />
                                                    </figure>
                                                    <h4>{{ com?.CompanyName }}</h4>
                                                </ng-container>
                                             </label>

                                             </div>

                                         </ng-container>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- hiring id _forgot -->
                     <div id="hiring_forgot">

                        <a href="javascript:void(0)" (click)="Login()" class="haringf_close">
                           <img class="cancel-icon" src="../../../assets/images/cancel.svg" width="32"></a>
                        <div class="step">

                           <div class="form-group p-rel">
                              <input class="form-control" id="password" type="password" name="Password"
                                 placeholder="Password" formControlName="Password">
                              <div
                                 *ngIf="Resetform.controls['Password'].invalid && (Resetform.controls['Password'].dirty || Resetform.controls['Password'].touched)"
                                 class="error1">
                                 <div *ngIf="Resetform.controls['Password'].errors.required">
                                    Password is required.
                                 </div>
                                 <small *ngIf="Resetform.controls['Password'].errors.password>0">
                                    Password should contain at least 6 from the following one digit, one lower case, one
                                    upper case, one special character
                                 </small>
                              </div>
                           </div>
                           <div class="form-group p-rel">
                              <input type="password" id="confirmPassword" formControlName="ConfirmPassword"
                                 placeholder="Confirm Password" class="form-control">
                              <div
                                 *ngIf="Resetform.controls['ConfirmPassword'].invalid && (Resetform.controls['ConfirmPassword'].dirty || Resetform.controls['ConfirmPassword'].touched)"
                                 class="error1">
                                 <small *ngIf="Resetform.controls['ConfirmPassword'].errors.required">
                                    Passwords must match Confirm Password is required.
                                 </small>
                                 <small *ngIf="Resetform.controls['ConfirmPassword'].errors.password>0">
                                    Confirm Password should contain at least 6 from the following one digit, one lower
                                    case, one upper case, one special character
                                 </small>
                              </div>
                           </div>
                           <recaptcha
                           [formControl]="myRecaptcha"
                         ></recaptcha>
                           <div class="text-right">
                              <div class="spt-2">
                                 <button type="submit" class="btn2 pull-right">Reset</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- hiring id _forgot -->
                     <!-- /middle-wizard -->
                     <!-- /bottom-wizard -->
                  </form>
               </div>
            </div>
         </div>
         <!-- /Wizard container -->
      </div>

   </div>
</div>
