<body class="homepage pricing-page">
    <section class="bg-white">
         <!-- Canada News -->
         <div class="container hidden-blog" style="display: block;" id="COLLISION">
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <a href="javascript:void(0)" class="goback">
                <small>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    BACK TO Insights
                </small>
            </a>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="demo-video">
                <div class="play-border">
                   <a data-toggle="modal" data-target="#videoModalCenter" class="link-block-6 w-inline-block">
                      <div class="play-button-inner"><img src="../../../assets/images/Triangle.svg" alt=" Play button" width="26" class="green-play-button"></div>
                   </a>
                </div>
                <img src="../../../assets/images/collision/arytic-news-collision-2.jpg" alt="Video thumbnail"  class="video_bg" style="width:100%">
             </div>
            <div class="w-768 m-auto">
                    <div class="clearfix">&nbsp;</div>
                    <div class="m-auto">
                        <h1 class="display-4">Arytic exhibiting at COLLISION, Toronto-Canada World Technology Trade Show</h1>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row justify-content-between">
                            <div class="t-color col-6">
                                    <div class="media">
                                        <div class="align-self-center mr-3">
                                            <div>
                                                <img src="../../../assets/images/favicon.png" alt="arytic">
                                            </div>
                                        </div>
                                            <div class="media-body">
                                              <h5 class="author">Posted by Arytic</h5>
                                            </div>
                                          </div>
                            </div>
                            <div class="date col-6">
                                <span class="t-color">
                                        May 20, 2019
                                </span>
                            </div>
                        </div>
                     
                        
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    
                    <p><strong>The Collision Conference,</strong> 
                        one of the largest gatherings of entrepreneurs on the continent, is often described as the fastest growing technology conference in North America. Along with being the sister event of the Web Summit.  Collision attracts more than 25,000 attendees from over 120 countries. The event brings together people and companies which are redefining the global tech industry.
                    </p>
                    <p>The event kicked off with a warm welcome from Justin Trudeau, the Prime Minister of Canada, and the Mayor of Toronto, John Tory.  They were followed by keynote speeches from Ev Williams (Medium Founder), Seth Rogan, Ryan Holmes (Hootsuite Founder), Tobias Lütke (Shopify CEO), and Joseph Gordon-Levitt. The Arytic team is so honored to be a part of the Collision Conference 2019. </p>
                    <p>At the conference, we had the chance to speak to leaders in technology from around the world about the innovative products there. It was especially a great experience to exhibit our product, Arytic, here at the conference. We were glad to have many valuable interactions with some prominent investors and other technology leaders. The Collision Conference has truly been a platform of learning for us, not only because we saw new technologies, but also because we were able to appreciate the culture of innovation and entrepreneurship. </p>
                   
                    <figure>
                        <img class="w-100"
                            src="../../../assets/images/collision/arytic-news-collision-3.jpg"
                            alt="arytiC">
                        <figcaption>Arytic team at Collision conference 2019
                        </figcaption>
                    </figure>
                    
                    <h3>What is Arytic.?</h3>
                    <p>
                            In our years of experience running a software contracting company, we have learned much about the industry and what drives it.<strong> For companies, obtaining the desired results is all that really matters.</strong> Consequently, to get the right outcome, we need to have the right talent in the right place.     
                    </p>
                    <p>Yes, we all should accept that only the right hiring, produces the desired output.</p>
                   <p>I know that many of us have been very successful in finding talent through the traditional way of recruitment. This process has yielded many promising employees and successful projects. However, there were also cases that made us feel we had made a mistake in our hiring decision. </p>
                    <p>But why? Hasn’t the candidate been thoroughly vetted? Wasn’t the candidate interviewed properly? Didn’t we go through the same process we always do? To all these questions: yes. But this isn’t enough. We need to go further and analyze the <strong>Attitude, Cultural Fit, and Social Personality</strong> of the candidate as well. It is of no surprise that these qualities matter a lot in today's corporate world!</p>
                    <p>Can’t our traditional recruitment process overcome this? Well yes, it certainly can. But the problem is <strong>Time!  And time is money.</strong> We also came across this problem and the idea of <strong>Arytic was born.!</strong></p>

                    
                    <h3>Arytic is the Next Gen AI-Powered Hiring Platform. </h3>
                    <p>Arytic is an <strong>AI-powered model that has the capability to eliminate many of the intermediaries of the recruiting process</strong> producing the most intelligent matches with <strong> fit, personality and culture fit</strong> driven by social networks and associated <strong> incentives.</strong>  </p>
                    <p>With the Arytic platform, Employers, Hiring Agencies and Freelance Recruiters can mutually benefit not only by finding uncompromising quality talent but also by sharing the talent they have so everyone can <strong> their average hiring time by 50%.</strong></p>
                    <p>Arytic also helps Job Seekers find their dream by providing the most suitable job matches and also by helping them improve with intelligent profile analytics. Arytic also encourages Job Seekers with <strong>referral bounties,</strong> where they can refer the best match for any Job to their friends or to a chain of social networks.</p>
                    <figure>
                        <img class="w-100" src="../../../assets/images/collision/arytic-news-collision-4.jpg"
                            alt="arytiC">
                        <figcaption>Arytic at Collision Conference </figcaption>
                    </figure>
                    <div class="clearfix">&nbsp;</div>
    
                   
            </div>

           
            <div class="clearfix">&nbsp;</div> 
        </div>
        <!-- Canada News -->
            </section>
                <!-- Modal -->
<div class="modal fade" id="videoModalCenter" tabindex="-1" role="dialog" aria-labelledby="videoModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <span class="close top" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </span>
      <div class="modal-content">
        
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" id="ourVideo"  src="https://www.youtube.com/embed/E1FshVhhDMo?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        
        
      </div>
    </div>
  </div>
            </body>

