<body class="signpage">
    <div class="container-fluid full-height">
       <div class="row row-height">
          <div class="col-lg-6 content-left sl-hide">
             <div class="content-left-wrapper">
                <div class="jobs_hide">
                   <h2 class="main__title">Forgot Password</h2>
                   <figure><img src="../../../assets/images/dashboard-job-wall.svg" width="400" alt="" class="img-fluid"></figure>
                </div>
             </div>
          </div>
          <div class="col-lg-6 content-right recrit_div " id="start">
             <div id="wizard_container">
                <div id="top-wizard">
                   <div id="progressbar"></div>
                </div>
                <!-- <a href="index-2.html" id="logo"><img src="img/arytic-logo-contrast.png" alt="" width="49" height="35"></a> -->
                <!-- /top-wizard -->
                <div id="hiring_login">
                   <div class="logo sl-hide">
                      <a href="">
                           <img src="/assets/images/arytic-logo-2019.png" alt="Arytic Logo" title="Arytic Logo">
                      </a>
                   </div>
                   <a href="Javascript:void(0)" [routerLink]="['/layout']" class="haringf_close"><img src="../../../assets/images/cancel.svg"
                      width="32"></a>
                   <div class="step animated slideInRight" style="text-align:left">
                      <form id="wrapped" [formGroup]="Forgotform" (ngSubmit)="Send()">
                         <!-- Leave for security protection, read docs for details -->
 
 
                         <!-- hiring id _forgot -->
                         <div class="animated step text-center" id="hiring_forgot">
 
                           <div class="sl-show ml-hidden pb-4">
                              <a href="">
                                 <img src="/assets/images/arytic-logo-2019.png" alt="Arytic Logo" title="Arytic Logo">
                              </a>
                           </div>
                            <div class="step" *ngIf="!ForgotPasswordNew">
                               <h2 class="main_question main__title">
                                  Forgot Your Password !!! </h2>
                               <div class="form-group mst-2">
                                  <input type="email" class="form-control" placeholder="Enter Your Email Address"
                                     [formControl]="Forgotform.controls['EmailId']">
                               </div>
                               <div class="text-ml-right text-sl-center">
                                  <div>
                                     <button type="submit" class="btn2">Send</button>
                                  </div>
                               </div>
                            </div>

                            <div class="step" *ngIf="ForgotPasswordNew">
                                <img src="../../../../assets/images//handshake.png" class="text-center">
                                <h6 class="namecolor mb-4">You will soon receive an Email with Activation URL for Arytic. Thanks for visiting with Arytic!! </h6>
        
                                <button type="button" id="login-button" [routerLink]="['/']"
                                                        class="btn2">Explore Arytic</button>
                            </div>
                         </div>
                                        
         
                         <!-- hiring id _forgot -->
                         <!-- /middle-wizard -->
                         <!-- /bottom-wizard -->
                      </form>


                   </div>
                </div>
             </div>
             <!-- /Wizard container -->
          </div>
 
       </div>
    </div>
 
 </body>