.signpage h2, h2.main_question {
  font-size: 1.5rem;
  color: #475B66;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  position: relative;
  top: 23px;
}

.signpage h2.main__title {
  top: 0 !important;
  margin:0 0 20px !important;
}
