<body class="homepage pricing-page">


        <section class="privacy-policy contact-us section">
            <div class="container">
                <h1 class="text-center">Contact Us</h1>
                <p>Contact Us</p>
                <h2>Do you want to be part in the Advanced Recruitment era?</h2>

                <p>New Business Enquiries</p>
                <a href="tel:1-855-4-ARYTIC">
                        <h2>1-855-4-ARYTIC</h2>
                    </a>

                <p>Write Us</p>
                <a href="mailto:info@Arytic.com">
                    <h2>info@Arytic.com</h2>
                </a>

                <p>Reach Us</p>
                <h2>11675 Jollyville Rd #126, Austin, TX 78759</h2>

            </div>

        </section>




    </body>
