<body class="features-detail-page">

        <section class="banner section">
            <img class="bg" src="../../../assets/images/features-detail-banner-bg.png" alt="">
            <div class="container">
                <div class="row align-items-top justify-content-between">
                    <div class="col-md-6 col-sm-12">
                        <p>Keep Earning: Hiring Bonus (up to $1,000) and Residual Referral Incentives.</p>
                        <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Apply Now</a>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                        <img class="img-fluid" src="../../../assets/images/social-referral.svg" alt="AI Recruiting System"
                            title="AI Recruiting System">
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="clientele">
            <div class="container">
                <h5>The world’s best startups build teams on Arytic</h5>
                <img class="img-fluid" src="../../../assets/images/clients-2.png" alt="">
            </div>
        </section> -->
        <section class="how-incentive-system-works section">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">How Our Incentive System Works</h2>
                    <p>
                        As a celebratory congratulations to you for crossing the finish line of the process, we pay you a
                        hiring
                        bonus.
                    </p>
                </div>
                <div class="video-wrapper">
                    <!-- TODO: Video Player -->
                    <img class="video img-fluid" src="../../../assets/images/video-placeholder.png" alt="">
                    <p class="video-caption">Video: Jesse explains how our incentive system works.</p>
                </div>
            </div>
        </section>
        <section class="apply-now-banner section">
            <div class="container">
                <div class="apply-now-banner-inner align-items-center justify-content-between">
                    <p>Join hands with Next Gen AI Predictive Hiring Platform.</p>
                    <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </section>
        <section class="feature-list section">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">Lorem Ipsum Dolor Sit Amet</h2>
                    <p>
                        Lorem ipsum dolor sit amet, has ei idque tritani salutatus. Quo essent elaboraret in Lorem ipsum
                        dolor sit
                        amet.
                    </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <img class="img-fluid" src="../../../assets/images/features-list-details-page.svg" alt="">
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <div class="item">
                            <h2>Get Incentives</h2>
                            <p>As a celebratory congratulations to you for crossing the finish line of the process, we pay
                                you a bonus.
                            </p>
                        </div>
                        <div class="item">
                            <h2>No Limits</h2>
                            <p>There is no limit to the number of referral bonuses you can earn. No. of bonuses is
                                unlimited. You get a
                                bonus every time.</p>
                        </div>
                        <div class="item">
                            <h2>We Like to Appreciate</h2>
                            <p>Your personal testimony plays an enormous role in our growth process, and we want to reward
                                you for it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="graph-section section">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">Graphs</h2>
                    <p>
                        Lorem ipsum dolor sit amet, has ei idque tritani salutatus. Quo essent elaboraret in Lorem ipsum
                        dolor sit
                        amet.
                    </p>
                </div>
                <div class="graph-tabs">
                    <div class="tab-content" id="graphTabsContent">
                        <div class="tab-pane fade show active" id="step-1" role="tabpanel" aria-labelledby="step-1-tab">
                            <img class="img-fluid" src="../../../assets/images/graph.png" alt="">
                        </div>
                        <div class="tab-pane fade" id="step-2" role="tabpanel" aria-labelledby="step-2-tab">
                            <img class="img-fluid" src="../../../assets/images/graph.png" alt="">
                        </div>
                        <div class="tab-pane fade" id="step-3" role="tabpanel" aria-labelledby="step-3-tab">
                            <img class="img-fluid" src="../../../assets/images/graph.png" alt="">
                        </div>
                        <div class="tab-pane fade" id="step-4" role="tabpanel" aria-labelledby="step-4-tab">
                            <img class="img-fluid" src="../../../assets/images/graph.png" alt="">
                        </div>
                    </div>
                    <ul class="nav nav-tabs" id="graphTabs" role="tablist">
                        <li class="nav-item completed">
                            <a class="nav-link active" id="step-1-tab" data-toggle="tab" href="#step-1" role="tab"
                                aria-controls="step-1" aria-selected="true"><span>Step 1</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-2-tab" data-toggle="tab" href="#step-2" role="tab"
                                aria-controls="step-2" aria-selected="false"><span>Step 2</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-3-tab" data-toggle="tab" href="#step-3" role="tab"
                                aria-controls="contact" aria-selected="false"><span>Step 3</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-4-tab" data-toggle="tab" href="#step-4" role="tab"
                                aria-controls="contact" aria-selected="false"><span>Step 4</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section> -->
        <section class="more-features section">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">More Features </h2>
                    <p>
                        Dive into our Artificial Intelligence Recruiting Features. 
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                            <img class="img-fluid" src="../../../assets/images/more-features-1.png" alt="">
                            <h3>Not a job search, but a Personalized lifestyle match</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                            <img class="img-fluid" src="../../../assets/images/more-features-2.png" alt="">
                            <h3>Personality test for best work culture match</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                            <img class="img-fluid" src="../../../assets/images/more-features-3.png" alt="">
                            <h3>Real Time Status Updates</h3>
                        </div>
                    </div>
                </div>
                <div class="see-more">
                    <a href="Javascript:void(0)" [routerLink]="['/candidate']" class="see-more-link">
                        See more features <svg xmlns="http://www.w3.org/2000/svg" width="23.6" height="12">
                            <path
                                d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z"
                                fill="#b6c2d6" /></svg>
                    </a>
                </div>
            </div>
        </section>
     
    </body>