<div class=" revamp__customer__page" role="main">
	<div class="revamp__wrapper">
		<div class="revamp__sub__banner flex flex-wrap flex-align-center revamp__pricing__sub__banner">
			<div class="container">
				<div class="row">
					<div class="col-sm-5 content__col">
						<!-- <h2>Start Now, for free</h2>
						<h4>No Credit card required</h4> -->
					</div><!-- /.content__col -->
				</div>
			</div>
		</div><!-- /.revamp__sub__banner -->
		<div class="section revamp__pricing">
			<div class="container">
				<div class="top__box">
					<p>Our unique pricing model saves you money. We are confident in our product, so our monthly
						fees are low, and you only pay transaction fees after successful hires.</p>
				</div>
				<div class="revamp__pricing__table">
					<div class="row">
						<div class="col-sm-3">
							<div class="td__container td__heading">
								<div class="td__col td__icon__col td__light">
									<div class="box__col">
										<h3>Contact Us</h3>
										<a  class="btn btn-link" href="javascript:void(0)" data-toggle="modal"
										data-target=".enquirenow" (click)="Demo()">Get Started</a>
									</div>
									
								</div>
								<div class="td__col first__row no_border_bottom">
									<h4>Number of job listings</h4>
								</div>
								
								<div class="td__col no_border_bottom mt-10-pricing-row">
									<h4>Unlimted Users</h4>
								</div>
								<div class="td__col no_border_bottom">
									<h4>Concierge Recruiter</h4>
								</div>
								<div class="td__col no_border_bottom">
									<h4>Transaction Fees<br/><span class="transaction-crowdsourcing-text">Only for Arytic Crowdsourcing</span></h4>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="td__container td__content">
								<div class="td__col td__icon__col no_border_bottom">
									<div class="box__col">
										<h3>Starter <span>Free</span></h3>
										<a  href="javascript:void(0)" class="btn btn-primary" (click)="signUp(1)">Choose Plan</a>
									</div>
								</div>
								<div class="td__col first__row">
									3
								</div>
							</div>
							
							<div class="td__container td__content mt-10-pricing-row">
								<div class="td__col">
									<i class="fa fa-times-circle" aria-hidden="true"></i>
								</div>
							</div>
							<div class="td__container td__content">
								<div class="td__col">
									<i class="fa fa-times-circle" aria-hidden="true"></i>
								</div>
							</div>
							<div class="td__container td__content">
								<div class="td__col">
									8%
								</div>
							</div>
							<div class="td__container td__content last__child">
								<div class="td__col no_border_bottom">
									<a  href="javascript:void(0)" class="btn btn-primary" (click)="signUp(1)">Choose Plan</a>
								</div>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="td__container td__content">
								<div class="td__col no_border_bottom td__icon__col">
									<div class="box__col">
										<h3>Growth <span>$99.99</span></h3>
										<a  href="javascript:void(0)" class="btn btn-primary" (click)="signUp(2)">Choose Plan</a>
									</div>
								</div>
								<div class="td__col first__row">
									10
								</div>
							</div>
							
							<div class="td__container td__content mt-10-pricing-row">
								<div class="td__col">
									<i class="fa fa-check-circle" aria-hidden="true"></i>
								</div>
							</div>
							<div class="td__container td__content">
								<div class="td__col">
									<i class="fa fa-check-circle" aria-hidden="true"></i>
								</div>
							</div>
							<div class="td__container td__content">
								<div class="td__col">
									7%
								</div>
							</div>
							<div class="td__container td__content last__child">
								<div class="td__col no_border_bottom">
									<a  href="javascript:void(0)" class="btn btn-primary" (click)="signUp(2)">Choose Plan</a>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="td__col td__icon__col no_border_bottom">
								<div class="box__col">
									<h3>Enterprise <span>Flexible</span></h3>
									<a  href="javascript:void(0)" class="btn btn-primary" (click)="signUp(3)">Choose Plan</a>
								</div>
								
							</div>
							
							<div class="td__container td__content">
								<div class="td__col first__row">
									Unlimited
								</div>
							</div>
							<div class="td__container td__content mt-10-pricing-row">
								<div class="td__col">
									<i class="fa fa-check-circle" aria-hidden="true"></i>
								</div>
							</div>
							<div class="td__container td__content">
								<div class="td__col">
									<i class="fa fa-check-circle" aria-hidden="true"></i>
								</div>
							</div>
							<div class="td__container td__content">
								<div class="td__col">
									Flexible
								</div>
							</div>
							<div class="td__container td__content last__child">
								<div class="td__col no_border_bottom">
									<a href="javascript:void(0)" class="btn btn-primary" (click)="signUp(3)">Choose Plan</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="revamp__accordion__pricing">
					<div class="accordion" id="acoordionTwo">
						<div class="card">
						  <div class="card-header" id="headingStarterOne">
							<h2 class="mb-0">
							  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseStarterOne" aria-expanded="true" aria-controls="collapseStarterOne">
								Starter (Free)
							  </button>
							</h2>
						  </div>
					  
						  <div id="collapseStarterOne" class="collapse show" aria-labelledby="headingStarterOne" data-parent="#acoordionTwo">
							<div class="card-body">
								<ul>
									<li>
										<h4>Number of job listings per month :  3</h4>
									</li>
									<li>
										<h4>Commission candidate placed: 8%</h4>
									</li>
									<li><h4>Exclusive Recruiter: <i class="fa fa-times-circle" aria-hidden="true"></i></h4></li>
								</ul>
							</div>
						  </div>
						</div>
						<div class="card">
						  <div class="card-header" id="headingBasicOne">
							<h2 class="mb-0">
							  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseBasicOne" aria-expanded="false" aria-controls="collapseBasicOne">
								Growth ($99.99)
							  </button>
							</h2>
						  </div>
						  <div id="collapseBasicOne" class="collapse" aria-labelledby="headingBasicOne" data-parent="#acoordionTwo">
							<div class="card-body">
								<ul>
									<li>
										<h4>Number of job listings per month :  10</h4>
									</li>
									<li>
										<h4>Commission candidate placed: 7%</h4>
									</li>
									<li><h4>Exclusive Recruiter: <i class="fa fa-check-circle" aria-hidden="true"></i></h4></li>
								</ul>
							</div>
						  </div>
						</div>
						<div class="card">
							<div class="card-header" id="headingInclusiveOne">
							  <h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseInclusiveOne" aria-expanded="false" aria-controls="collapseInclusiveOne">
								  Unlimited (Flexible)
								</button>
							  </h2>
							</div>
							<div id="collapseInclusiveOne" class="collapse" aria-labelledby="headingInclusiveOne" data-parent="#acoordionTwo">
							  <div class="card-body">
								  <ul>
									  <li>
										  <h4>Number of job listings per month : Unlimited</h4>
									  </li>
									  <li>
										  <h4>Commission candidate placed: Flexible</h4>
									  </li>
									  <li><h4>Exclusive Recruiter: <i class="fa fa-check-circle" aria-hidden="true"></i></h4></li>
								  </ul>
							  </div>
							</div>
						  </div>
					  </div>
				</div>
			</div>
		</div>
		<div class="section revamp__pricing__details">
			<div class="container">
				<div class="top__box">
					<h4>Try free now for a full month, no credit card required.</h4>
				</div>
				<div class="revamp__pricing__list">
					<div class="row">
						<div class="col-sm-6">
							&nbsp;
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									<span class="heading">Starter</span>
								</div>
								<div class="col-sm-4">
									<span class="heading">Basic</span>
								</div>
								<div class="col-sm-4">
									<span class="heading">All Inclusive</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<h4>Arytic Manage</h4>
							<p>Develop robust relationships with yourcandidates and provide a positive application
								process</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>Arytic Recruit </h4>
							<p>Post open jobs and browse through candidate profiles.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>Arytic Fit</h4>
							<p>Let Arytic recommend the top matches based on up to five characteristics.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="text">Based on Skill, Industry and Location</span>
								</div>
								<div class="col-sm-4">
									<span class="text">Include Culture and Personality reports</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-sm-6">
							<h4>Arytic Crowdsource</h4>
							<p>Increase your exposure by incentivizing candidates to refer their social
								network connections and attracting passive candidates.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6 ">
							<h3>Arytic Addons</h3>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>Arytic Check</h4>
							<p>Reference and background checks.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>Video Sizzle</h4>
							<p>Employers and candidates can upload personal videos.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>Interview Scheduler</h4>
							<p>Let candidates choose their own interview time and date.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<h4>Virtual Recruiter Assistant</h4>
							<p>Arytic the robot will learn your preferences and is voice-activated.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>Advanced Job Wall</h4>
							<p>Condensed information shows your everything you need to make quick decisions.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>AI Hiring Predictor</h4>
							<p>Plan correctly with the right data.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>Job Post Reviews</h4>
							<p>Perfect your job descriptions by reading transparent reviews.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<h4>Advanced Resume Parsing</h4>
							<p>Technical data here and here.</p>
						</div>
						<div class="col-sm-6 big__col">
							<div class="row">
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									&nbsp;
								</div>
								<div class="col-sm-4">
									<span class="circle__dots">Dots</span>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="revamp__accordion__pricing">
					<div class="accordion" id="acoordionOne">
						<div class="card">
						  <div class="card-header" id="headingStarter">
							<h2 class="mb-0">
							  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseStarter" aria-expanded="true" aria-controls="collapseStarter">
								Starter
							  </button>
							</h2>
						  </div>
					  
						  <div id="collapseStarter" class="collapse show" aria-labelledby="headingStarter" data-parent="#acoordionOne">
							<div class="card-body">
								<ul>
									<li>
										<h4>Arytic Manage</h4>
										<p>Develop robust relationships with yourcandidates and provide a positive
											application process</p>
									</li>
									<li>
										<h4>Arytic Recruit</h4>
										<p>Post open jobs and browse through candidate profiles.</p>
									</li>
								</ul>
							</div>
						  </div>
						</div>
						<div class="card">
						  <div class="card-header" id="headingBasic">
							<h2 class="mb-0">
							  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseBasic" aria-expanded="false" aria-controls="collapseBasic">
								Basic
							  </button>
							</h2>
						  </div>
						  <div id="collapseBasic" class="collapse" aria-labelledby="headingBasic" data-parent="#acoordionOne">
							<div class="card-body">
								<ul>
									<li>
										<h4>Arytic Manage</h4>
										<p>Develop robust relationships with yourcandidates and provide a positive
											application process</p>
									</li>
									<li>
										<h4>Arytic Recruit</h4>
										<p>Post open jobs and browse through candidate profiles.</p>
									</li>
									<li>
										<h4>Arytic Fit</h4>
										<p>Let Arytic recommend the top matches based on up to five characteristics.</p>
									</li>
								</ul>
							</div>
						  </div>
						</div>
						<div class="card">
							<div class="card-header" id="headingInclusive">
							  <h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseInclusive" aria-expanded="false" aria-controls="collapseInclusive">
								  All Includsive
								</button>
							  </h2>
							</div>
							<div id="collapseInclusive" class="collapse" aria-labelledby="headingInclusive" data-parent="#acoordionOne">
							  <div class="card-body">
								  <ul>
									  <li>
										  <h4>Arytic Manage</h4>
										  <p>Develop robust relationships with yourcandidates and provide a positive
											  application process</p>
									  </li>
									  <li>
										  <h4>Arytic Recruit</h4>
										  <p>Post open jobs and browse through candidate profiles.</p>
									  </li>
									  <li>
										  <h4>Arytic Fit</h4>
										  <p>Let Arytic recommend the top matches based on up to five characteristics.</p>
									  </li>
									  <li>
										<h4>Arytic Crowdsource</h4>
										<p>Increase your exposure by incentivizing candidates to refer their social 
											network connections and attracting passive candidates.</p>
									</li>
									 <li>
										<h4>Arytic Check</h4>
										<p>Reference and background checks.</p>
									</li>
									<li>
										<h4>Arytic Check</h4>
										<p>Reference and background checks.</p>
									</li>
									<li>
										<h4>Video Sizzle</h4>
										<p>Employers and candidates can upload personal videos.</p>
									</li>
									<li>
										<h4>Interview Scheduler</h4>
										<p>Let candidates choose their own interview time and date.</p>
									</li>
									<li>
										<h4>Virtual Recruiter Assistant</h4>
										<p>Arytic the robot will learn your preferences and is voice-activated.</p>
									</li>
									<li>
										<h4>Advanced Job Wall</h4>
										<p>Condensed information shows your everything you need to make quick decisions.</p>
									</li>
								  </ul>
							  </div>
							</div>
						  </div>
					  </div>
				</div>
			</div>
		</div>
		<div class="section revamp__princing__number__grid">
			<div class="container">
				<div class="revamp__section__title text-center">
					<h3>Enterprise</h3>
					<p>Call today to ask about customized solutions for high-volume hiring.</p>
				</div>
				<div class="row flex flex-wrap flex-equal">
					<div class="col-sm-2">
						<div class="col__container">
							<span class="number">01</span>
							Custom features
						</div>
					</div>

					<div class="col-sm-2">
						<div class="col__container">
							<span class="number">02</span>
							Implementation plan
						</div>
					</div>
					<div class="col-sm-2">
						<div class="col__container">
							<span class="number">03</span>
							Dedicated account manager
						</div>
					</div>

					<div class="col-sm-2">
						<div class="col__container">
							<span class="number">04</span>
							Training and onboarding support
						</div>
					</div>
					<div class="col-sm-2">
						<div class="col__container">
							<span class="number">05</span>
							Flexible<br/> Pricing
						</div>
					</div>
				</div>
				<a class="btn btn-primary btn__primary" href="javascript:void(0)" data-toggle="modal"
							data-target=".enquirenow" (click)="Demo()">Talk to Us</a>
			</div>


		</div>
		<div class="section revamp__faqs">
			<div class="container">
				<div class="revamp__section__title text-center">
					<h4>FAQs</h4>
				</div>
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									Does pricing differ by country?
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" 
							data-parent="#accordion">
							<div class="card-body">
								<p>Currently Arytic is working within the United States. Mostly Texas based</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									<!-- <span class="revamp__faq__icon revamp__faq__icon__02">Icon</span> -->
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									Can I choose any package from the list?
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								<p>Yes! However, each higher level package enables more features that enhance your experience when using Arytic. Having more features allows you to have more freedom than the other packages. However, the more features in a package means it is more expensive</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									<!-- <span class="revamp__faq__icon revamp__faq__icon__03">Icon</span> -->
									Is there a setup fee?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
							data-parent="#accordion">
							<div class="card-body">
								<p>There are no setup fees, you simply pay the monthly fee and 7% of hires. </p>
								<!-- <p>Setup fee for candidates?</p> -->
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingFour">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									Is there a cancellation fee?
								</button>
							</h5>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							<div class="card-body">
								<p>No. However, if you are not satisfied with Arytic we encourage you to reach out to our management team so that we can help to better tailor Arytic to your business’ needs.</p>
							</div>
						</div>
					</div>
					<!-- <div class="card">
						<div class="card-header" id="headingFive">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									Why would I choose Arytic over other job platforms?
								</button>
							</h5>
						</div>
						<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							<div class="card-body">
								<p>Mission purpose / market purpose from ankith</p>
								<p>Also we can list feature of what the Ai can do and make life easier for everyone.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingSix">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									How much input is required by the customer to explain culture, job requirements, etc? 
								</button>
							</h5>
						</div>
						<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
							<div class="card-body">
								<p>The more detail an employer specifies in their job posting, the better candidates Arytic’s AI will be able to find. Having only a few details will result in a wide range of candidates that might not best fit the job. However, if there are more details, the AI will be able to find the very best candidates for the job.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingSeven">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									Is Arytic’s AI tailored to each customer it serves?
								</button>
							</h5>
						</div>
						<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
							<div class="card-body">
								<p>Arytic’s management team works closely with all customers to ensure maximum efficiency and success of the product. The management team is always available and ready to be hands on.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingEight">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									What role will our hiring team play in conjunction with Arytic?
								</button>
							</h5>
						</div>
						<div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
							<div class="card-body">
								<p>Arytic does not eliminate the need for hiring managers / HR departments completely but instead provides a supporting role to improve your hiring process by allowing you to find the best fitting employees faster.</p>
							</div>
						</div>
					</div> -->
					<!-- <div class="card">
						<div class="card-header" id="headingNine">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									How will I know if Arytic AI will find the right jobs for me? How will it know what to exactly find to tailor my likes?
								</button>
							</h5>
						</div>
						<div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
							<div class="card-body">
								<p>As long as you put in what you like in an employee, Ai will find the right person for the job. And the more details that are added will result in a more perfect candidate.</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>

		</div>
	</div>
	<div class="modal fade enquirenow" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<ng-container *ngIf="afterRequest">
					<div class="modal-header">
						<h4 class="modal-title">Enquire Now</h4>
						<button type="button" (click)="clear()" class="close" data-dismiss="modal"
							aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<img src="../../../../assets/images//handshake.png" class="text-center">
							<h6 style="color: #475B66;"> Thanks for showing interest in Arytic. we will get back to you
								Soon!!</h6>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Explore Arytic</button>
					</div>
				</ng-container>
				<ng-container *ngIf="!afterRequest">
					<div class="modal-header">
						<h4 class="modal-title">Enquire Now</h4>
						<button type="button" (click)="clear()" class="close" data-dismiss="modal"
							aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<form [formGroup]="Enquireform" (ngSubmit)="enquireNow()">
							<div class="form-group">
								<label for="enquirefirstname" class="visible-hidden">First Name</label>
								<input type="text" id="enquirefirstname" class="form-control" formControlName="FirstName"
									placeholder="First Name *" minlength=3
									onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
									required>
								<div *ngIf="Enquireform.controls['FirstName'].invalid && (Enquireform.controls['FirstName'].dirty || Enquireform.controls['FirstName'].touched)"
									class="error1">

									<div *ngIf="Enquireform.controls['FirstName'].errors.required">
										Required
									</div>

									<div *ngIf="Enquireform.controls['FirstName'].errors.minlength">
										Minimum 3 Characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="enquirelastname" class="visible-hidden">Last Name</label>
								<input type="text" class="form-control" formControlName="LastName" minlength=3
									placeholder="Last Name *" id="enquirelastname"
									onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
									required>
								<div *ngIf="Enquireform.controls['LastName'].invalid && (Enquireform.controls['LastName'].dirty || Enquireform.controls['LastName'].touched)"
									class="error1">
									<div *ngIf="Enquireform.controls['LastName'].errors.required">
										Required
									</div>
									<div *ngIf="Enquireform.controls['LastName'].errors.minlength">
										Minimum 3 Characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="enquirecompanyname" class="visible-hidden">Company Name</label>
								<input type="text" id="enquirecompanyname" class="form-control" formControlName="FollowUPBy" pattern="^\S.*$"
									placeholder="Company Name *" minlength=1 required>
								<div *ngIf="Enquireform.controls['FollowUPBy'].invalid && (Enquireform.controls['FollowUPBy'].dirty || Enquireform.controls['FollowUPBy'].touched)"
									class="error1">
									<div *ngIf="Enquireform.controls['FollowUPBy'].errors.required">
										Required
									</div>
									<div *ngIf="Enquireform.controls['FollowUPBy'].errors.minlength">
										Minimum 1 Character
									</div>
									<div *ngIf="Enquireform.controls['FollowUPBy'].errors.pattern">
										Invalid Company!
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="semail" class="visible-hidden">Email address</label>
								<input type="email" [pattern]="emailPattern" class="form-control" placeholder="Email *"
									oninput="this.value = this.value.toLowerCase()" autocomplete="new-email"
									formControlName="Email" required id="semail">
								<div *ngIf="Enquireform.controls['Email'].invalid && (Enquireform.controls['Email'].dirty || Enquireform.controls['Email'].touched)"
									class="error1">
									<div *ngIf="Enquireform.controls['Email'].errors.required">
										Required
									</div>
									<div *ngIf="Enquireform.controls['Email'].errors.pattern">
										Incorrect Email!
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" (click)="enquireNow()" class="btn btn-primary">Enquire Now</button>
					</div>
				</ng-container>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!---->
</div>