.revamp__princing__number__grid  { padding-bottom: 0;  }
.revamp__princing__number__grid p { font-size:18px; color:#202230; margin:10px 0; }
.revamp__princing__number__grid .col-sm-2 { flex:0 0 20%; max-width:20%;  }
.revamp__princing__number__grid .col__container { position:relative; box-shadow:5px 5px 20px rgba(110,129,158,0.2); font-size:16px; text-transform:uppercase; font-weight:bold; height:100%; padding:10px 10px 10px 30px; border-radius:6px; }
.revamp__princing__number__grid .number { color:#136482; width:32px; height:32px; border-radius:50%; background:#fff; border:2px solid #e6efff; display:block; position:absolute; left:-16px; top:15px; text-align:center; line-height:24px; font-size:13px; }
.revamp__princing__number__grid .btn { margin:40px auto 0; display:block; width:180px; }

.revamp__pricing__details .top__box h4 { font-size:22px; color:#202230; text-align:center; text-transform:uppercase; margin:0 0 40px; }
.revamp__pricing__list > .row { display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-flex-wrap:wrap; -moz-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; -webkit-align-items:stretch; -moz-align-items:stretch; -ms-align-items:stretch; -ms-flex-align:stretch; align-items:stretch; border-bottom:1px solid #e0e3ef; padding:20px 0; margin:0;  }
.revamp__pricing__list p { margin:0 0 10px; font-size:14px; color:#41536e;  }
.revamp__pricing__list p:last-child { margin:0; }
.revamp__pricing__list h4 { font-size:16px; color:#41536e; margin:0 0 5px; }
.revamp__pricing__list h3 { font-size:20px; color:#41536e; margin:0; }
.revamp__pricing__list .big__col {  display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-flex-wrap:wrap; -moz-flex-wrap:wrap; -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; -ms-flex-align:center; align-items:center;  }
.revamp__pricing__list { position:relative; padding:20px 0 40px; }
.revamp__pricing__list:before { content:""; position:absolute; right:0; top:0; width:50%; height:100%; border:1px solid #e0e3ef; border-radius:8px; }
.revamp__pricing__list .big__col .row { flex:0 0 100%; max-width:100%; }
.revamp__pricing__list .big__col .col-sm-4 { text-align:center; }
.revamp__pricing__list .text {font-size:14px; color:#41536e; }
.revamp__pricing__list .circle__dots { width:11px; height:11px; vertical-align:middle; border-radius:50%; color:#41536e; display:inline-block; background:#66dab5; text-indent: -999em; }

.revamp__pricing__list .heading { font-size:16px; font-weight:bold; color:#41536e; }

.revamp__pricing .top__box { width:840px; margin:0 auto; text-align:center; }
.revamp__pricing .top__box p { font-size:18px; color:#202230; }

.revamp__pricing__table { position:relative; margin-top:40px; }
.revamp__pricing__table:before { content:""; position:absolute; left:-20px; background:#3debb4; bottom:0; height:calc(100% - 140px); border-radius:8px; right:-20px;  }
.revamp__pricing__table:after { content:""; position:absolute; right:-10px; background:#fff; bottom:10px; top:150px; border-radius:8px; width:70%;   }
.revamp__pricing__table .td__col { position:relative; z-index:10; height:115px; font-size:18px; color:#18634B; font-weight:bold; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; -ms-flex-align:center; align-items:center; -webkit-justify-content:center; -moz-justify-content:center; -ms-justify-content:center; justify-content:center; -ms-flex-pack:center;  border-bottom: 1px solid #f1f1f1; }
.no_border_bottom{border-bottom: none!important;}
.first__row{top: 25px;}
.revamp__pricing__table .td__content.last__child { position:absolute; text-align:center; width:90%; margin-top:20px; }
.revamp__pricing__table .td__content.last__child .td__col { height:auto; }

.revamp__pricing__table .td__col h4 { font-size:18px; margin:0; color:#202230; }
.revamp__pricing__table .col-sm-3 { flex:0 0 22%; max-width:22%; text-align:center;  }
.revamp__pricing__table .col-sm-3:before { content:""; z-index: 1; position:absolute; top:-20px; bottom:-80px; width:100%; left:0; border-radius:8px; background:#3debb4; opacity:0; transition:all 550ms ease-in; }
.revamp__pricing__table .col-sm-3:hover:before { opacity:1; }
.revamp__pricing__table .col-sm-3:first-child { flex:0 0 34%; max-width:34%; text-align:left; padding:0 10px; }
.revamp__pricing__table .col-sm-3:first-child:before { display:none; }
.revamp__pricing__table .col-sm-3:first-child .td__col { -webkit-justify-content:flex-start; -moz-justify-content:flex-start; -ms-justify-content:flex-start; justify-content:flex-start; -ms-flex-pack:flex-start;  }
.revamp__pricing__table .col-sm-3:hover .td__col { color:#fff; }
.revamp__pricing__table .col-sm-3:not(:first-child):hover .td__col h3, .revamp__pricing__table .col-sm-3:not(:first-child):hover .td__col span { color:#fff }
.revamp__pricing__table .col-sm-3:hover .td__icon__col .btn-primary { opacity:0; }

.revamp__pricing__table h3 { font-size:22px; color:#202230; margin:0 0 10px;  }
.revamp__pricing__table h3 span { display:block; color:#5a5a81;  }
.revamp__pricing__table .td__icon__col .btn-primary, 
.revamp__pricing__table .td__content.last__child .btn-primary { font-size:12px; padding:6px 12px !important; background:#f5f1ff !important; color:#18634B !important; }
.revamp__pricing__table .td__icon__col .btn-link { padding:0 30px  0 0; color:#18634B; border-radius:0; font-size:13px; position:relative; }
.revamp__pricing__table .td__icon__col .btn-link:before { content:""; width:22px; height:22px; background:url(../../../assets/images/revamp__customer/revamp__pricing__sprites.png) -12px -11px no-repeat; position:absolute; right:0; top:0; }
.revamp__pricing__table .td__light { background:#f9f9fb; border-radius:8px; padding:0 20px 0 110px; position:relative; left:-16px; }
.revamp__pricing__table .td__light:before { content:""; position:absolute; width:80px; height:80px; background:url(../../../assets/images/revamp__customer/revamp__pricing__sprites.png) -43px -8px no-repeat; left:20px; top:20px; }
.revamp__pricing__table .td__content.last__child .btn-primary { opacity:0; }
.revamp__pricing__table .col-sm-3:hover .td__content.last__child .btn-primary { opacity:1; }


.revamp__accordion__pricing { display:none; }
.revamp__accordion__pricing .card-header { padding:0; }
.revamp__accordion__pricing .card-header h2 { margin:0; font-size:0; }
.revamp__accordion__pricing .card-header .btn { width:100%; font-size:18px; text-align:left; }
.revamp__accordion__pricing h4 { font-size:16px; color:#6a7e9c; }
.revamp__accordion__pricing p { font-size:14px; color:#93a2bb }
.revamp__accordion__pricing .card-header { padding:0; background:none; }
.revamp__accordion__pricing .card { border:0; }
.transaction-crowdsourcing-text{background: #fff;font-size: 12px;color: #18634B; padding: 5px;border-radius: 15px;position: relative;top: 5px;font-weight: 600;text-shadow: 1px 1px 2px #ddd;}
.mt-10-pricing-row{position: relative;top: 10px;}

@media only screen and (max-width:1170px) {
    .revamp__princing__number__grid .col-sm-2 { flex:0 0 33.33%; max-width:33.33%; margin:20px 0 0;  }
    .revamp__pricing__table h3 { font-size:18px }
    .revamp__pricing .top__box { width:auto; }
    .revamp__pricing__table .td__content.last__child { width:80%; }
}

@media only screen and (max-width:767px) {
    .revamp__princing__number__grid .col-sm-2 { flex:0 0 50%; max-width:50%;  }
    .revamp__pricing__list, .revamp__pricing__table { display:none; }
    .revamp__accordion__pricing { display:block; }
}

@media only screen and (max-width:568px) {
    .revamp__princing__number__grid .row { padding:0 20px; }
    .revamp__princing__number__grid .col-sm-2 { flex:0 0 100%; max-width:100%;  }
    .revamp__princing__number__grid .col__container { padding:20px 10px 20px 30px; }
}