<body class="homepage pricing-page">


  <section class="video-sizzle section">
    <main class="main-wrapper">
      <div class="container">
        <div class="admin__panel__container">
          <ng-container *ngIf="!basiclogin">
            

              <form class="modal-content animate"> 
                      
                <div class="container">
                  <h3>Admin</h3>   

                  <div>
                    <input type="password" [(ngModel)]="AccessCode" placeholder="Access Code" name="name" minlength="4"  #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine"
     class="alert alert-danger">
   AccessCode is required
</div>
                    <button type="submit" [disabled]="!name.valid" (click)="login()">Access</button>
                  </div>
                 
                 
                </div>
              </form>
          </ng-container>
          <ng-container *ngIf="basiclogin">
            <h3>Reporting & KPI's Basic view of Signed up Customers and Candidates</h3>
            <div class="pills__nav">
              <ul>
                <li [ngClass]="{'active': selected === 0}" >
                  <a href="javascript:void(0)" (click)="filterDate(0)">Today</a>
                </li>
                <li [ngClass]="{'active': selected === 1}">
                  <a href="javascript:void(0)" (click)="filterDate(1)">Yesterday</a>
                </li>
                <li [ngClass]="{'active': selected === 2}">
                  <a href="javascript:void(0)" (click)="filterDate(2)">Last Week</a>
                </li>
                <li [ngClass]="{'active': selected === 3}">
                  <a href="javascript:void(0)" (click)="filterDate(3)">Last Month</a>
                </li>
              </ul>
            </div>
            <div class="admin__panel__list">
              <div class="row admin__row flex flex-wrap flex-align-equal">
                <ng-container *ngIf="Users.length>0">
                  <ng-container *ngFor="let user of Users">
                    <div class="col-sm-3 admin__col" *ngIf="user?.FullName!='InvitedUser'" >
                      <div class="col__container " *ngIf="user?.CompanyName!='Candidate'" style="border-color: rgb(11, 189, 20);">
                        <h4>{{user?.FullName}}</h4>
                        <div class="time">{{user?.CreatedOn | date:'medium'}}</div>
                        <ul>
                          <li class="mail">
                            {{user?.Email}}
                          </li>
                          <li class="phone">
                            {{user?.MobilePhone}}
                          </li>
                          <ng-container  *ngIf="user?.CLocation!=null">
                            <li class="location">
                              {{user?.CLocation}}
                            </li>
                          </ng-container>
                         
                        </ul>
                        <h6 *ngIf="user?.CompanyName!='Candidate'">{{user?.CompanyName}}</h6>
                      </div>
                      <div class="col__container" *ngIf="user?.CompanyName==='Candidate'">
                        <h4>{{user?.FullName}}</h4>
                        <div class="time">{{user?.CreatedOn | date:'medium'}}</div>
                        <ul>
                          <li class="mail">
                            {{user?.Email}}
                          </li>
                          <li class="phone">
                            {{user?.MobilePhone}}
                          </li>
                          <ng-container  *ngIf="user?.CLocation!=null">
                            <li class="location">
                              {{user?.CLocation}}
                            </li>
                          </ng-container>
                         
                        </ul>
                        <h6 *ngIf="user?.CompanyName!='Candidate'">{{user?.CompanyName}}</h6>
                      </div>
                    </div>
                  </ng-container>
                 
                </ng-container>
              
                <ng-container *ngIf="Users.length===0">
                  <div class="clearfix">&nbsp;</div>
                  <div class="clearfix">&nbsp;</div>
                  <div class="clearfix hidden-xs">&nbsp;</div>
                  <div class="container text-center">
                    <h3> No new users had Registered!!</h3>
                  </div>
                  
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </main>

  </section>



</body>
