.revamp__wrapper {
	padding-top:77px;
}

.revamp__sub__banner {
	height:500px;
	background:url(../../../assets/images/home-banner-bg.png) 50% 50% no-repeat;
	background-size:cover;
}

.revamp__sub__banner h2, .revamp__sub__banner h1 { color:#6a7e9c; font-size:36px; }

.revamp__sub__banner h1 {
	line-height: 1.3158em;
	font-family: "Gotham", sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-bottom: 2rem;
}

.revamp__sub__banner .content__col {
	align-self:center;
}

.revamp__sub__banner .image__col img {
	width:100%;
	height:auto;
}

.revamp__customer__page .section {
	padding:80px 0;
}

.revamp__customer__page .section.revamp__custom__grid { padding:80px 0 0; }
.revamp__customer__page .section.revamp__customer__tab { padding:80px 0  0; }
.revamp__custom__grid .row:not(:first-child) { padding:60px 0 0; }


.revamp__custom__grid h3 { font-size:32px; font-weight:bold; color:#41536e; margin:0 0 20px; }
.revamp__custom__grid p:not(:first-child) { font-size:18px; line-height:1.65; color:#41536e; }
.revamp__custom__grid .row:nth-child(even) .content__col {  padding-right:0; padding-left: 60px;  }
.revamp__custom__grid .content__col { padding-right:60px; }
.revamp__custom__grid .image__col img { width:100%; height:auto; }

.revamp__custom__grid.revamp__custom__reverse__grid .row:nth-child(even) .content__col  {  padding-left:15px; padding-right:60px; }
.revamp__custom__grid.revamp__custom__reverse__grid .row:nth-child(odd) .content__col  {  padding-left:60px; padding-right:15px; }
.revamp__custom__grid.revamp__custom__reverse__grid .big__content__col { padding:0 15px !important; }

.revamp__icon__listing__grid .revamp__section__title  { text-align:center; }
.revamp__icon__listing__grid .col-sm-6 { padding-left:15px; flex:0 0 33.33%; max-width:33.333%; margin-top:30px; }
.revamp__icon__listing__grid .col__container { padding:20px 30px; cursor:pointer; box-shadow:0 4px 10px rgba(158,171,192,0.2); overflow:hidden; border-radius:8px; height:100%; position:relative; }
/* .revamp__icon__listing__grid .col__container:before { content:""; position:absolute; left:-2px; top:-2px; width:2px; background:#fff; height:70%; } */
.revamp__icon__listing__grid .col__container:hover  { background:#66DAB5 }
.revamp__icon__listing__grid .number { font-size:18px; color:#f5f6f8; width:68px; height:68px; background:#66dab5; border-radius:50%; font-weight:bold; position:absolute; right:-30px; top:20px; line-height:68px; padding-left:11px; }
.revamp__icon__listing__grid h4 { font-size:20px; color:#6a7e9c; line-height:1.35; font-weight:bold; }
.revamp__icon__listing__grid p  { font-size:14px; color:#6a7e9c; margin:0; }
.revamp__icon__listing__grid .icon { width:70px; height:64px; margin:0 0 20px; background:url(../../../assets/images/revamp__customer/arytic__customers__sprites.png) 0  0 no-repeat; font-size:0; display:block; }
.revamp__icon__listing__grid .col__container:hover h4, .revamp__icon__listing__grid .col__container:hover p { color:#fff; }
.revamp__icon__listing__grid .col__container:hover .number { color:#66dab5; background:#fff; }

.revamp__icon__listing__grid .icon.icon__arytic__check { background-position:-19px -29px; }
.revamp__icon__listing__grid .icon.icon__arytic__video { background-position:-99px -29px; }
.revamp__icon__listing__grid .icon.icon__arytic__interview { background-position:-180px -29px; }
.revamp__icon__listing__grid .icon.icon__arytic__virtutal { background-position:-259px -29px; }

.revamp__icon__listing__grid .icon.icon__arytic__wall { background-position:-178px -99px; }
.revamp__icon__listing__grid .icon.icon__arytic__hiring { background-position:-338px -29px; }
.revamp__icon__listing__grid .icon.icon__arytic__review { background-position:-499px -29px; }
.revamp__icon__listing__grid .icon.icon__arytic__advance { background-position:-417px -28px; }

.revamp__icon__listing__grid .col__container:hover .icon.icon__arytic__check { background-position:-768px -434px; }
.revamp__icon__listing__grid .col__container:hover .icon.icon__arytic__video { background-position:-844px -434px; }
.revamp__icon__listing__grid .col__container:hover .icon.icon__arytic__interview { background-position:-921px -434px; }
.revamp__icon__listing__grid .col__container:hover .icon.icon__arytic__virtutal { background-position:-996px -434px; }

.revamp__icon__listing__grid .col__container:hover .icon.icon__arytic__wall { background-position:-922px -514px; }
.revamp__icon__listing__grid .col__container:hover .icon.icon__arytic__hiring { background-position:-1071px -434px; }
.revamp__icon__listing__grid .col__container:hover .icon.icon__arytic__review { background-position:-1221px -434px; }
.revamp__icon__listing__grid .col__container:hover .icon.icon__arytic__advance { background-position:-1146px -434px; }


.revamp__icon__listing__grid .btn-primary { display:block; margin:60px auto 0; width:240px; }

.revamp__one__stop__shop { background:#ebf3fe; display:block; }
.revamp__one__stop__shop .revamp__section__title h3 {  font-size:36px; }
.revamp__one__stop__shop .revamp__section__title h4{color: #41536e;font-weight: bold;font-size: 28px;}
.shop__diagaram { width:597px;  height:596px; background:url(../../../assets/images/revamp__customer/arytic__ven__diagram.png) 0 0 no-repeat; position: relative; }
.shop__diagaram.shop__diagaram__01 { background:url(../../../assets/images/revamp__customer/arytic__ven__diagram__01.png) 0 0 no-repeat; }
.shop__diagaram.shop__diagaram__02 { background:url(../../../assets/images/revamp__customer/arytic__ven__diagram__02.png) 0 0 no-repeat; }

.shop__diagaram .shop__no {  font-size:16px; font-weight:bold; text-align:center; line-height:64px; width:64px; height:64px; position:absolute; left:0; top:0; }
.shop__diagaram .shop__no.shop__no__01 { left:98px; top:167px;  }
.shop__diagaram .shop__no.shop__no__02 { left:293px; top:69px; color:#448afa  }
.shop__diagaram .shop__no.shop__no__03 { left:447px; top:225px; color:#66dab5;  }
.shop__diagaram .shop__no.shop__no__04 { left:344px; top:422px; color:#6a7e9c;  }
.shop__diagaram .shop__no.shop__no__05 { left:135px; top:403px; color:#448afa; }

.shop__diagaram.shop__diagaram__02  .shop__no.shop__no__01 { left:72px; top:205px; }
.shop__diagaram.shop__diagaram__02  .shop__no.shop__no__02 { left:302px; top:69px; }
.shop__diagaram.shop__diagaram__02 .shop__no.shop__no__03 { left:454px; top:277px; }
.shop__diagaram.shop__diagaram__02  .shop__no.shop__no__04 { left:217px; top:441px; }


.revamp__one__stop__shop p { font-size:20px; }
.shop__icon { width:90px; height:90px;  position:absolute; cursor:pointer; }
.shop__icon:before { content:""; display:block; width:90px; height:90px; background:url(../../../assets/images/revamp__customer/arytic__customers__sprites.png) 0 0 no-repeat;  }
.shop__icon__01, .shop__icon__06 {  left:134px; top:88px;  }
.shop__tooltip { display:none; width:100px; font-size:14px; width:168px; padding:10px 20px; right:106px; top:24px; text-align:center; border-radius:8px; color:#fff; background:#6a7e9c; position:absolute  }
.shop__icon:hover .shop__tooltip { display:block; }
.shop__icon__02, .shop__icon__07 {  left:361px; top:88px;  }
.shop__icon__03, .shop__icon__08 {  left:430px; top:300px;  }
.shop__icon__04 , .shop__icon__09 {  left:250px; top:430px;  }
.shop__icon__05, .shop__icon__10 {  left:76px; top:320px;  }
.shop__icon.shop__icon__01:before { background-position:-614px -29px; }
.shop__icon.shop__icon__02:before { background-position:-714px -29px; }
.shop__icon.shop__icon__03:before { background-position:-815px -29px; }
.shop__icon.shop__icon__04:before { background-position:-921px -29px; }
.shop__icon.shop__icon__05:before { background-position:-1024px -29px; }



.shop__icon.shop__icon__06:before { background-position:-756px -168px; }
.shop__icon.shop__icon__07:before { background-position:-856px -168px; }
.shop__icon.shop__icon__08:before { background-position:-955px -168px; }
.shop__icon.shop__icon__09:before { background-position:-1053px -168px; }
.shop__icon.shop__icon__10:before { background-position:-1154px -168px; }

.shop__icon.shop__icon__11:before { background-position:-768px -276px; }
.shop__icon.shop__icon__12:before { background-position:-867px -276px; }
.shop__icon.shop__icon__13:before { background-position:-965px -276px; }
.shop__icon.shop__icon__14:before { background-position:-1064px -276px; }
.shop__icon.shop__icon__15:before { background-position:-1164px -276px; }

.shop__icon__16 { left:96px; top:111px; }
.shop__icon__17 { left:372px; top:93px; }
.shop__icon__18 { left:408px; top:342px; }
.shop__icon__19 { left:128px; top:391px; }


.shop__icon.shop__icon__16:before { background-position:-70px -602px; }
.shop__icon.shop__icon__17:before { background-position:-174px -602px; }
.shop__icon.shop__icon__18:before { background-position:-280px -602px; }
.shop__icon.shop__icon__19:before { background-position:-388px -602px; }

.shop__icon.shop__icon__20:before { background-position:-70px -723px; }
.shop__icon.shop__icon__21:before { background-position:-170px -723px; }
.shop__icon.shop__icon__22:before { background-position:-270px -723px; }
.shop__icon.shop__icon__23:before { background-position:-474px -723px; }
.shop__icon.shop__icon__24:before { background-position:-373px -723px; }

.shop__info { display:none; }

.revamp__single__image img {  width:100%; height:auto; }
.revamp__customer__page .section.revamp__single__image { padding:0 0 80px; } 

.revamp__customer__tab .revamp__section__title { text-align:center; }
.revamp__customer__tab .icon__tab { font-size:0; background:url(../../../assets/images/revamp__customer/arytic__customers__sprites.png) 0 0 no-repeat; width:157px; height:172px; display:block; margin:0 auto 20px; }
.revamp__customer__tab  .nav-tabs .nav-link { border:0; padding:0 20px; text-align:center; font-size:20px; font-weight:bold; color:#41536e; }
.revamp__customer__tab .nav-tabs { border-bottom: 0; text-align:center; }
.revamp__customer__tab .icon__tab__01 { background-position:-31px -169px; }
.revamp__customer__tab .icon__tab__02 { background-position:-212px -169px; }
.revamp__customer__tab .icon__tab__03 { background-position:-398px -169px; }
.revamp__customer__tab .icon__tab__04 { background-position:-585px -169px; }

.revamp__customer__tab  .nav-tabs .nav-link.active  .icon__tab__01 { background-position:-31px -361px; }
.revamp__customer__tab  .nav-tabs .nav-link.active  .icon__tab__02 { background-position:-212px -361px; }
.revamp__customer__tab  .nav-tabs .nav-link.active  .icon__tab__03 { background-position:-398px -361px; }
.revamp__customer__tab  .nav-tabs .nav-link.active  .icon__tab__04 { background-position:-585px -361px; }

.revamp__customer__tab .tab-pane { padding:40px 0 0; text-align:center; }
.revamp__customer__tab .tab-pane figure img { width:100%; height:auto; }
.revamp__customer__tab .tab__info p { font-size:18px; }
.revamp__customer__tab .tab__info p:last-child { margin:0; }
.revamp__customer__tab .tab-pane h3 { font-size:28px; font-weight:bold; }
.big__content__col { padding:0 15px !important; }


.revamp__one__stop__slider { display:none; }
.revamp__one__stop__slider h4 { font-size:20px; text-align:center; }
.revamp__one__stop__slider p { font-size:16px; text-align:center; }


.revamp__steps__box { position:relative;  width:1024px; height:515px;  background:url(../images/revamp__customer/revamp_steps.png) 50% 50% no-repeat; background-size:1024px auto; }
.revamp__steps__box .revamp__step { width:210px; position:absolute; text-align:center; }
.revamp__steps__box .revamp__step__01 { left:0; top:280px; }
.revamp__steps__box .revamp__step__02 { left:210px; top:0; }
.revamp__steps__box .revamp__step__03 { width:200px; left:410px; top:282px; }
.revamp__steps__box .revamp__step__04 { width:200px; left:605px; top:0; }
.revamp__steps__box .revamp__step__05 { left:805px; top:280px; }
.revamp__steps__box .revamp__step h4, .revamp__steps__box .revamp__step h3 { font-size:20px; padding-bottom:10px; border-bottom:4px solid #3d8bff; font-weight:bold; color:#41536e }
.revamp__steps__box .revamp__step p { font-size:14px; color:#41536e }

.revamp__steps__box .revamp__step__02 h4 { border-bottom-color:#66dab5 ; }
.revamp__steps__box .revamp__step__03 h4 { border-bottom-color:#bbc7d9; }
.revamp__steps__box .revamp__step__04 h4 { border-bottom-color:#6a7e9c; }
.revamp__steps__box .revamp__step__05 h4 { border-bottom-color:#feb314; }

.revamp__steps__box__01 { width:880px; height:374px; background:url(../images/revamp__customer/arytic__stpes.png) 50% 50% no-repeat; position:relative; margin:170px auto; }
.revamp__steps__box__01 .revamp__step { position:absolute; left:0; top:0;   font-size:17px; }
.revamp__steps__box__01 .revamp__step__01 {  text-align:right; top:-62px; left:-100px; width:216px; }
.revamp__steps__box__01 .revamp__step__02 {  width:344px; left:85px; top:314px; }
.revamp__steps__box__01 .revamp__step__03 {  width:370px; left:402px; top:-70px; }
.revamp__steps__box__01 .revamp__step__04 {  width:370px; left:574px; top:80px; }
.revamp__steps__box__01 .revamp__step__05 {  width:370px; left:695px; top:390px; }

.revamp__faqs .card-header { font-size:18px; padding:0; border-bottom:1px solid #b6c2d6 !important; padding-bottom: 10px;/*padding-left:42px;*/ }
.revamp__faqs .card-header .btn { padding:0; color:#41536e; font-weight:500; white-space:normal; text-align:left; }
.revamp__faqs .card { border-bottom:0; }
.revamp__faqs .card ol { counter-reset: my-awesome-counter; }
.revamp__faqs .card ol:last-child { margin:0; }
.revamp__faqs .card li { font-size:16px; color:#41536e; counter-increment: my-awesome-counter; position:relative; padding-left:30px; }
.revamp__faqs .card li:before { content: counter(my-awesome-counter) ") ";  position:absolute; left:0; top:0; font-weight: bold; }
.revamp__faqs .card ol li:not(:first-child) { margin-top:15px; }
.revamp__faqs .card-body .card-body { padding-bottom:0; }
.revamp__faqs .card-body .card-header .btn { text-transform:none; font-size:16px;  } 
.revamp__faqs .card-body .card-header { border-bottom:0 !important; padding-bottom:0; }
.revamp__faqs .revamp__faq__icon { left:0; font-size:0; position:absolute; width:32px; height:36px; background:url(../images/revamp__customer/arytic__customers__sprites.png) 0 0 no-repeat; }
.revamp__faqs .revamp__faq__icon.revamp__faq__icon__01 { background-position:-20px -858px; }
.revamp__faqs .revamp__faq__icon.revamp__faq__icon__02 { background-position:-58px -858px; }
.revamp__faqs .revamp__faq__icon.revamp__faq__icon__03 { background-position:-97px -858px; }
.revamp__faqs .revamp__faq__icon.revamp__faq__icon__04 { background-position:-134px -858px; }
.revamp__faqs .revamp__faq__icon.revamp__faq__icon__05 { background-position:-171px -858px; }
.revamp__faqs .revamp__faq__icon.revamp__faq__icon__06 { background-position:-210px -858px; }
.revamp__faqs .card-body .card-header .btn:before { content:""; background:url(../images/revamp__customer/arytic__customers__sprites.png) -23px -901px no-repeat; width:13px; height:9px; left:16px; top:20px; position:absolute; display: none;}
.revamp__faqs .card-body p { font-size:16px; }
.revamp__pricing__sub__banner { background:url(../../assets/images/revamp__customer/pricing-banner-bg.png) 50% 50% no-repeat }
.revamp__pricing__sub__banner .content__col { text-align:center; flex:0 0 100%; max-width:100%;  }
.card-header i{position: relative;top: 5px;}
.pricing a{ background: #66dab5;}
.pricing a i{font-size: 32px;width: 36px;height: 36px;position: absolute;left: 16px;}
.pricing a:hover{ background: #17A2B8;}
@media only screen and (max-width:1170px) {
	.revamp__steps__box .revamp__step__01 { left:-20px; top:243px; }
	.revamp__steps__box .revamp__step__02 { left:200px }
	.revamp__steps__box .revamp__step { width:195px; }
	.revamp__steps__box .revamp__step__03 { width:180px; left:390px; top:243px; }
	.revamp__steps__box .revamp__step h4, .revamp__steps__box .revamp__step h3 { padding-bottom:5px; }
	.revamp__steps__box .revamp__step__04 { left:567px; }
	.revamp__steps__box .revamp__step__05 { left:760px; top:245px; }
	.revamp__sub__banner h2, .revamp__sub__banner h1 { font-size:28px; }
	
	.revamp__wrapper { padding-top:88px; }
	.revamp__customer__page .section { padding:40px 0; }
	.revamp__customer__page .section.revamp__single__image { padding:0 0 40px; }
	.revamp__customer__page .section.revamp__custom__grid, .revamp__customer__page .section.revamp__customer__tab { padding:40px 0 0; }
	.section.revamp__custom__grid h3 { font-size:24px; margin:0 0 10px; }
	.revamp__custom__grid .row:not(:first-child) { padding:30px 0 0; }
	.section.revamp__custom__grid p { font-size:15px; }
	.revamp__custom__grid .content__col { padding-right:30px; }
	.revamp__custom__grid .row:nth-child(even) .content__col { padding-right:15px; padding-left:30px;  }
	.revamp__icon__listing__grid .col__container { padding:20px 20px 26px 40px; }
	.revamp__icon__listing__grid h4 { font-size:20px; }
	.revamp__customer__tab .nav-item { flex:0 0 50%; max-width:50%; margin:10px 0; }
	.revamp__customer__tab .tab-pane h3 { font-size:22px; }
	.revamp__customer__tab .tab-pane p  { font-size:15px; text-align:center; margin:0 0 20px; }
	.shop__diagaram { left:-30px; }
	.revamp__one__stop__shop .revamp__section__title h3 { font-size:24px; }
	.revamp__one__stop__shop p, .revamp__funnel__section p  { font-size:15px; }
	.revamp__steps__box .revamp__step p { font-size:13px; }
	.revamp__steps__box .revamp__step h4, .revamp__steps__box .revamp__step h3 { font-size:18px; }
	.revamp__steps__box { width:960px; height:434px; background:url(../images/revamp__customer/revamp_steps.png) 50% 50% no-repeat; background-size:960px auto; }
	.revamp__customer__tab .icon__tab { -webkit-transform:scale(0.75); transform:scale(0.75); -webkit-transform-origin:center top; transform-origin:center top; margin:0 auto -34px; }
	.revamp__steps__box__01 .revamp__step { font-size:14px; }
	.revamp__steps__box__01 .revamp__step__01 { width:256px; left:20px; top:-82px; }
	.revamp__steps__box__01 .revamp__step__03 { top:-40px; }
	.revamp__steps__box__01 .revamp__step__04 { width:330px; }
	.revamp__steps__box__01 .revamp__step__05 { left:515px; }
	.revamp__steps__box__01 { margin:100px auto; }
	
}


@media only screen and (max-width:1023px) {
	.revamp__one__stop__slider { display:block; }
	.revamp__one__stop__shop, .revamp__steps__box__01 { display:none; }
	.revamp__steps__box { display:none; }
	.revamp__icon__listing__grid .col-sm-6 { flex:0 0 50%; max-width:50%; }
	.shop__icon { position: relative; border-radius:50%;  box-shadow:0 5px 20px rgba(110,129,158,0.2); left:0 !important; top:0 !important; font-size:0; display:block; margin:20px auto ; }
}

@media only screen and (max-width:767px) {
	.revamp__sub__banner { height:auto; padding:40px 0; }
	.revamp__sub__banner .col-sm-5, .revamp__sub__banner .col-sm-7 { text-align:center; flex:0 0 100%; max-width:100%; }
	.revamp__sub__banner h2, .revamp__sub__banner h1 { font-size:22px; }
	.revamp__custom__grid .col-sm-7, .revamp__custom__grid .col-sm-5 { flex:0 0 100%; max-width:100%; }
	.revamp__custom__grid .content__col { padding-right:15px; }
	.revamp__custom__grid .row:nth-child(even) .content__col {  padding-left:15px;  }
	.revamp__custom__grid .row { margin:0; }
	.revamp__custom__grid .row:nth-child(even) .content__col { order:1; }
	.revamp__custom__grid .row:nth-child(even) .image__col { order:2; }
	.revamp__custom__grid.revamp__custom__reverse__grid .row:nth-child(even) .content__col { order:2; }
	.revamp__custom__grid.revamp__custom__reverse__grid .row:nth-child(even) .image__col { order:1; }
	.section.revamp__custom__grid p:empty { display:none; }
	.revamp__custom__grid.revamp__custom__reverse__grid .row .image__col { margin:0 0 20px; }
	.section.revamp__custom__grid h3 { font-size:22px; }
	.revamp__icon__listing__grid .col-sm-6 { flex:0 0 100%; max-width:100%;  }
	.revamp__sub__banner.revamp__pricing__sub__banner { height:300px;    background: url(../../assets/images/revamp__customer/pricing-banner-mobile-bg.png) 50% 50% no-repeat; }
	.revamp__custom__grid.revamp__custom__reverse__grid .row:nth-child(2n+1) .content__col, .revamp__custom__grid.revamp__custom__reverse__grid .row:nth-child(2n) .content__col { padding-left:15px; padding-right:15px; }
} 