<body class="homepage pricing-page">
    <section class="privacy-policy contact-us section hide-cards">
        <div class="container">
            <div class="clearfix">&nbsp;</div>
            <!-- <div class="jumbotron p-3 p-md-5 text-white rounded blog-banner">
                <div class="col-md-6 px-0">
                    <h1 class="display-4">Growth Assessment: Why IT Staffing Services are Important?</h1>
                    <p class="lead my-3">The last two decades have seen a tremendous growth in the Information
                        Technology (IT) sector to which we’ve all played witness.</p>
                </div>
            </div> -->
            <div class="w-100 text-center">
                <h1>News & Events</h1>
            </div>
            <div class="row news-events">           
                <div class="col-4">
                    <div class="card cardb">
                            <img class="card-img-top"
                            src="../../../assets/images/SBDC/Arytic CEO Sri Rao Boddapu at National Kansas SBDC Encountering Innovation Presenting White Boarding Before Department of Defense 9 DOD Scouts October 2018.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-blog">Arytic at National Kansas SBDC Encountering Innovation</h5>
                            <p class="card-text">Arytic at National Kansas SBDC Encountering Innovation Presenting White
                                Boarding Before Department of Defense.</p>
                            <a [routerLink]="" fragment="SBDC" news-tab="SBDC"   class="btn btn-primary galleryitem news-view">Read More</a>
    
                        </div>
                    </div>
                </div>
                <div class="col-4">
                        <div class="card cardb">
                                <img class="card-img-top"
                                src="../../../assets/images/SXSW/Arytic-Team-with-Amazon-at-SXSW-2019-World-Technology-Trade-Show-card.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-blog">Arytic at SXSW 2019</h5>
                              
                                <p class="card-text">Arytic at South by Southwest (SXSW -2019) exhibited Arytic Innovation and
                                    it's revoultionary changes in recruitment.</p>
                                <a [routerLink]="" fragment="SXSW" news-tab="SXSW"  class="btn btn-primary galleryitem news-view">Read More</a>
        
                            </div>
                        </div>
                    
                </div>

                <div class="col-4">
                        <div class="card cardb">
                                <img class="card-img-top"
                                src="../../../assets/images/collision/arytic-news-collision-1.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-blog" title="Arytic exhibiting at COLLISION, Toronto-Canada World Technology Trade Show">Arytic exhibiting at COLLISION, Toronto-Canada World Technology Trade Show</h5>
                               
                                <p class="card-text">The Collision Conference, one of the largest gatherings of entrepreneurs on the continent, is often described as the fastest growing technology. </p>
                                <a [routerLink]="" fragment="COLLISION" news-tab="COLLISION" news-tab="COLLISION" class="btn btn-primary galleryitem news-view">Read More</a>
        
                            </div>
                        </div>
                      
                    </div>

                <!-- <div class="col-md-6 card-group">
                    <div class="card mb-4 shadow1">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../../assets/images/insights/insights1.jpeg" alt="Resumes" style="height:100%;" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Top IT Staffing & Recruiting Trends To Look Forward..</h5>
                                    <p class="card-text">The U.S. IT staffing and recruiting industry sets a new benchmark with the growth of about 7 per cent to reach a new all-time high of..</p>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 shadow1">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../../assets/images/insights/resume.jpg" alt="Resumes" style="height:100%;" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">12 Tiny Changes That Make Your Resume Easier..</h5>
                                    <p class="card-text">There’s some debate about how many seconds a recruiter spends looking over a resume, but we can all agree that it’s not a lot.</p>

                                </div>

                            </div>

                        </div>

                    </div>
                </div> -->
                <!--                 
                <div class="col-md-6">
                    <div class="card mb-4 shadow1">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../../assets/images/insights/resume.jpg" alt="Resumes" style="height:100%;" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">What The World's Greatest Leaders Can Teach Us</h5>
                                    <p class="card-text">Each year, Fortune ranks the world’s top 50 most influential leaders. And while the list is inspiring, I think the greater message lies in looking.. </p>
                                    <p class="card-text"><a href="/insightsdetailed" ng-reflect-router-link="/insightsdetailed">Continue reading <svg height="12" width="23.6" xmlns="http://www.w3.org/2000/svg"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"></path></svg></a></p>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Nov 12</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 shadow1">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../../assets/images/insights/resume.jpg" alt="Resumes" style="height:100%;" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">How to Get the Job You Really Want - 5 Quick Tips</h5>
                                    <p class="card-text">One of the most important parts of my role as an experienced Consultant, is setting my candidates up for success when applying for a new role..</p>
                                    <p class="card-text"><a href="/insightsdetailed" ng-reflect-router-link="/insightsdetailed">Continue reading <svg height="12" width="23.6" xmlns="http://www.w3.org/2000/svg"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"></path></svg></a></p>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Nov 11</small>
                        </div>
                    </div>
                </div> -->
                <!-- <nav class="blog-pagination col-12"><a class="btn btn-outline-primary" href="#">Older</a><a class="btn btn-outline-secondary disabled" href="#">Newer</a></nav> -->
            </div>


        </div>
    </section>
    <section class="bg-white">
        <!-- SBDC -->
        <div class="container hidden-blog" id="SBDC">
            <div class="clearfix">&nbsp;</div>
            <a href="javascript:void(0)" class="goback">
                <small>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    BACK TO NEWS
                </small>
            </a>
            <div class="clearfix">&nbsp;</div>
           
            <div class="clearfix">&nbsp;</div>
            <!--News Content Placement by Bharath-->
               
            <div class="clearfix">&nbsp;</div>
            <figure>
                <img class="w-100"
                    src="../../../assets/images/SBDC/Arytic CEO Sri Rao Boddapu at National Kansas SBDC Encountering Innovation Presenting White Boarding Before Department of Defense 9 DOD Scouts October 2018.jpg"
                    alt="arytiC">
                <figcaption> <small>Arytic CEO Sri Rao Boddapu at National Kansas SBDC Encountering Innovation Presenting White
                    Boarding Before Department of Defense 9 DOD Scouts October 2018.</small></figcaption>
            </figure>
            <div class="w-768 m-auto">
                    <div class="m-auto">
                            <h1 class="display-4">Arytic at National Kansas SBDC Encountering Innovation</h1>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row justify-content-between">
                                <div class="t-color col-6">
                                        <div class="media">
                                            <div class="align-self-center mr-3">
                                                <div>
                                                    <img src="../../../assets/images/favicon.png" alt="arytic">
                                                </div>
                                            </div>
                                                <div class="media-body">
                                                  <h5 class="author">Posted by Arytic</h5>
                                                </div>
                                              </div>
                                </div>
                                <div class="date col-6">
                                    <span class="t-color">
                                            Oct 2018
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>
                            
                        </div>
                    <div class="clearfix">&nbsp;</div>
                    <p>Arytic participated in the Encountering Innovation Week 2018 hosted by Johnson County Community College in Overland Park, Kansas on October 8-12, 2018.</p>
                    <p>The event was powered by America's SBDC, SBA, Kansas Department of Commerce and Johnson County Community College. Encountering Innovation Week 2018 provides innovators with a once in a lifetime opportunity to present and showcase their technologies to DoD Scouts seeking innovative solutions for all nine areas of Combatant Commands, as well as tech solutions that may be of interest to other nondefense federal agencies.</p>
                    <p>It's a rare opportunity for innovators to discover the needs of government agencies and showcase their innovative efforts towards meeting those needs. The DoD Tech Scouts seek innovative solutions to immediate needs as well as a broader range of inventions to save costs and resolve operational challenges.</p>
                    <p>Arytic's innovative Artificial Intelligence One Solution employment platform was nominated by the National Encountering Innovation from Kansas SBDC teams and UTSA teams representing Texas region to be presented at the Encountering Innovation Week 2018.</p>
                    <p>Arytic IT Solutions team headed by its CEO, Sri Rao Boddapu, and President Usha Boddapu, presented a pitch of its groundbreaking technology to the Technology Scouts from the Department of Defense, Federal Bureau of Investigation (FBI), Homeland Security, U.S. Commando, Service Labs, Academia and over 10 other Federal agencies on October 9 and 11.</p>
               
                 
                    <figure>
                        <img class="w-100"
                            src="../../../assets/images/SBDC/Arytic Team at National Kansas SBDC Encountering Innovation October 2018.jpg"
                            alt="arytiC">
                        <figcaption><small>Arytic Team at National Kansas SBDC Encountering Innovation October 2018.</small></figcaption>
                    </figure>
                    <p>Arytic Solutions team was grateful for the opportunity to present its Artificial Intelligence One Solution, an employment platform solution that comes with blockchain-infused security and real-time analytics to the Technology Scouts.</p>
                    <p>The team pitched and presented its poster boards from October 9 until October 12. The product pitch impressed the DoD scouts and opened doors to other federal agencies and a lot more opportunities for potential collaboration.</p>
                    <p>The Arytic team would like to thank National Kansas SBDC teams, UTSA teams, Alan Badgley and their team, Bijo Mathew Director at UTSA and Regional Director at South-West Texas SBD and their team, Joe Harper and their team. SBDC teams from Texas State and Austin, SCORE Teams from Austin for their mentoring, UTSA, Encountering Innovation "Delivering to the DOD and beyond" and our clients for this wonderful opportunity and their amazing support.</p>
                  
            </div>
            

            <div class="clearfix">&nbsp;</div>
        </div>
         <!-- SBDC -->
        <!-- SXSW -->
        <div class="container hidden-blog" id="SXSW">
            <div class="clearfix">&nbsp;</div>
            <a href="javascript:void(0)" class="goback">
                <small>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    BACK TO NEWS
                </small>
            </a>
            <div class="clearfix">&nbsp;</div>
            
            <div class="clearfix">&nbsp;</div>
            <figure>
                <img class="w-100"
                    src="../../../assets/images/SXSW/Arytic Team with Amazon at SXSW 2019 World Technology Trade Show.jpg"
                    alt="arytiC">
                <figcaption>Arytic Team with Amazon at SXSW 2019 World Technology Trade Show</figcaption>
            </figure>
            <div class="w-768 m-auto">
                    <div class="m-auto">
                            <h1 class="display-4">Arytic at SXSW 2019</h1>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row justify-content-between">
                                <div class="t-color col-6">
                                        <div class="media">
                                            <div class="align-self-center mr-3">
                                                <div>
                                                    <img src="../../../assets/images/favicon.png" alt="arytic">
                                                </div>
                                            </div>
                                                <div class="media-body">
                                                  <h5 class="author">Posted by Arytic</h5>
                                                </div>
                                              </div>
                                </div>
                                <div class="date col-6">
                                    <span class="t-color">
                                            Feb 11, 2019
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>
                            
                        </div>
                    <div class="clearfix">&nbsp;</div>
        
                    <figure>
                        <img class="w-100" src="../../../assets/images/SXSW/Usha Boddapu Esolvit CEO at SXSW 2019 Exhibitor.jpg"
                            alt="arytiC">
                        <figcaption>Usha Boddapu Esolvit CEO at SXSW 2019 Exhibitor</figcaption>
                    </figure>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <figure>
                        <img class="w-100" src="../../../assets/images/SXSW/Usha Boddapu Exhibiting at SXSW 2019.jpg"
                            alt="arytiC">
                        <figcaption>Usha Boddapu Exhibiting at SXSW 2019</figcaption>
                    </figure>
                    <div class="clearfix">&nbsp;</div>
        
                    <div class="clearfix">&nbsp;</div>
                    <figure>
                        <img class="w-100" src="../../../assets/images/SXSW/Arytic Business cards.jpg" alt="arytiC">
                        <figcaption>Arytic Business cards</figcaption>
                    </figure>
            </div>
            
            <div class="clearfix">&nbsp;</div>
        </div>
        <!-- SXSW -->

         <!-- Canada News -->
         <div class="container hidden-blog" id="COLLISION">
                <div class="clearfix">&nbsp;</div>
                <a href="javascript:void(0)" class="goback">
                    <small>
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        BACK TO Insights
                    </small>
                </a>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <div class="demo-video">
                    <div class="play-border">
                       <a data-toggle="modal" data-target="#videoModalCenter" class="link-block-6 w-inline-block">
                          <div class="play-button-inner"><img src="../../../assets/images/Triangle.svg" alt=" Play button" width="26" class="green-play-button"></div>
                       </a>
                    </div>
                    <img src="../../../assets/images/collision/arytic-news-collision-2.jpg" alt="Video thumbnail"  class="video_bg" style="width:100%">
                 </div>
                <div class="w-768 m-auto">
                        <div class="clearfix">&nbsp;</div>
                        <div class="m-auto">
                            <h1 class="display-4">Arytic exhibiting at COLLISION, Toronto-Canada World Technology Trade Show</h1>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row justify-content-between">
                                <div class="t-color col-6">
                                        <div class="media">
                                            <div class="align-self-center mr-3">
                                                <div>
                                                    <img src="../../../assets/images/favicon.png" alt="arytic">
                                                </div>
                                            </div>
                                                <div class="media-body">
                                                  <h5 class="author">Posted by Arytic</h5>
                                                </div>
                                              </div>
                                </div>
                                <div class="date col-6">
                                    <span class="t-color">
                                            May 20, 2019
                                    </span>
                                </div>
                            </div>
                         
                            
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        
                        <p><strong>The Collision Conference,</strong> 
                            one of the largest gatherings of entrepreneurs on the continent, is often described as the fastest growing technology conference in North America. Along with being the sister event of the Web Summit.  Collision attracts more than 25,000 attendees from over 120 countries. The event brings together people and companies which are redefining the global tech industry.
                        </p>
                        <p>The event kicked off with a warm welcome from Justin Trudeau, the Prime Minister of Canada, and the Mayor of Toronto, John Tory.  They were followed by keynote speeches from Ev Williams (Medium Founder), Seth Rogan, Ryan Holmes (Hootsuite Founder), Tobias Lütke (Shopify CEO), and Joseph Gordon-Levitt. The Arytic team is so honored to be a part of the Collision Conference 2019. </p>
                        <p>At the conference, we had the chance to speak to leaders in technology from around the world about the innovative products there. It was especially a great experience to exhibit our product, Arytic, here at the conference. We were glad to have many valuable interactions with some prominent investors and other technology leaders. The Collision Conference has truly been a platform of learning for us, not only because we saw new technologies, but also because we were able to appreciate the culture of innovation and entrepreneurship. </p>
                       
                        <figure>
                            <img class="w-100"
                                src="../../../assets/images/collision/arytic-news-collision-3.jpg"
                                alt="arytiC">
                            <figcaption>Arytic team at Collision conference 2019
                            </figcaption>
                        </figure>
                        
                        <h3>What is Arytic.?</h3>
                        <p>
                                In our years of experience running a software contracting company, we have learned much about the industry and what drives it.<strong> For companies, obtaining the desired results is all that really matters.</strong> Consequently, to get the right outcome, we need to have the right talent in the right place.     
                        </p>
                        <p>Yes, we all should accept that only the right hiring, produces the desired output.</p>
                       <p>I know that many of us have been very successful in finding talent through the traditional way of recruitment. This process has yielded many promising employees and successful projects. However, there were also cases that made us feel we had made a mistake in our hiring decision. </p>
                        <p>But why? Hasn’t the candidate been thoroughly vetted? Wasn’t the candidate interviewed properly? Didn’t we go through the same process we always do? To all these questions: yes. But this isn’t enough. We need to go further and analyze the <strong>Attitude, Cultural Fit, and Social Personality</strong> of the candidate as well. It is of no surprise that these qualities matter a lot in today's corporate world!</p>
                        <p>Can’t our traditional recruitment process overcome this? Well yes, it certainly can. But the problem is <strong>Time!  And time is money.</strong> We also came across this problem and the idea of <strong>Arytic was born.!</strong></p>

                        
                        <h3>Arytic is the Next Gen AI-Powered Hiring Platform. </h3>
                        <p>Arytic is an <strong>AI-powered model that has the capability to eliminate many of the intermediaries of the recruiting process</strong> producing the most intelligent matches with <strong> fit, personality and culture fit</strong> driven by social networks and associated <strong> incentives.</strong>  </p>
                        <p>With the Arytic platform, Employers, Hiring Agencies and Freelance Recruiters can mutually benefit not only by finding uncompromising quality talent but also by sharing the talent they have so everyone can <strong> their average hiring time by 50%.</strong></p>
                        <p>Arytic also helps Job Seekers find their dream by providing the most suitable job matches and also by helping them improve with intelligent profile analytics. Arytic also encourages Job Seekers with <strong>referral bounties,</strong> where they can refer the best match for any Job to their friends or to a chain of social networks.</p>
                        <figure>
                            <img class="w-100" src="../../../assets/images/collision/arytic-news-collision-4.jpg"
                                alt="arytiC">
                            <figcaption>Arytic at Collision Conference </figcaption>
                        </figure>
                        <div class="clearfix">&nbsp;</div>
        
                       
                </div>

               
                <div class="clearfix">&nbsp;</div> 
            </div>
            <!-- Canada News -->
    </section>



</body>