<body class="signpage">
    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div>
    <!-- /loader_form -->
    <div class="container-fluid full-height">
        <div class="row row-height">
            <!-- /content-right-->
            <div class="col-lg-6 content-left bg-white">
                <div class="content-left-wrapper">
                    <div class="logo sl-hidden">
                        <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                    </div>
                    <!-- Seeking Jobs Signup -->
                    <div class="sl-show hidden">
                        <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                    </div>
                    <div class="animated slideInLeft">
                        <div id="top-wizard">
                            <div id="progressbar"></div>
                        </div>
                        <!-- /top-wizard -->
                        <form [formGroup]="signUpform" (ngSubmit)="SignUp()">
                            <input id="website" name="website" type="text" value="">
                            <div id="Jobs_sign" class="cand-signup-form">
                                <div class="step" style="text-align:left" *ngIf="!afterRegistration">
                                    <h2 class="main_question">
                                        Welcome <span class="sl-text-show hidden">Job Seeker</span> !!! Let's Sign Up!
                                    </h2>
                                    <!-- First Name & Last Name-->
                                    <div class="row spt-2">
                                        <div class="form-group col-md-6 pr-2px">
                                            <div class="p-rel">
                                                <input type="text" class="form-control" placeholder="First Name*"
                                                    [formControl]="signUpform.controls['FirstName']"
                                                    (keypress)="MissClear()" (keyup)="MissClear()" minlength=3
                                                    maxlength=15
                                                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
                                                    required>
                                                <div *ngIf="signUpform.controls['FirstName'].invalid && (signUpform.controls['FirstName'].dirty || signUpform.controls['FirstName'].touched)"
                                                    class="error1">

                                                    <div *ngIf="signUpform.controls['FirstName'].errors.required">
                                                        Required
                                                    </div>

                                                    <div *ngIf="signUpform.controls['FirstName'].errors.minlength">
                                                        Minimum 3 Characters
                                                    </div>
                                                    <div *ngIf="signUpform.controls['FirstName'].errors.maxlength">
                                                        Maximum 15 Characters
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 pl-2px">
                                            <div class="p-rel">
                                                <input type="text" class="form-control " placeholder="Last Name*"
                                                    [formControl]="signUpform.controls['LastName']"
                                                    (keypress)="MissClear()" (keyup)="MissClear()" minlength=3
                                                    maxlength=15
                                                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
                                                    required>
                                                <div *ngIf="signUpform.controls['LastName'].invalid && (signUpform.controls['LastName'].dirty || signUpform.controls['LastName'].touched)"
                                                    class="error1">
                                                    <div *ngIf="signUpform.controls['LastName'].errors.required">
                                                        Required
                                                    </div>
                                                    <div *ngIf="signUpform.controls['LastName'].errors.minlength">
                                                        Minimum 3 Characters
                                                    </div>
                                                    <div *ngIf="signUpform.controls['LastName'].errors.maxlength">
                                                        Maximum 15 Characters
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Profile Title-->
                                    <!-- <div class="form-group p-rel">
                                        <div class="ng-autocomplete">
                                            <ng-autocomplete [formControl]="signUpform.controls['ProfileTitle']"
                                                [data]="jobtitlelist" placeHolder="Profile Title"
                                                (inputChanged)='GetJobTitle($event)' [itemTemplate]="itemTemplate"
                                                required>
                                            </ng-autocomplete>
                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item"></a>
                                            </ng-template>

                                            <div *ngIf="signUpform.controls['ProfileTitle'].invalid && (signUpform.controls['ProfileTitle'].dirty || signUpform.controls['ProfileTitle'].touched)"
                                                class="error1">
                                                <div *ngIf="signUpform.controls['ProfileTitle'].errors.required">
                                                    Required
                                                </div>
                                            </div>

                                          <input type="text" class="form-control"  placeholder="Profile Title"  (input)="ProfileTitle = $event.target.value" (keyup)="GetJobTitle($event)"  list="dynmicTitle" />
                                <datalist id="dynmicTitle">
                                <option *ngFor="let item of jobtitlelist" [value]="item">{{item}}</option>
                               </datalist> 
                                        </div>
                                    </div> -->

                                    <!--Email Address-->
                                    <div class="form-group p-rel">
                                        <input autocomplete="new-email" [pattern]="emailPattern" type="email"
                                            class="form-control" placeholder="Email*"
                                            [formControl]="signUpform.controls['Email']" maxlength=30>
                                        <div *ngIf="signUpform.controls['Email'].invalid && (signUpform.controls['Email'].dirty || signUpform.controls['Email'].touched)"
                                            class="error1">
                                            <div *ngIf="signUpform.controls['Email'].errors.required">
                                                Required
                                            </div>
                                            <div *ngIf="signUpform.controls['Email'].errors.pattern">
                                                Incorrect Email!
                                            </div>
                                            <div *ngIf="signUpform.controls['Email'].errors.maxlength">
                                                Maximum 15 Characters
                                            </div>

                                        </div>
                                        <div *ngIf="show" class="error1">
                                            Email already registered
                                        </div>
                                    </div>
                                    <!--Country Code and Phone-->
                                    <div class="row">
                                        <div class="form-group col-md-4 pr-2px">
                                            <div class="p-rel">
                                                <select class="form-control"
                                                    (change)="chooseCountry($event.target.value)">
                                                    <option *ngFor="let ls of selectCountry"
                                                        [selected]="ls.name == 'United States'"
                                                        value="{{ls?.dial_code}}">
                                                        {{ls?.dial_code}} {{ls?.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-8 pl-2px phonenumber">
                                            <div class="p-rel">
                                                <input autocomplete="false" type="tel" class="form-control"
                                                    mask="(000) 000-0000" maxlength=20
                                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                    placeholder="Mobile Number*"
                                                    [formControl]="signUpform.controls['MobilePhone']" minlength="10">
                                                <div *ngIf="signUpform.controls['MobilePhone'].invalid && (signUpform.controls['MobilePhone'].dirty || signUpform.controls['MobilePhone'].touched)"
                                                    class="error1">
                                                    <div *ngIf="signUpform.controls['MobilePhone'].errors.required">
                                                        Required
                                                    </div>
                                                    <div *ngIf="signUpform.controls['MobilePhone'].errors?.minlength">
                                                        Invalid Phone number
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Password-->
                                    <div class="form-group p-rel">
                                        <input class="form-control" autocomplete="new-password" type="password"
                                            id="password" name="password1"
                                            [formControl]="signUpform.controls['Password']" placeholder="Password"
                                            minlength=6>
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <div *ngIf="signUpform.controls['Password'].invalid && (signUpform.controls['Password'].dirty || signUpform.controls['Password'].touched)"
                                            class="error1">
                                            <div *ngIf="signUpform.controls['Password'].errors.required">
                                                Required.
                                            </div>
                                            <div *ngIf="signUpform.controls['Password'].errors.minlength">
                                                Minimum 6 Characters
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group p-rel" *ngFor="let condition of showPassword">
                                        <div *ngIf="condition.Code ==='ShowRegisterPassword' && condition.IsEnabled===false">
                                            <input class="form-control " type="password" id="password" name="password1" [formControl]="signUpform.controls['Password']" placeholder="Password" minlength=6>
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <div *ngIf="signUpform.controls['Password'].invalid && (signUpform.controls['Password'].dirty || signUpform.controls['Password'].touched)" class="error1">
                                                <div *ngIf="signUpform.controls['Password'].errors.required">
                                                    Required.
                                                </div>
                                                <div *ngIf="signUpform.controls['Password'].errors.minlength">
                                                    Minimum 6 Characters
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="form-group terms">
                                        <label class="container_check">Please accept our <a href="#" data-toggle="modal"
                                                data-target="#terms-txt">Terms and conditions</a>
                                            <input type="checkbox" name="terms" value="Yes" class="required">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div> -->
                                    <div>
                                        <button type="submit" id="login-button" class="btn2 pull-right sign-up-btn"
                                            (click)="loginstyle()" [class.cand-signup-spinner]="loading">Sign Up
                                        </button>
                                    </div>
                                    <div>
                                         <!-- <small>Already have an account? <a href="Javascript:void(0)"
                                                [routerLink]="['/candidatelogin']">Login
                                                here</a></small> -->
                                      <small>Already have an account? <a  href="javascript:void(0)" (click)="candLogin()">Login here</a></small> 
                                    </div>
                                    <!-- <small>I don't think of <a href="javascript:void(0)" (click)="layout()">signing
                                        up.</a></small> -->
                                    <small>I'm here for Hiring <a href="Javascript:void(0)"
                                            [routerLink]="['/layout']">Click here</a></small>
                                    <!---->
                                    <!-- <small>Already have an account? <a href="Javascript:void(0)" [routerLink]="['/candidatelogin']">Login
                                            here</a></small>
                                   
                                    <div class="d-flex justify-content-between">
                                        <small>I don't think of <a href="javascript:void(0)" (click)="layout()">signing
                                                up.</a></small>
                                        <span>
                                            <button type="submit" id="login-button"
                                                class="btn2 pull-right sign_btn">Sign Up</button>
                                        </span>
                                    </div>  -->
                                    <!---->
                                </div>
                            </div>
                            <!-- login -->

                            <!-- login -->
                            <!-- job id _forgot -->

                            <!-- job id _forgot -->
                            <!-- /middle-wizard -->
                        </form>
                        <!--Social Signup/SignIn Button Placements 20-04-2020 ACI-329 User story Bharath-->
                        <div class="clearfix">&nbsp;</div>
                        <div class="row s-s-btns" *ngIf="!afterRegistration">
                            <!-- <div class="col-md-12">
                                <h6>(OR)</h6>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-google">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                    <a href="{{url+'GooglePlusCallback'}}">Continue with Google</a>
                                </button>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-linkedin"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i>
                                    <a href="{{url+'LinkdinCallback'}}">Continue with LinkedIn</a>
                                </button>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-facebook"><i class="fa fa-facebook"
                                        aria-hidden="true"></i>
                                    <a href="{{url+'Facebook'}}"> Continue with Facebook</a>
                                </button>
                            </div> -->
                        </div>
                        <!---->
                    </div>
                    <div class="animated slideInLeft text-center" *ngIf="afterRegistration">
                        <div class="d-block">
                            <img src="../../../../assets/images//handshake.png" class="text-center w-auto">
                        </div>
                        <h4 class="namecolor  mb-4">Finally You Made it. Now you are into Arytic World!! </h4>
                        <div class="clearfix">&nbsp;</div>
                        <button type="button" id="login-button" [routerLink]="['/']" class="btn2 sign_btn">Explore
                            Arytic</button>
                    </div>
                    <!-- #Seeking Jobs Signup -->
                    <!-- Hiring -->
                    <!-- #Hiring -->
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- Seeking Job -->
            <div class="col-lg-6 content-right p-0 bg_6cccfd recrit_hide sl-hide" id="start">
                <div class="content-left-wrapper">
                    <div>
                        <h2 class="text-white">I'm a Job Seeker</h2>
                        <img src="../../../assets/images/dream-job.svg" alt="Job Seeker" class="img-fluid">

                    </div>
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- #Seeking Job -->
            <!-- Hiring Signup -->

            <!-- #Hiring Signup -->
            <!-- /content-right-->
            <!-- /content-left -->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-fluid -->

    <!--SignUP capture of Role 20-04-2020-->
    <div class="modal fade" id="captureProfileTitle" tabindex="-1" role="dialog"
        aria-labelledby="captureProfileTitlelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="captureProfileTitlelLabel">Almost There!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="profile-title-name" class="col-form-label">Your Preffered Profile Title</label>
                            <input type="text" class="form-control" id="profile-title-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!---->

</body>