.ven__diagram__section {
  padding: 60px 0;
}

.diagram__col {
  float: right;
  width: 658px;
  flex: 0 0 658px;
  max-width: 658px;
  height: 632px;
  position: relative;
  background: url(../../../assets/images/ven-diagram.png) 50% 50% no-repeat;
}

.content__col {
  min-height: 340px;
  overflow: hidden;
  display: block
}

.ven__diagram__section .content__col {
  overflow: inherit;
}


.ven__icon {
  position: absolute;
  min-height: 68px;
  min-width: 67px;
}

.ven__icon:before {
  content: "";
  width: 67px;
  height: 67px;
  position: absolute;
  left: 0;
  border: 5px solid #e6efff;
  font-size: 0;
  border-radius: 50%;
  background: url(../../../assets/images/ven-diagram-sprites.png) 0 0 no-repeat #fff;
  transform: scale(0.75);
  transform-origin: center;
  cursor: pointer;
  position: absolute;
  transition: all 550ms linear;
}

.ven__tooltip {
  z-index: 9;
  font-size: 14px;
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  color: #41536e;
  background: #e6efff;
  padding: 6px 12px;
  width: 215px;
  border-radius: 8px;
  position: absolute;
  left: 75px;
  top: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 550ms linear;
}

.ven__tooltip span {
  padding-left: 8px;
}

.ven__desktop__diagram {
  display: block;
}

.ven__diagram__carousel {
  display: none;
}

.ven_icon_01 {
  left: 508px;
  top: 132px;
}

.ven_icon_02 {
  left: 455px;
  top: 45px;
}

.ven_icon_03 {
  left: 356px;
  top: -2px;
}

.ven_icon_04 {
  left: 231px;
  top: -2px;
}

.ven_icon_05 {
  left: 142px;
  top: 45px;
}

.ven_icon_06 {
  left: 89px;
  top: 132px;
}

.ven_icon_07 {
  left: 30px;
  top: 224px;
}

.ven_icon_08 {
  left: -10px;
  top: 313px;
}

.ven_icon_09 {
  left: -10px;
  top: 420px;
}

.ven_icon_10 {
  left: 55px;
  top: 523px;
}

.ven_icon_11 {
  left: 163px;
  top: 565px;
}

.ven_icon_12 {
  left: 587px;
  top: 280px;
}

.ven_icon_13 {
  left: 591px;
  top: 412px;
}

.ven_icon_14 {
  left: 533px;
  top: 516px;
}

.ven_icon_15 {
  left: 428px;
  top: 569px;
}

.ven_icon_01:before {
  background-position: -24px -22px;
}

.ven_icon_02:before {
  background-position: -98px -22px
}

.ven_icon_03:before {
  background-position: -173px -22px
}

.ven_icon_04:before {
  background-position: -247px -22px
}

.ven_icon_05:before {
  background-position: -324px -22px
}

.ven_icon_06:before {
  background-position: -402px -22px
}

.ven_icon_07:before {
  background-position: -23px -96px;
  border-color: #e7eaef;
}

.ven_icon_08:before {
  background-position: -98px -96px;
  border-color: #e7eaef;
}

.ven_icon_09:before {
  background-position: -173px -96px;
  border-color: #e7eaef;
}

.ven_icon_10:before {
  background-position: -247px -96px;
  border-color: #e7eaef;
}

.ven_icon_11:before {
  background-position: -318px -96px;
  border-color: #e7eaef;
}

.ven_icon_12:before {
  background-position: -21px -174px;
  border-color: #effbf7;
}

.ven_icon_13:before {
  background-position: -95px -174px;
  border-color: #effbf7;
}

.ven_icon_14:before {
  background-position: -170px -174px;
  border-color: #effbf7;
}

.ven_icon_15:before {
  background-position: -243px -174px;
  border-color: #effbf7;
}

.bullet__listing {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bullet__listing li {
  color: #41536e;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px 20px;
  position: relative;
  border-radius: 8px;
  background: #fff;
  padding: 28px 20px 28px 70px;
  box-shadow: 5px 5px 20px rgba(110, 129, 158, 0.2);
  margin: 20px 0 0;
}

.bullet__listing li:first-child {
  margin: 0;
}

.bullet__listing li:nth-child(2) {
  left: 20px;
}

.bullet__listing li:nth-child(3) {
  left: 40px;
}

.bullet__listing li:before {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  left: -24px;
  top: 50%;
  margin-top: -24px;
  background: url(../../../assets/images/ven-diagram-sprites.png) -315px -170px #fff;
  border: 2px solid #e6efff;
  border-radius: 50%;
}

.ven__icon:hover:before {
  transform: scale(1);
}

.ven__icon:hover .ven__tooltip {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.ven_icon_01 .ven__tooltip,
.ven_icon_12 .ven__tooltip,
.ven_icon_13 .ven__tooltip,
.ven_icon_14 .ven__tooltip,
.ven_icon_15 .ven__tooltip {
  left: auto;
  right: 80px;
}

.ven__info {
  display: none;
}

.ven__info img {
  width: 80%;
  height: auto;
}

.ven__info h3 {
  font-size: 20px;
  line-height: 1.35;
  margin: 0 0 24px;
  color: #41536e;
  font-weight: bold;
  padding: 10px 60px 10px 20px;
  border-left: 4px solid #41536e;
}

.revamp__philoshopy__section {
  padding: 60px 0;
  position: relative;
}

.revamp__philoshopy__section .image__col img {
  width: 80%;
  height: auto;
}

.revamp__philoshopy__section .revamp__info {
  font-size: 18px;
}

.revamp__philoshopy__section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../../assets/images/customer-header-bg.png) 0 0 no-repeat;
  background-size: cover;
}

.revamp__three__col__grid {
  padding: 40px 0;
}

.revamp__three__col__grid img {
  width: 100%;
  height: auto;
}

.revamp__three__col__grid .col-container {
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(58, 171, 192, 0.20);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.revamp__three__col__grid .revamp__boxes {
  height: 460px;
}

.revamp__three__col__grid .revamp__boxes .flip__box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.revamp__three__col__grid .revamp__boxes:hover .flip__box {
  transform: rotateY(180deg);
}

.revamp__boxes .flip__up,
.revamp__boxes .revamp__mask {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.revamp__boxes .flip__up.middle-card {
  background: #66DAB5;
  padding: 30px;
  text-align: center;
  color: #202230;
}

.revamp__boxes .flip__up.middle-card h4 {
  font-size: 24px;
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #202230;
  padding: 0 15px;
  line-height: 1.45;
}

.revamp__boxes .flip__up.middle-card p {
  font-size: 18px;
  line-height: 1.45;
  margin: 24px 0 0;
}

.revamp__boxes .revamp__mask.middle-card {
  background: #fff;
}

.revamp__boxes .revamp__mask {
  transform: rotateY(180deg);
}

.revamp__boxes .revamp__mask {
  /* -webkit-transform:scale(0); -moz-transform:scale(0); transform:scale(0); transition:all 2s;  */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #66DAB5;
  padding: 30px;
  text-align: center;
  color: #202230;
}

.revamp__three__col__grid .info__box {
  text-align: center;
  padding: 38px;
  font-size: 22px;
  color: #041d38;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.revamp__three__col__grid .revamp__mask h4 {
  font-size: 24px;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #202230;
  padding: 0 15px;
  line-height: 1.45;
}

.revamp__three__col__grid .revamp__mask p {
  font-size: 18px;
  line-height: 1.45;
  margin: 24px 0 0;
}

.revamp__three__col__grid figure {
  margin: 0;
}

/* .revamp__three__col__grid .col-container:hover .revamp__mask { 
    -webkit-transform:scale(1); -moz-transform:scale(1); transform:scale(1); 
} */
.revamp__three__col__grid .info__box::before {
  content: "";
  width: 60%;
  height: 1px;
  background: #e8e8e8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.revamp__two__column__grid .image__col {
  padding: 60px 0;
}

.revamp__two__column__grid .image__col img {
  width: 100%;
  height: auto;
}

.revamp__two__column__grid .content__col {
  padding-left: 60px;
  font-size: 18px;
  line-height: 1.65;
}

.ven__diagram__carousel .item {
  text-align: center;
}

.ven__diagram__carousel h3 {
  font-size: 18px;
  text-align: center;
  margin: 0 0 20px;
}

.ven__diagram__carousel h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 15px 0;
}

.ven__diagram__carousel p {
  text-align: center;
}

.venn-thumb-img {
  width: 450px;
  height: 400px;
}

.great-place-to-work-badge {
  width: 4rem;
  height: auto;
  z-index: 999;
  position: absolute;
  right: 0.5rem;
  top: 5rem;
}

@media only screen and (max-height:660px) {
  .ven_icon_01 {
    left: 358px;
    top: 102px;
  }

  .ven_icon_02 {
    left: 324px;
    top: 20px;
  }

  .ven_icon_03 {
    left: 246px;
    top: -22px;
  }

  .ven_icon_04 {
    left: 161px;
    top: -30px;
  }

  .ven_icon_05 {
    left: 92px;
    top: 5px;
  }

  .ven_icon_06 {
    left: 49px;
    top: 62px;
  }

  .ven_icon_07 {
    left: -7px;
    top: 154px;
  }

  .ven_icon_08 {
    left: -31px;
    top: 233px;
  }

  .ven_icon_09 {
    left: -20px;
    top: 310px;
  }

  .ven_icon_10 {
    left: 35px;
    top: 376px;
  }

  .ven_icon_11 {
    left: 120px;
    top: 405px;
  }

  .ven_icon_12 {
    left: 417px;
    top: 190px;
  }

  .ven_icon_13 {
    left: 421px;
    top: 272px;
  }

  .ven_icon_14 {
    left: 383px;
    top: 356px;
  }

  .ven_icon_15 {
    left: 298px;
    top: 409px;
  }

  .diagram__col {
    width: 458px;
    height: 440px;
    flex: 0 0 458px;
    max-width: 458px;
    background-size: 458px auto;
    background-position: 0 0;
    margin: auto;
  }
}

@media only screen and (max-width:1170px) {
  .revamp__philoshopy__section .revamp__info {
    font-size: 16px;
  }

  .ven_icon_01 {
    left: 358px;
    top: 102px;
  }

  .ven_icon_02 {
    left: 324px;
    top: 20px;
  }

  .ven_icon_03 {
    left: 246px;
    top: -22px;
  }

  .ven_icon_04 {
    left: 161px;
    top: -30px;
  }

  .ven_icon_05 {
    left: 92px;
    top: 5px;
  }

  .ven_icon_06 {
    left: 49px;
    top: 62px;
  }

  .ven_icon_07 {
    left: -7px;
    top: 154px;
  }

  .ven_icon_08 {
    left: -31px;
    top: 233px;
  }

  .ven_icon_09 {
    left: -20px;
    top: 310px;
  }

  .ven_icon_10 {
    left: 35px;
    top: 376px;
  }

  .ven_icon_11 {
    left: 120px;
    top: 405px;
  }

  .ven_icon_12 {
    left: 417px;
    top: 190px;
  }

  .ven_icon_13 {
    left: 421px;
    top: 272px;
  }

  .ven_icon_14 {
    left: 383px;
    top: 356px;
  }

  .ven_icon_15 {
    left: 298px;
    top: 409px;
  }

  .diagram__col {
    width: 458px;
    height: 440px;
    flex: 0 0 458px;
    max-width: 458px;
    background-size: 458px auto;
    background-position: 100% 0;
  }
}


@media only screen and (max-width:1023px) {
  .revamp__three__col__grid .container {
    max-width: inherit;
  }

  .revamp__three__col__grid .info__box {
    padding: 20px;
  }

  .revamp__three__col__grid .revamp__mask {
    padding: 20px;
    font-size: 20px;
  }

  .revamp__three__col__grid .revamp__mask h4 {
    font-size: 20px;
    padding: 0;
  }

  .revamp__three__col__grid .revamp__mask p {
    font-size: 15px;
  }

  .revamp__three__col__grid .col-sm-4 {
    padding: 0 7px;
  }

  .revamp__three__col__grid .row {
    margin: 0;
  }

  .ven__diagram__carousel {
    display: block;
  }

  .ven__desktop__diagram {
    display: none;
  }
}

@media only screen and (max-width:767px) {
  .great-place-to-work-badge {
    width: 3.0rem;
  }

  .revamp__philoshopy__section .col-sm-6,
  .revamp__three__col__grid .col-sm-4,
  .revamp__two__column__grid .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .revamp__three__col__grid {
    padding: 0 0 40px;
  }

  .revamp__philoshopy__section .content__col {
    text-align: center;
    padding: 0 30px;
    margin: 30px 0 0;
  }

  .revamp__three__col__grid .col-sm-4 .col-container {
    width: 360px;
    margin: 30px auto 0;
  }

  .revamp__two__column__grid .content__col {
    padding-left: 0;
    text-align: center;
  }

  .revamp__two__column__grid .image__col {
    padding: 0 15px 30px;
  }

  .ven__diagram__carousel .col-sm-4 {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 0 30px;
  }

  .revamp__three__col__grid .revamp__mask h4 {
    float: none;
  }
}

@media only screen and (max-width:479px) {
  .great-place-to-work-badge {
    width: 2.5rem;
  }

  .revamp__three__col__grid .col-sm-4 .col-container {
    width: 100%;
  }

  .ven__diagram__carousel .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.owl-theme .owl-dots .owl-dot span { font-size: 0; }