<div class="homepage" role="main">
  <!--<section class="banner section">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h1>Arytic | Next Gen Artificial Intelligence Predictive Hiring Platform</h1>
            <p> Arytic is a New-gen AI Predictive Hiring platform that connects employers, hiring agencies, recruiters, job seekers. Fully-automated AI recruiting platform for Insight & Intelligence-driven talent acquisition.</p>
  
            <button class="btn btn-primary" (click)="Demo()" data-toggle="modal" data-target="#exampleModal">Request a
              demo</button>
            <button class="btn btn-info arytic-video-btn" (click)="Demo()" data-toggle="modal" data-target="#aryticvideo">
              Arytic Intro  
              <img class="img-fluid play-icon w-16" src="../../../assets/images/play-button.svg" alt="Play Video Icon"
              title="Arytic Intro Video"></button>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="../../../assets/images/ai-recruiting-system.svg" alt="AI Recruiting System"
              title="AI Recruiting System">
          </div>
        </div>
      </div>
    </section>-->

  <div class="revamp__banner__container">   
    <section class="video__banner">
      <div class="video__backdrop"></div>
      <video poster="../../../assets/images/capture__arytic.jpg" loop muted autoplay oncanplay="this.play()"
        onloadedmetadata="this.muted = true">
        <source src="../../../assets/images/Home__Page.mp4" type="video/mp4">
      </video>
    </section>
    <section class="revamp__banner  flex flex-wrap flex-align-center flex-justify-center">
      <img class="great-place-to-work-badge  nav-item-hide" src="../../../assets/images/badge.png"
        alt="MBDA Professional Services Firm">
      <div class="banner__content">
        <div class="container">
          <div class="revamp__banner__box">
            <h1>Arytic</h1>
            <h2>Next Gen Artificial Intelligence Predictive Hiring Platform</h2>
            <p>Arytic brings together technology and behavioral sciences in an all-inclusive platform that connects the
              perfect candidate to the perfect job.</p>
            <div class="buttons">
              <ul>
                <li>
                  <button class="btn btn-primary btn__primary" (click)="Demo()" data-toggle="modal" data-target="#exampleModal">Request a demo</button>
                </li>
                <li>
                  <button class="btn btn-info arytic-video-btn" (click)="Demo()" data-toggle="modal"
                    data-target="#aryticvideo">
                    Arytic Intro
                    <img class="img-fluid play-icon w-16" src="../../../assets/images/play-button.svg"
                      alt="Play Video Icon" title="Arytic Intro Video"></button>
                </li>
              </ul>
              <div class="banner__counting__title">
                <h3>COMPANIES THAT SWITCH TO ARYTIC SEE UP TO:</h3>
              </div>
            </div><!-- /.buttons -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section banner__counting">
    <div class="container">

      <div class="row flex flex-wrap flex-align-equal">
        <div class="col-sm-3 flex  flex-wrap">

          <div class="number">40%</div>
          <div class="info">Reduction in Interviews</div>
        </div>
        <div class="col-sm-3 flex flex-wrap">

          <div class="number">3x</div>
          <div class="info">Increase User Collaboration</div>
        </div>
        <div class="col-sm-3 flex flex-wrap">

          <div class="number">$4K</div>
          <div class="info">Savings/Hire Efficiency Increase</div>
        </div>
        <div class="col-sm-3 flex flex-wrap">

          <div class="number">74%</div>
          <div class="info">Reduction in Time To Hire</div>
        </div>
      </div>

    </div>

  </div><!-- /.banner__counting -->
  <div class="section ven__diagram__section">
    <div class="container">
      <div class="ven__desktop__diagram">
        <div class="row flex-wrap flex-align-center">
          <div class="col-sm-7 diagram__col">
            <div class="ven__icon ven_icon_01" data-id="ven__info__01">
              <span class="ven__tooltip">

                <span>Save time and money</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_02" data-id="ven__info__02">
              <span class="ven__tooltip">
                <span>Build relationships with candidates</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_03" data-id="ven__info__03">
              <span class="ven__tooltip">
                <span>See verified information</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_04" data-id="ven__info__04">
              <span class="ven__tooltip">
                <span>Promote social justice</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_05" data-id="ven__info__05">
              <span class="ven__tooltip">
                <span>Crowdsource your post</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_06" data-id="ven__info__06">
              <span class="ven__tooltip">
                <span>Access job post reviews</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_07" data-id="ven__info__07">
              <span class="ven__tooltip">
                <span>Level playing field</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_08" data-id="ven__info__08">
              <span class="ven__tooltip">
                <span>Optimize your opportunities</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_09" data-id="ven__info__09">
              <span class="ven__tooltip">
                <span>Earn referral bonuses</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_10" data-id="ven__info__10">
              <span class="ven__tooltip">
                <span>Get an insider look</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_11" data-id="ven__info__11">
              <span class="ven__tooltip">
                <span>Improve your chances of getting hired</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_12" data-id="ven__info__12">
              <span class="ven__tooltip">
                <span>Place more candidates</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_13" data-id="ven__info__13">
              <span class="ven__tooltip">
                <span>Keep your candidates in the loop</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_14" data-id="ven__info__14">
              <span class="ven__tooltip">
                <span>Keep more money</span>
              </span>
            </div>
            <div class="ven__icon ven_icon_15" data-id="ven__info__15">
              <span class="ven__tooltip">
                <span>Eliminate busy work</span>
              </span>
            </div>
          </div>
          <div class="col-sm-5 content__col">
            <!-- <div class="bullet__listing">
              <img src="../../../assets/images/venn-diagram-bullets.png" />
            </div> -->
            <ul class="bullet__listing">
              <li>Find Your Perfect Fit</li>
              <li>Easy to use</li>
              <li>Mobile Friendly</li>
            </ul>
            <div class="ven__info" id="ven__info__01">
              <h4>Save Time and Money</h4>
              <p>Current clients are seeing a 74% reduction in Time to Hire and savings of up to $4K per hire.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_01.png"
                alt="Save Time and Money">
            </div>
            <div class="ven__info" id="ven__info__02">
              <h4>Build relationships with candidates</h4>
              <p>Communicate post status with a simple click instead of having to call or email each candidate.</p>
              <img src="../../../assets/images/ven-diagram-thumb/thumb_02.jpg"
                alt="Build relationships with candidates">
            </div>
            <div class="ven__info" id="ven__info__03">
              <h4>See Verified Information</h4>
              <p>Check background, references, and skills through Arytic, also see what managers and coworkers say about
                their culture fit.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_03.jpg"
                alt="See Verified Information">
            </div>
            <div class="ven__info" id="ven__info__04">
              <h4>Promote social justice</h4>
              <p>Build a more inclusive team and avoid unconscious bias by seeing applications from qualified candidates
                without regards to their identity.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_04.jpg"
                alt="Promote social justice">
            </div>
            <div class="ven__info" id="ven__info__05">
              <h4>Crowdsource your post</h4>
              <p>Encourage your social circle to share your job posts to increase visibility to passive candidates.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_05.jpg"
                alt="Crowdsource your post">
            </div>
            <div class="ven__info" id="ven__info__06">
              <h4>Access job post reviews</h4>
              <p>Improve your jobs posts through candidate feedback to get more applicants. </p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_06.jpg"
                alt="Access job post reviews">
            </div>
            <div class="ven__info" id="ven__info__07">
              <h4>Level playing field</h4>
              <p>Showcase your experience without fear of facing bias based on your unique identities.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_07.jpg"
                alt="Level playing field">
            </div>
            <div class="ven__info" id="ven__info__08">
              <h4>Optimize your opportunities</h4>
              <p>Immediate feedback allows you to spend your time efficiently and apply to the right jobs.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_08.jpg"
                alt="Optimize your opportunities">
            </div>
            <div class="ven__info" id="ven__info__09">
              <h4>Earn referral bonuses</h4>
              <p>Make money when you accept a job offer through Arytic or by referring friends to job posts.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_09.jpg"
                alt="Earn referral bonuses">
            </div>
            <div class="ven__info" id="ven__info__10">
              <h4>Get an insider look</h4>
              <p>See what current and previous employees are saying about the position before you apply.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_10.jpg"
                alt="Get an insider look">
            </div>
            <div class="ven__info" id="ven__info__11">
              <h4>Improve your chances of getting hired</h4>
              <p>Perfect your Arytic Score through recruiter feedback and automated tips.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_11.jpg"
                alt="Improve your chances of getting hired">
            </div>
            <div class="ven__info" id="ven__info__12">
              <h4>Place more candidates</h4>
              <p>See job posts from all employers and instantly see which jobs to pursue for each candidate.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_15.jpg"
                alt="Place more candidates">
            </div>
            <div class="ven__info" id="ven__info__13">
              <h4>Keep your candidates in the loop</h4>
              <p>Easily send feedback when hiring managers update job status</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_14.jpg"
                alt="Keep your candidates in the loop">
            </div>
            <div class="ven__info" id="ven__info__14">
              <h4>Keep more money</h4>
              <p>Pay a very low monthly fee and a 7% rate for each successful hire.</p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_13.jpg"
                alt="Keep more money">
            </div>
            <div class="ven__info" id="ven__info__15">
              <h4>Eliminate busy work</h4>
              <p>Spend more time nurturing your candidate and employer relationships by letting Arytic do the busy work.
              </p>
              <img class="venn-thumb-img" src="../../../assets/images/ven-diagram-thumb/thumb_12.jpg"
                alt="Eliminate busy work">
            </div>
          </div>
        </div>
      </div>
      <div class="ven__diagram__carousel">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <h3>Employee</h3>
            <owl-carousel [options]="optionSlide" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let slide of employeeSlide">
                <img src={{slide.image}} alt={{slide.title}} />
                <div class="item-info">
                  <h4>{{slide.title}}</h4>
                  <p>{{slide.descritpition}}</p>
                </div>
              </div>
            </owl-carousel>
          </div>
          <div class="col-sm-4 col-xs-12">
            <h3>Candidate</h3>
            <owl-carousel [options]="optionSlide" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let slide of candidateSlide">
                <img src={{slide.image}} alt={{slide.title}} />
                <div class="item-info">
                  <h4>{{slide.title}}</h4>
                  <p>{{slide.descritpition}}</p>
                </div>
              </div>
            </owl-carousel>
          </div>
          <div class="col-sm-4 col-xs-12">
            <h3>Agencies/Recruiters</h3>
            <owl-carousel [options]="optionSlide" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let slide of agnciesSlide">
                <img src={{slide.image}} alt={{slide.title}} />
                <div class="item-info">
                  <h4>{{slide.title}}</h4>
                  <p>{{slide.descritpition}}</p>
                </div>
              </div>
            </owl-carousel>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.section -->

  <section class="revamp__three__col__grid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="col-container revamp__boxes">
            <div class="flip__box">
              <div class="flip__up">
                <figure>
                  <img src="../../../assets/images/revamp__grid__thumb__01.png"
                    alt="Meet Arytic your personal assistant">
                </figure>
                <div class="info__box">
                  Meet Arytic your personal assistant
                </div>
              </div>
              <div class="revamp__mask">
                <h4>Meet Arytic your personal assistant</h4>
                <p>Arytic is driven by next-gen artificial intelligence; he will guide you through the platform offering
                  helpful advice along the way. Arytic is always learning and scanning for your perfect match, the more
                  input you give him, the better your results.</p>
              </div>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="col-container revamp__boxes">
            <div class="flip__box">
              <div class="flip__up middle-card">
                <h4>Arytic Smart Card</h4>
                <p>Technology is changing the way we do business, with that, comes the evolution of the traditional
                  resume. The Arytic Smart Card replaces the resumes with an easy to understand and visually helpful
                  tool
                  that instantly shows the most relevant information. </p>

              </div>
              <div class="revamp__mask  middle-card">
                <figure>
                  <img src="../../../assets/images/revamp__grid__thumb__02.png" alt="Arytic Smart Card">
                </figure>
                <div class="info__box">
                  Arytic Smart Card
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="col-container revamp__boxes">
            <div class="flip__box">
              <div class="flip__up">
                <figure>
                  <img src="../../../assets/images/revamp__grid__thumb__03.png" alt="Arytic Intelligent Match Machine">
                </figure>
                <div class="info__box">
                  Arytic Intelligent Match Machine
                </div>
              </div>
              <div class="revamp__mask">
                <h4>Arytic Intelligent Match Machine</h4>
                <p>When a team works well together, it is as if all the gears in a motor were perfectly aligned, but
                  just one bad fit, can stop the motor, our Intelligent Match Machine allows you to find the perfect fit
                  every time.</p>
              </div>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
    </div><!-- /.container -->
  </section><!-- /.revamp__three__col__grid -->
  <section class="revamp__philoshopy__section">
    <div class="container">
      <div class="row flex-wrap flex-align-center">
        <div class="col-sm-6 image__col">
          <img src="../../../assets/images/revamp__philoshophy__image.png" alt="Arytic Philosophy">
        </div><!-- /.image__col -->
        <div class="col-sm-6 content__col">
          <div class="revamp__section__title">
            <h3>Arytic Philosophy</h3>
          </div>
          <div class="revamp__info">
            Our team believes joblessness is a systemic issue that requires a holistic approach, we aspire to be a
            useful tool for workforce development organizations worldwide. Our team is always innovating and searching
            for new ways to make a positive impact in the world. Our intelligent learning machine creates a fair, fast,
            affordable,and easy way to connect the perfect candidate to the perfect job.
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </section><!-- /.revamp__philoshopy__section -->

  <section class="revamp__two__column__grid">
    <div class="container">
      <div class="row flex-wrap flex-align-center">
        <div class="col-sm-12 image__col col-xs-12 text-center">
          <div class="revamp__section__title">
            <h3>Arytic Smart Analytics </h3>
          </div>
          <div class="revamp__info">
            <strong>Try it free now!</strong> Try Arytic for 30 days and experience how our integrated solutions will
            transform your hiring decisions. <br /><strong> credit card required and no software
              downloads.</strong><br /><br />
          </div>
          <img src="../../../assets/images/sneak-peek.png" alt="Arytic Smart Analytics">
        </div><!-- /.image__col -->
      </div>
    </div><!-- /.container -->
  </section><!-- /.revamp__philoshopy__section -->

  <!-- <section class="clientele">
      <div class="container">
        <div class="client-logos">
          <img class="img-fluid" src="../../../assets/images/clients.png" alt="">
        </div>
      </div>
    </section> -->

  <!-- <section class="find-dream-job section">
      <div class="container">
        <div class="row align-items-bottom justify-content-between">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h1>Find your <br /> Dream Job</h1>
            <p>
              Take time to prepare your resume and register with Arytic. Upload your resume into our portal. Rest of the
              job is ours. We will suggest you the best suitable jobs where your profile perfectly matches with the Job
              requirements.
            </p>
            <p>
              We also on our own suggest your profile to our customers who posted jobs in our portal, even if you missed
              to apply. Additionally, you have the privilege of referring a job that fits well with any of your friends
              or peers in your social network. You get cash rewards for such referrals of most suitable candidates, who
              would get selected.
            </p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="../../../assets/images/dream-job.svg" alt="Find your dream job"
              title="Find your dream job">
          </div>
        </div>
      </div>
    </section> -->
  <!-- <section class="features section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeatureImpeccableProfile']"><img
                src="../../../assets/images/profile_icon.png" class="icon" alt="Profile Icon"
                title="Impeccable Profile: Background, Reference, and Skills Verification"></a>
  
            <h5>Impeccable Profile: Background, Reference, and Skills Verification</h5>
            <p>Technical Profile Verification and comprehensive Background Check Services. </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeatureUniqueProfile']">
              <img src="../../../assets/images/platform_icon.png" class="icon" alt="Platform Icon"
                title="Unique Experience Platform: Simple, Modern, Cost-effective">
            </a>
            <h5>Unique Experience Platform: Simple, Modern, &amp; Cost-effective</h5>
            <p>Arytic offers the most simple, modern, and cost-effective site of its kind.</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeaturePersonalityTest']">
              <img src="../../../assets/images/personality_test_icon.png" class="icon" alt="Personality test Icon"
                title="Personality test for best work culture match">
            </a>
            <h5>Personality Test: Best Work Culture Match </h5>
            <p>
              By DISC personality assessment you greatly increase the chance of finding the job that is
              most naturally suited to who you are.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/insights']">
              <img src="../../../assets/images/job_review_icon.png" class="icon" alt="Job Review Icon"
                title="Arytic Blog and Discussions Forum">
            </a>  
            <h5>Arytic Blog and Discussions Forum</h5>
            <p>The Arytic Blog and Discussion Forum is a place to find and share real-time data on topics that most
              interest you.</p>
          </div>
        </div>
        <div class="see-more" style="float: right">
          <a href="Javascript:void(0)" [routerLink]="['/candidate']" class="see-more-link">
            See more features <svg xmlns="http://www.w3.org/2000/svg" width="23.6" height="12">
              <path
                d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z"
                fill="#b6c2d6"></path>
            </svg>
          </a>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    </section> -->
    <!--<div class="container">
      <hr />
    </div> -->
    <!--<section class="quality-talent section">
      <div class="container">
        <div class="row align-items-bottom justify-content-between">
          <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="../../../assets/images/quality-talent.svg"
              alt="Find uncompromising quality talent" title="Find uncompromising quality talent">
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h1>Find uncompromising <br /> quality talent</h1>
            <p>
              Register with Arytic and Post your job with Job Description. We will assist you to find the quality
              talented candidates appropriate to the jobs posted.
            </p>
            <p>
              We relieve your hiring managers from the hassle of sifting through large number of mail attachments with
              resume to find the best of the lot.
            </p>
            <p>
              Arytic suggests the best of the profiles that ideally fit the job and connects you with the right candidate
              while making it transparent to you the right match for the job.
            </p>
            <p>
              Our proprietary algorithms for matching resume with Job requirements, changes your Recruiting Metric from
              Time to Fill to Need date.
            </p>
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section class="features section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeatureNotJustaPost']">
              <img src="../../../assets/images/guided_post_icon.png" class="icon" alt="Guided Post Icon"
                title="Not Just a Post...an Analytically Guided Post">
            </a>  
            <h5>Not Just a Post : An Analytically Guided Post</h5>
            <p>Analytically Guided Post allows you to post with maximum benefit.</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeatureVideoSizzle']">
              <img src="../../../assets/images/video_sizzle.png" class="icon" alt="Video Sizzle Icon"
                title="Video Sizzle">
            </a>  
            <h5>Arytic's Video Sizzle: Bringing your projects to life.</h5>
            <p>With Video Sizzle, hiring leaders are the directors of the film and the job is the star of the show.</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeatureRealTimeData']">
              <img src="../../../assets/images/realtime_data_icon.png" class="icon" alt="Realtime Icon"
                title="Real Time Data, Engage with Decision Makers">
            </a>  
            <h5>Transparency: Real Time Data, Engaging with Decision Makers.</h5>
            <p>
              As the process unfolds, you are not only granted access but actually encouraged to communicate directly
              with hiring managers.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeatureAssessandRepost']">
              <img src="../../../assets/images/job_review_icon.png" class="icon" alt="Job Review Icon"
                title="Assess and Repost: Transparent Job Reviews">
            </a>
            <h5>Assess and Repost: Transparent Job Reviews</h5>
            <p>Arytic’s Real-time job reviews gives hiring leaders invaluable information and transparent insights for
              each job post.</p>
          </div>
        </div>
        <div class="see-more" style="float: right">
          <a href="Javascript:void(0)" [routerLink]="['/customer']" class="see-more-link">
            See more features <svg xmlns="http://www.w3.org/2000/svg" width="23.6" height="12">
              <path
                d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z"
                fill="#b6c2d6"></path>
            </svg>
          </a>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    </section> -->
    <!--<div class="container">
      <hr />
    </div> -->
    <!--<section class="referral-bounty section">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h1>Referral <br />Bounty</h1>
            <p>
              We respect our members seeking jobs for their time to refer the jobs appropriate to their peers and
              friends. We reward members for actively referring the jobs to their contacts in their social networks in
              any social media like FB, LinkedIn, and G+.
            </p>
            <p>
              We encourage your friends for referring ahead the jobs to those in their social networks. Thus, a job
              referral initiated by you would result in a referral chain through passing on the job from one to the other
              by referring ahead.
            </p>
            <p>
              Any one of the members in that referral chain, if selected would be awarded a cash reward. Apart from the
              selected candidate, member who initiated the referral chain, the member who referred the selected candidate
              would also win with cash rewards.
            </p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="../../../assets/images/referral-bounty.svg" alt="Referral Bounty"
              title="Referral Bounty">
          </div>
        </div>
      </div>
    </section> -->
  <!-- Award section-->
  <section class="awards section">
    <div class="container">
      <h1>Our Achievements & Awards</h1>
      <div class="row">
        <div class="col-md-4 award-circle">
          <!-- <img class="img-fluid" src="../../../assets/images/award-wheel-img.png" alt="Our Achiements & Awards"
            title="Our Achievements & Awards"> -->
          <img class="img-fluid" src="../../../assets/images/keep-earning-hiring-bonus.svg"
            alt="Our Achiements & Awards" title="Our Achievements & Awards">
        </div>
        <div class="col-md-8 col-sm-12 ">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row flex-column-reverse flex-md-row">
                  <div class="award-content col-md-7 col-sm-12 col-xs-12">
                    <div class="award-date">August 2019</div>
                    <div class="award-title">Winner of 2019 Profiles in Power award by Austin Business Journal.</div>
                    <div class="award-abbr">Usha Boddapu, CEO of Arytic, Inc. is the winner of 2019 Profiles in Power
                      award by Austin Business Journal.</div>
                    <!-- <a href="https://www.esolvit.com/Austins-Influential-Women.php" target="_blank" class="btn btn-info btn-sm v-sm-btn">Read More</a> -->
                  </div>
                  <div class="award-img col-md-5 col-sm-12 col-xs-12">
                    <img src="../../../assets/images/awards/womenscover.jpg" alt="Womens Cover" class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row flex-column-reverse flex-md-row">
                  <div class="award-content col-sm-7">
                    <div class="award-date">June 2019</div>
                    <div class="award-title">National Top 5 Executive Innovation Award at Engage 2019</div>
                    <div class="award-abbr">Arytic takes pride in its CEO’s (Usha Boddapu) New Achievement at Engage
                      2019.</div>
                    <!-- <a href="https://www.esolvit.com/Esolvit-Won-at-Enagage-Awards.php" target="_blank" class="btn btn-info btn-sm v-sm-btn">Read More</a> -->
                  </div>
                  <div class="award-img col-sm-5">
                    <img src="../../../assets/images/Engage-Award-1card.jpg" alt="Engage Award Card" class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row flex-column-reverse flex-md-row">
                  <div class="award-content col-sm-7">
                    <div class="award-date">May 2019</div>
                    <div class="award-title">Honored " City of Austin Excellence Award"</div>
                    <div class="award-abbr">Arytic, Inc. IT Solutions Company is honored " City of Austin Excellence
                      Award for giving back to Community May 2019"</div>
                      <!--<button class="btn btn-info btn-sm v-sm-btn">Read More</button> -->
                  </div>
                  <div class="award-img col-sm-5">
                    <img src="../../../assets/images/awards/austin-excellence-award-2.jpg"
                      alt="Honored  City of Austin Excellence Award" class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row flex-column-reverse flex-md-row">
                  <div class="award-content col-sm-7">
                    <div class="award-date">May 2019</div>
                    <div class="award-title">"City of Austin Excellence Award"</div>
                    <div class="award-abbr">Arytic team in the National News Letter. The Federal teams cheered Esolvit
                      at City of Austin Excellence award Cermony May 2019</div>
                    <!-- <button class="btn btn-info btn-sm v-sm-btn">Read More</button> -->
                  </div>
                  <div class="award-img col-sm-5">
                    <img src="../../../assets/images/awards/Austin-Excellence-award.jpg"
                      alt="City of Austin Excellence Award" class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row flex-column-reverse flex-md-row">
                  <div class="award-content col-sm-7">
                    <div class="award-date">October 2018</div>
                    <div class="award-title">"The USA Emerging Leaders Award"</div>
                    <div class="award-abbr">Aryitc, Inc. getting awarded by Federal teams "The USA Emerging Leaders
                      Award" October 2018</div>
                    <!-- <button class="btn btn-info btn-sm v-sm-btn">Read More</button> -->
                  </div>
                  <div class="award-img col-sm-5">
                    <img src="../../../assets/images/awards/federalgovcover.jpg" alt="The USA Emerging Leaders Award"
                      class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row flex-column-reverse flex-md-row">
                  <div class="award-content col-sm-7">
                    <div class="award-date">May 2017</div>
                    <div class="award-title">"Economic Development Engine Of the Year 2017" from GAACC.</div>
                    <div class="award-abbr">Arytic Wins "Economic Development Engine Of the Year 2017" from GAACC.
                    </div>
                    <!-- <button class="btn btn-info btn-sm v-sm-btn">Read More</button> -->
                  </div>
                  <div class="award-img col-sm-5">
                    <img src="../../../assets/images/economicengineaward.jpg"
                      alt="Arytic Wins Economic Development Engine Of the Year 2017 from GAACC" class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row flex-column-reverse flex-md-row">
                  <div class="award-content col-sm-7">
                    <div class="award-date">December 2013</div>
                    <div class="award-title">Top 10 promising technology startups chosen by Nasscom's Emerge.</div>
                    <div class="award-abbr">Top 10 promising technology startups chosen by Nasscom's Emerge.</div>
                    <!-- <button class="btn btn-info btn-sm v-sm-btn">Read More</button> -->
                  </div>
                  <div class="award-img col-sm-5">
                    <img src="../../../assets/images/awards/nasscom.jpg" alt="Nasscom" class="full-width">
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Client Section Carousel -->
  <section class="client section">
    <div class="container">
      <h1>Our Clients</h1>
      <div class="row">
        <div class="col-md-12 col-sm-12 client-carousel">
          <owl-carousel [options]="SlideOptions" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let img of Images">
              <div class="client-logo" *ngFor="let cimg of img">
                <img src={{cimg}} alt="{{cimg}}" />
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
  </section>
  <!-- End of client section-->

  <!-- Testimonial section -->
  <section class="testimonial-block section">
    <div class="container">
      <h1>Our Testimonials</h1>
      <div class="row">

        <div class="col-md-12 col-sm-12 ">
          <div id="carouselTestimonials" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
              <li data-target="#carouselTestimonials" data-slide-to="0" class="active">
                <div class="thumnail-section">
                  <img src="../../../assets/images/clients/3m.jpg" alt="3m" />
                </div>
              </li>
              <li data-target="#carouselTestimonials" data-slide-to="1">
                <div class="thumnail-section">
                  <img src="../../../assets/images/clients/siemens.jpg" alt="Siemens" />
                </div>
              </li>
              <li data-target="#carouselTestimonials" data-slide-to="2">
                <div class="thumnail-section">
                  <img src="../../../assets/images/clients/quinnox.jpg" alt="Quinnox" />
                </div>
              </li>
              <li data-target="#carouselTestimonials" data-slide-to="3">
                <div class="thumnail-section">
                  <img src="../../../assets/images/clients/nielson.jpg" alt="Nielson" />
                </div>
              </li>
            </ol>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row  flex-column-reverse flex-md-row">
                  <div class="testimonial-content col-sm-10">
                    <div class="testimonial-section">
                      <div class="testimonial-title">
                        <!--Jason Rivera<br />
                        <span class="testimonial-designation">-->Tolling and DMV Head
                      </div>
                      <div class="testimonial-abbr">Our relationship has been tremendous. And for me, its not the size
                        of the company, it’s the relationships that are built…It has been my pleasure to have your staff
                        provide such excellent service and we look forward to a long relationship with your company.
                      </div>
                      <!-- <div class="testimonial-logo-img">
                        <img src="../../../assets/images/clients/3m.jpg">
                      </div> -->
                      <div class="testimonial-social-icons">
                        <img src="../../../assets/images/social-icons/ln.png" alt="Linked In">
                        <img src="../../../assets/images/social-icons/tt.png" alt="Twitter">
                        <img src="../../../assets/images/social-icons/yt.png" alt="Youtube">
                      </div>
                    </div>

                  </div>
                  <div class="testimonial-img col-sm-2">
                    <img src="../../../assets/images/testimonials/3M-img.png" alt="3M" class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row  flex-column-reverse flex-md-row">
                  <div class="testimonial-content col-sm-10">
                    <div class="testimonial-section">
                      <div class="testimonial-title">
                        <!-- Paul Kaeley<br />
                        <span class="testimonial-designation">-->President & CEO of Omnetric USA
                        <!--</span> -->
                      </div>
                      <div class="testimonial-abbr">I have had the opportunity to work with Sri Rao Baddapu over the
                        years as both a business partner and a customer. It is remarkable to see the growth of his
                        companies.
                        <br /><br />
                        Recently. Esolvit is expanding its services into social commerce platform and product
                        development with specialization in technologies like Mongo DB, Load JS, BigData Analytics,
                        Android & iOS etc.
                        <br /><br />
                        These services delivered with a tireless focus on customer satisfaction makes for a great
                        partnership. I hope I get the chance to do more with him and his expert team members.
                      </div>
                      <!-- <div class="testimonial-logo-img">
                        <img src="../../../assets/images/clients/siemens.jpg">
                      </div> -->
                      <div class="testimonial-social-icons">
                        <img src="../../../assets/images/social-icons/ln.png" alt="Linked In">
                        <img src="../../../assets/images/social-icons/tt.png" alt="Twitter">
                        <img src="../../../assets/images/social-icons/yt.png" alt="Youtube">
                      </div>
                    </div>

                  </div>
                  <div class="testimonial-img col-sm-2">
                    <img src="../../../assets/images/testimonials/siemens-img.png" alt="Siemens" class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row  flex-column-reverse flex-md-row">
                  <div class="testimonial-content col-sm-10">
                    <div class="testimonial-section">
                      <div class="testimonial-title">
                        <!-- Srikanth Kosigi<br />
                        <span class="testimonial-designation">-->Senior Director at Quinnox, Inc.
                        <!--</span> -->
                      </div>
                      <div class="testimonial-abbr">My experience with Esolvit has been positive. They have truly
                        managed to respond to our requirements consistently. They diligently capture our requirements
                        right from the start. Aspects related to business goal of a program, logistics around locations,
                        timelines are all evaluated by Sri himself and his team.
                        <br /><br />
                        They have the a deep and highly effective professional connections in the industry and leverage
                        that to make available the best of the solutions. Sri leads the Esolvit team and takes keen and
                        continuous interest in ongoing programs to ensure that his team is delivering the results
                        consistently. Esolvit is a company to work with and I would gladly recommend it to my friends
                        for their project needs.
                      </div>
                      <!-- <div class="testimonial-logo-img">
                        <img src="../../../assets/images/clients/quinnox.jpg">
                      </div> -->
                      <div class="testimonial-social-icons">
                        <img src="../../../assets/images/social-icons/ln.png" alt="Linked In">
                        <img src="../../../assets/images/social-icons/tt.png" alt="Twitter">
                        <img src="../../../assets/images/social-icons/yt.png" alt="Youtube">
                      </div>
                    </div>

                  </div>
                  <div class="testimonial-img col-sm-2">
                    <img src="../../../assets/images/testimonials/quinnox-img.png" alt="Quinnox" class="full-width">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row  flex-column-reverse flex-md-row">
                  <div class="testimonial-content col-sm-10">
                    <div class="testimonial-section">
                      <div class="testimonial-title">
                        <!-- Badrinath Nonavinakere<br />
                        <span class="testimonial-designation">-->Consumer and Market Research Head at Nielsen

                      </div>
                      <div class="testimonial-abbr">The best value that I received from Esolvit have been in the areas
                        of high level and solution design using next gen technologies and products like API gateways,
                        Cloud design and IoT. Esolvit was unbelievable when I need expertise in Tibco Products or
                        Salesforce or Adobe Experience Manager, they always provided me with the required services –
                        like well tested design patterns or the right resources who could come and help my team
                        implement it.
                      </div>
                      <!-- <div class="testimonial-logo-img">
                        <img src="../../../assets/images/clients/nielson.jpg">
                      </div> -->
                      <div class="testimonial-social-icons">
                        <img src="../../../assets/images/social-icons/ln.png" alt="Linkedin">
                        <img src="../../../assets/images/social-icons/tt.png" alt="Twitter">
                        <img src="../../../assets/images/social-icons/yt.png" alt="Youtube">
                      </div>
                    </div>

                  </div>
                  <div class="testimonial-img col-sm-2">
                    <img src="../../../assets/images/testimonials/nielsen-img.png" alt="Nielsen" class="full-width">
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonials-carousal-btns">
              <a href="#carouselTestimonials" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a href="#carouselTestimonials" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of testimonial section-->
  <!-- Success Stories section
    <section class="stories section">
      <div class="container">
      <h1>Success Stories</h1>
      <div class="row">
     
      <div class="col-md-8 col-sm-12 ">
        <div id="carouselStories" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselStories" data-slide-to="0" class="active"></li>
            <li data-target="#carouselStories" data-slide-to="1"></li>
            <li data-target="#carouselStories" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row  flex-column-reverse flex-md-row">      
                <div class="story-content col-sm-9">
                  <div class="row">
                    <div class="story-number col-sm-1">01</div>
                    <div class="col-sm-11">
                      <div class="story-tag">Technology</div>
                      <div class="story-title">"Economic Development engine of the year 2017" from GAACC</div>
                      <div class="story-abbr">My experience with Arytic is very happy; giving me relief from reading through number of resume.</div>
                    </div>
                  </div>
                  <div class="story-read-more">
                    Read More
                  </div>
                </div>
                <div class="story-img col-sm-3">
                  <img src="../../../assets/images/gg.jpg" class="full-width">
                </div>      
             </div>
            </div>
            <div class="carousel-item">
                <div class="row  flex-column-reverse flex-md-row">      
                  <div class="story-content col-sm-9">
                    <div class="row">
                      <div class="story-number col-sm-1">02</div>
                      <div class="col-sm-11">
                        <div class="story-tag">Science</div>
                        <div class="story-title">Contrary to popular belief, Lorem Ipsum is not simply random</div>
                        <div class="story-abbr">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                      </div>
                    </div>
                    <div class="story-read-more">
                      Read More
                    </div>
                  </div>
                  <div class="story-img col-sm-3">
                    <img src="../../../assets/images/ss-2.jpg" class="full-width">
                  </div>      
              </div>
            </div>
            <div class="carousel-item">
              <div class="row  flex-column-reverse flex-md-row">      
                <div class="story-content col-sm-9">
                  <div class="row">
                    <div class="story-number col-sm-1">03</div>
                    <div class="col-sm-11">
                      <div class="story-tag">Finance</div>
                      <div class="story-title">Lorem Ipsum available, but the majority have suffered</div>
                      <div class="story-abbr">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    </div>
                  </div>
                  <div class="story-read-more">
                    Read More
                  </div>
                </div>
                <div class="story-img col-sm-3">
                  <img src="../../../assets/images/ss-3.jpg" class="full-width">
                </div>      
             </div>
            </div>  
          </div>
          <a class="carousel-control-prev" href="#carouselStories" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselStories" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-4 succes-circle">
        <img class="img-fluid" src="../../../assets/images/stories-circle.jpg" alt="Success Stories"
        title="Referral Bounty">
      </div>
      </div>
    </div>
    </section>-->

    <!--<section class="features section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeatureManageBackgroundverificationReports']">
              <img src="../../../assets/images/background_verification_icon.png" class="icon" alt="Verification report Icon"
                title="Manage Background Verification Reports">
            </a> 
            <h5>Manage Background Verification Reports</h5>
            <p>
              Personal references of coworkers, associates, and friends are chosen by you. They are given a questionnaire
              to complete that
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
             <a href="Javascript:void(0)" [routerLink]="['/FeatureNEXTGENInterviewPlatform']">
              <img src="../../../assets/images/NEXTGEN_platform_icon.png" class="icon" alt="NEXTGEN Platform Icon"
                title="NEXTGEN Interview Platform">
            </a> 
            <img src="../../../assets/images/NEXTGEN_platform_icon.png" class="icon" alt="NEXTGEN Platform Icon"
              title="NEXTGEN Interview Platform">
            <h5>NEXTGEN Interview Platform</h5>
            <p>
              The NEXTGEN Interview Platform immediately gets the hiring ball rolling. A list of third party interview
              geeks/gurus who are
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="Javascript:void(0)" [routerLink]="['/FeatureIntelligentJobMatchMachine']">
              <img src="../../../assets/images/job_machine_icon.png" class="icon" alt="Job Machine Icon"
                title="Intelligent Job Match Machine">
            </a> 
            <img src="../../../assets/images/job_machine_icon.png" class="icon" alt="Job Machine Icon"
                title="Intelligent Job Match Machine">
            <h5>Intelligent Job Match Machine</h5>
            <p>
              The Intelligent Match Machine calculates your profile match percentage inspired by your skills, business
              domain, location, culture
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12"> 
           <a href="Javascript:void(0)" [routerLink]="['/FeatureSocialReferralPlatform']">
            <img src="../../../assets/images/job_review_icon.png" class="icon" alt="Social Referral Icon"
              title="Social Referral Platform">
          </a> 
          <h5>Social Referral Platform</h5>
          <p>
            Power, speed, and analytics are now on the customer’s side with our robust machine learning and AI tools.
            Our bots go beyond our ex
          </p>
          </div>
        </div>
        <div class="see-more" style="float: right">
          <a class="see-more-link"  href="Javascript:void(0)" [routerLink]="['/featuresdetail']">
            Explore More <svg xmlns="http://www.w3.org/2000/svg" width="23.6" height="12">
              <path
                d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z"
                fill="#b6c2d6"></path>
            </svg>
          </a>
        </div> 
        <div class="clearfix">&nbsp;</div>
      </div>
    </section> -->
    <!--<div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
     <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
        <section class="apply-now-banner section">
          <div class="container">
            <div class="apply-now-banner-inner align-items-center justify-content-between">
              <h2 style="color:#fff;font">Publish Your First Job posting for free!!!</h2>
              <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Post Now</a>
            </div>
          </div>
      </section>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <section class="apply-now-banner section">
        <div class="container">
          <div class="apply-now-banner-inner align-items-center justify-content-between">
            <h4 style="color: #fff;">Best Matches for your profile with </br> Artificial Intelligence refine.</h4>
            <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Create Profile </br><small>It's Quick and Easy</small></a>
          </div>
        </div>
      </section>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
  
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <section class="apply-now-banner section">
        <div class="container">
          <div class="align-items-center justify-content-between text-center" style="background-image: url(../../../assets/images/rocket.png);background-repeat: no-repeat; background-position: center;height: 170px;">
              <h4 style="color: #727e9b;">Best Matches for your profile with Artificial Intelligence refine.</h4>
              <div class="clearfix">&nbsp;</div>
              <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary" style="border-radius: 13px;">Create Profile </br><small>It's Quick and Easy</small></a>
          </div>
        </div>
      </section>
     <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
       <section class="apply-now-banner section">
          <div class="container">
            <div class="align-items-center justify-content-between text-center" style="background-image: url(../../../assets/images/rocket.png);background-repeat: no-repeat; background-position: center;height: 170px;">
              <h4 style="color: #727e9b;">Publish Your First Job posting for free!!!</h4>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              
              <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary" style="border-radius: 13px;">Post Now </br><small>It's Quick and Easy</small></a>
            </div>
          </div>
      </section>
     <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div> -->
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <section class="homepage-apply-now apply-now-banner section">
      <div class="container">
        <div class="apply-now-banner-inner align-items-center justify-content-between">
          <p>Join hands with Next Gen AI Predictive Hiring Platform.</p>
          <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary btn__primary">Join Now</a>
        </div>
      </div>
    </section>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <!--<section class="testimonial section">
      <h2>Testimonials</h2>
      <div class="col-md-10 offset-md-1 col-sm-12 offset-sm-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <blockquote>
                “My experience with Arytic is very happy; giving me relief from reading through number of resume.”
              </blockquote>
              <div class="client">
                <img src="../../../assets/images/client-img.png" alt="Client Image">
                <h4>Jim Nasby</h4>
                <h5>Database Expert</h5>
              </div>
            </div>
            <div class="carousel-item">
              <blockquote>
                “My experience with Arytic is very happy; giving me relief from reading through number of resume.”
              </blockquote>
              <div class="client">
                <img src="../../../assets/images/client-img.png" alt="Client Image">
                <h4>Jim Nasby</h4>
                <h5>Database Expert</h5>
              </div>
            </div>
            <div class="carousel-item">
              <blockquote>
                “My experience with Arytic is very happy; giving me relief from reading through number of resume.”
              </blockquote>
              <div class="client">
                <img src="../../../assets/images/client-img.png" alt="Client Image">
                <h4>Jim Nasby</h4>
                <h5>Database Expert</h5>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section> -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <ng-container *ngIf="afterRequest">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Demo Request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <img src="../../../../assets/images//handshake.png" alt="Handshake" class="text-center">
              <h6 style="color: #475B66;"> Thanks for showing interest in Arytic. we will get back to you Soon!!</h6>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Explore Arytic</button>
          </div>
        </ng-container>
        <ng-container *ngIf="!afterRequest">
          <div class="modal-header">

            <h5 class="modal-title" id="exampleModalLabel">Demo Request</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="cancelRequest()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="demoform" (ngSubmit)="DemoRequest()">
              <div class="form-group p-rel">
                <!-- <label for="First Name">First Name</label> -->
                <label for="first-name" class="visible-hidden">First Name</label>
                <input type="text" id="first-name" class="form-control" formControlName="FirstName" placeholder="First Name *"
                  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
                  required>
                <div
                  *ngIf="demoform.controls['FirstName'].invalid && (demoform.controls['FirstName'].dirty || demoform.controls['FirstName'].touched)"
                  class="error1">
                  <div *ngIf="demoform.controls['FirstName'].errors.required">
                    Required
                  </div>
                </div>
              </div>
              <div class="form-group p-rel">
                <label for="last-name" class="visible-hidden">Last Name</label>
                <input type="text" id="last-name" class="form-control" formControlName="LastName" placeholder="Last Name *" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
                  required>
                <div
                  *ngIf="demoform.controls['LastName'].invalid && (demoform.controls['LastName'].dirty || demoform.controls['LastName'].touched)"
                  class="error1">
                  <div *ngIf="demoform.controls['LastName'].errors.required">
                    Required
                  </div>
                </div>
              </div>
              <div class="form-group p-rel">
                <label for="exampleInputEmail1" class="visible-hidden">Your Email address</label>
                <input type="email" [pattern]="emailPattern" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Enter email*" formControlName="EmailId"
                  (keyup)="EmailClear()">
                  <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                <div id="emailHelp">
                  <div
                    *ngIf="demoform.controls['EmailId'].invalid && (demoform.controls['EmailId'].dirty || demoform.controls['EmailId'].touched)"
                    class="error1">
                    <div *ngIf="demoform.controls['EmailId'].errors.required">
                      Required
                    </div>
                    <div *ngIf="demoform.controls['EmailId'].errors.pattern">
                      Incorrect Email!
                    </div>
  
                  </div>
                  <div *ngIf="show" class="error1">
                    Email already registered
                  </div>
                </div>
              </div>
              <div class="form-group p-rel">
                <label for="exampleInputPassword1" class="visible-hidden">Your Contact Number</label>
                <input type="tel" id="exampleInputPassword1" class="form-control" formControlName="PhoneNumber" prefix="+1" placeholder="Phone Number" maxlength=20 onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <div *ngIf="demoform.controls['PhoneNumber'].errors?.minlength" class="error1">
                  Invalid Phone number
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer pull-right">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelRequest()">Not Now</button> -->
            <button type="submit" (click)="DemoRequest()" class="btn btn-primary" style=" padding: .375rem .75rem;">Yes I Need Demo</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>


  <!--Video Modal Starts-->
  <div class="modal fade" id="aryticvideo" tabindex="-1" role="dialog" aria-labelledby="aryticvideo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <span class="close top" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </span>
      <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
          <!-- <iframe class="embed-responsive-item" id="ourVideo" src="https://www.youtube.com/watch?v=74jbMsp_VOE&feature=youtu.be"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe> -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/74jbMsp_VOE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <!--Video Modal Ends-->
</div>