<div class=" revamp__customer__page" role="main">
	<div class="revamp__wrapper">
		<div class="revamp__sub__banner flex flex-wrap flex-align-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-5 content__col">
						<h1>Arytic | Next Gen Artificial Intelligence Predictive Hiring</h1>
						<p>Arytic is a bias-free and easy-to-use employment application tool that gives you inside access to
							recruiters.</p>
					</div><!-- /.content__col -->
					<div class="col-sm-7 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__banner__image.png" alt="Arytic | Next Gen Artificial Intelligence Predictive Hiring" />
					</div>
				</div>
			</div>
		</div><!-- /.revamp__sub__banner -->
		<div class="section revamp__steps__section">
			<div class="container">
				<div class="revamp__section__title text-center">
					<h2>Step by step process</h2>
				</div>
				<div class="revamp__steps__box">
					<div class="revamp__step revamp__step__01">
						<h3>Build your “Arytic Smart Card.”</h3>
						<p>Go beyond a resume: help employers get to know the real you by completing  personality tests, uploading certifications, and making a personal video.</p>
					</div>
					<div class="revamp__step revamp__step__02">
						<h4>Explore matching jobs</h4>
						<p>Search efficiently by only seeing the job posts that match your profile plus, get the inside scoop on companies by reading reviews from current and former employees</p>
					</div>
					<div class="revamp__step revamp__step__03">
						<h4>Apply for multiple jobs at once</h4>
						<p>Once you are confident in your profile, let our intelligent algorithm help you apply for multiple jobs at 	a time.</p>
					</div>
					<div class="revamp__step revamp__step__04">
						<h4>Know where you stand</h4>
						<p>Once your application is in, you will have access to key  information including how  you compare to your competition, if the hiring manager has reviewed your profile, and at what stage of the hiring process the job post stands</p>
					</div>
					<div class="revamp__step revamp__step__05">
						<h4>Improve your odds</h4>
						<p>Follow our suggestions to increase your percentile match score by adding important information to your profile</p>
					</div>
				</div>
				<!-- <div class="section revamp__one__stop__slider">
					<div class="container">
						<owl-carousel [options]="optionSlide" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
							<div class="item" *ngFor="let slide of stepsSlide let i = index">
								<div class="item-info">
									<span class="shop__icon shop__icon__{{slide.id}}">Icon</span>
									<h4>{{slide.title}}</h4>
									<p>{{slide.descritpition}}</p>
								</div>
							</div>
						</owl-carousel>
					</div>
				</div> -->
			</div>
		</div>
		
		<div class="section revamp__one__stop__shop">
			<div class="container">
				
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-5">
						<div class="revamp__section__title">
							<h3>Find your dream job</h3>
						</div>
						<div class="shop__info" id="shop__info__01" style="display:block;">
							<div class="revamp__section__title">
								<h4>Play on a level field.</h4>
							</div>
							<p>Our all-inclusive platform eliminates the complexity of using multiple tools and increases hiring
								manager productivity.</p>
						</div>
						<div class="shop__info" id="shop__info__02">
							<div class="revamp__section__title">
								<h4>Optimize your opportunities.</h4>
							</div>
							<p>Immediate feedback allows you to spend your time efficiently and apply to the right jobs.</p>
						</div>
						<div class="shop__info" id="shop__info__03">
							<div class="revamp__section__title">
								<h4>Earn referral bonuses.</h4>
							</div>
							<p>Make money when you accept a job offer through Arytic or by referring friends to job posts.</p>
						</div>
						<div class="shop__info" id="shop__info__04">
							<div class="revamp__section__title">
								<h4>Get an insider look</h4>
							</div>
							<p>See what current and previous employees are saying about the position before you apply.</p>
						</div>
						<div class="shop__info" id="shop__info__05">
							<div class="revamp__section__title">
								<h4>Improve your chances of getting hired.</h4>
							</div>
							<p>Perfect your Arytic Score through recruiter feedback and automated tips.</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="shop__diagaram shop__diagaram__01">
							<span class="shop__no shop__no__01">01</span>
							<span class="shop__no shop__no__02">02</span>
							<span class="shop__no shop__no__03">03</span>
							<span class="shop__no shop__no__04">04</span>
							<span class="shop__no shop__no__05">05</span>
							<div class="shop__icon shop__icon__06" data-id="shop__info__01">
								<span class="shop__tooltip">Play on a level field.</span>
							</div>
							<div class="shop__icon shop__icon__07" data-id="shop__info__02">
								<span class="shop__tooltip">Optimize your opportunities.</span>
							</div>
							<div class="shop__icon shop__icon__08" data-id="shop__info__03">
								<span class="shop__tooltip">Earn referral bonuses.</span>
							</div>
							<div class="shop__icon shop__icon__09" data-id="shop__info__04">
								<span class="shop__tooltip">Get an insider look.</span>
							</div>
							<div class="shop__icon shop__icon__10" data-id="shop__info__05">
								<span class="shop__tooltip">Improve your chances of getting hired.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section revamp__one__stop__slider">
			<div class="container">
				<owl-carousel [options]="optionSlide" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']">
					<div class="item" *ngFor="let slide of oneShopSlide let i = index">
						<div class="item-info">
							<span class="shop__icon shop__icon__0{{slide.id}}">Icon</span>
							<h4>{{slide.title}}</h4>
							<p>{{slide.descritpition}}</p>
						</div>
					</div>
				</owl-carousel>
				<div class="owl-theme custom__owl__carousel">
					<div class='owl-dots' id="carousel-custom-dots"> 
						<button class='owl-dot' *ngFor="let slide of oneShopSlide let i = index"><span>{{i}}</span></button>
					</div>
				</div>
			</div>
		</div>

		<div class="section revamp__custom__grid revamp__custom__reverse__grid">
			<div class="container">
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__hire__image.png" alt="How we find your perfect fit and help you get the job" />
					</div>

					<div class="col-sm-7 content__col">
						<h3>How we find your perfect fit and help you get the job</h3>
						<p>Arytic scans through information from your profile and available jobs to find you the perfect fit based
							on 5 data sets: skills, industry, location, culture, and values. Our unique intelligent job match machine
							finds you the perfect job so that you can use your time efficiently and apply only for the best fit
							positions. Hiring managers can instantly see which candidates are the best fit and may request additional
							screening tests that can then narrow down the best fit for the team based on psychometrics. </p>
					</div>

				
					<div class="col-sm-12 content__col big__content__col">
						<p>&nbsp;</p>
						<p>Arytic will also suggest edits to your resume to ensure that you can raise your match percentage by adding
						keywords and skills that you may have forgotten to add. Arytic will also produce a new summary for each job you apply
						to showcase the most important characteristics for that job.</p>
					</div>
				</div>
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-7 content__col">
						<h3>How we reduce unconscious bias</h3>
						<p>Arytic's proprietary AI technology sifts through countless profiles picking the perfect candidate before making suggestions to hiring managers. Depending on package choice, candidates can choose to keep all personal information “private” including gender, age, and race until they enter the selection process. Hiring leaders can also choose to keep all their applicants on "private" mode to keep any unconscious bias from playing a part in their hiring decision.</p>
					</div>
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__bias.png" alt="How we reduce unconscious bias" />
					</div>
				</div>
				<div class="row flex flex-wrap flex-align-center">
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__bonus.png" alt="Hiring bonus breakdown"/>
					</div>
					<div class="col-sm-7 content__col">
						<h3>Hiring bonus breakdown</h3>
						<p>As an incentive, we offer bonuses for accepting an offer through our platform as well as for helping us grow our social network reach and referring your contacts.</p>
						<h3>New Hire Bonus</h3>
						<p>Arytic awards each successful candidate a new hire bonus ranging from $250-$1000 depending on the salary you are offered.</p>
						<p>For each referred contact that accepts a job offer through Arytic, you receive a Referral Bonus ranging between $4000 and $10000.</p>
					</div>
				
				</div>
				<div class="row flex flex-wrap flex-align-center">	
					
					<div class="col-sm-7 content__col">
						<h3>Immediate feedback</h3>
						<p>Arytic is the only application dashboard that gives you real-time access to communication with hiring managers. You know your match score immediately upon submission of your profile and you know where you stand versus the competition. Through the dashboard, you will see when you are “shortlisted,” “favorited,” or “dismissed.” You will not have to spend weeks wondering if anyone saw your resume and you can communicate with the hiring manager in-app.</p>
					</div>
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__remove__image.png" alt="Immediate feedback" />
					</div>
				</div>
				<div class="row flex flex-wrap flex-align-center">	
					<div class="col-sm-5 image__col">
						<img src="../../../assets/images/revamp__customer/revamp__banner__image.png" alt="Interactive and Mobile Friendly" />
					</div>
					<div class="col-sm-7 content__col">
						<h3>Interactive and Mobile Friendly </h3>
						<p>The Arytic platform is interactive and user friendly, it is also designed to be accessed through your mobile phone so that you never miss any important updates. Arytic, the robot, will guide your through the application process and remind you of steps needed to be completed. The more you use Arytic and the more information you upload, the better Arytic will be at making suggestions for new jobs.</p>
					</div>
					
				</div>
				
			</div>
		</div><!-- /.container -->
		<div class="section revamp__icon__listing__grid">
			<div class="container">
				<div class="revamp__section__title">
					<h3>Unique platform additions</h3>
				</div><!-- /.revamp__section__title -->

				<div class="row flex flex-wrap flex-align-equal flex-justify-center ">
					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">01</span>
							<span class="icon icon__arytic__check">Icon</span>
							<h4>Personalized lifestyle match</h4>
							<p>Accepting a job offer can alter your entire lifestyle, Arytic has a wealth of information for you to make an informed decision before relocating for a job. Our system can show you information regarding school rankings, property tax rates, cost of living, crime statistics, and social information such as public transportation and parks and recreational offerings</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->

					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">02</span>
							<span class="icon icon__arytic__review">Icon</span>
							<h4>Arytic Blog and Discussion Forum</h4>
							<p>The Arytic Forum is the place to find and share real-time data on any relevant topic of interest. You will have a chance to interact with like-minded professionals who are looking to advance their careers and share stories regarding technological innovations, personal success stories, and tips to landing a good job.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->

					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">03</span>
							<span class="icon icon__arytic__interview">Icon</span>
							<h4>Background Verification Reports</h4>
							<p>At your request, Arytic can send our questionnaires to your coworkers, associates, and friends so that hiring managers have access to instant verification of employment and references. This is an important tool that can expedite the hiring process.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->


					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">04</span>
							<span class="icon icon__arytic__virtutal">Icon</span>
							<h4>Personality Tests</h4>
							<p>Part of your profile will be the DISC assessment which is a global standard in determining your personality category and is yet another tool to finding your perfect fit. This assessment is just one of many that will be available to Arytic candidates based on the needs of hiring managers.</p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->

					<div class="col-sm-6">
						<div class="col__container">
							<span class="number">05</span>
							<span class="icon icon__arytic__video">Icon</span>
							<h4>Video Sizzle</h4>
							<p>With Video Sizzle, you can upload a 30-45 personal video that can showcase your personality and unique qualification. This is a good tool to set yourself apart from the competition and a good tool for your potential employer to see if you are a good fit for their team. </p>
						</div><!-- /.col__container -->
					</div><!-- /.col-sm-6 -->
				</div>
			</div><!-- /.container -->
		</div>
		<div class="section revamp__faqs">
			<div class="container">
				<div class="revamp__section__title text-center">
					<h4>FAQs</h4>
				</div>
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									How is Arytic different from other websites where I can add my resume?
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
							data-parent="#accordion">
							<div class="card-body">
								<p>Arytic bridges the gap between job aggregators and applicant tracking systems using AI to speed up the hiring process. This helps individuals to find jobs quicker, and it helps employers to find the best fitting candidates.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									<!-- <span class="revamp__faq__icon revamp__faq__icon__02">Icon</span> -->
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									How is Arytic different from other websites where I can post jobs?
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								<p>Arytic allows employers to specify traits or skills necessary to the job, and Arytic’s AI will tailor those skills and find potential employee profiles automatically. This reduces the need for human intervention, helps reduce implicit bias, and helps hiring managers to critically evaluate only the individuals best suited to take on the new role. This will also speed up the hiring process itself all together.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									<!-- <span class="revamp__faq__icon revamp__faq__icon__03">Icon</span> -->
									What role will our hiring team play in conjunction with Arytic?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
							data-parent="#accordion">
							<div class="card-body">
								<p>Arytic does not eliminate the need for hiring managers / HR departments completely but instead provides a supporting role to improve your hiring process by allowing you to find the best fitting employees faster.</p>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>

		</div>
	</div><!-- /.revamp__wrapper -->
</div>