<div class="homepage pricing-page"  role="main">
    <section class="privacy-policy section">
        <div class="container">
            <h1 class="text-center">About Us</h1>
            <img src="../../../assets/images/about_bg.png" alt="Arytic-Banner" class="shadow1 img-fluid">
            <div class="clearfix">&nbsp;</div>

            <!-- <h6>Arytic has been at the forefront of innovation when it comes to using data and technology to unfold the
                human
                capital management space, with solutions that help employers find, hire and manage great people.</h6> -->

            <div class="clearfix">&nbsp;</div>

            <h2>Mission</h2>
            <p>Enable and empower people across all sections of our society including the veterans, the physically challenged, the school/college dropouts, new graduates, hiring managers and organizations.</p>
            

            <div class="clearfix">&nbsp;</div>

            <h2>Vision</h2>
            <p>Stitch the latest AI and ML technologies along with social media platforms to create a fabric that will "Uberize" hiring by collaborating with job seekers, agencies, freelance recruiters, job aggregators and ATS companies to reduce hiring time by up to 50%.</p>
            

            <div class="clearfix">&nbsp;</div>

            <h2>What We Do</h2>

            <p>
                Arytic is going to help millions of people to find jobs and has equipped hundreds of thousands of
                employers with
                the talent they need. It’s what we do and we do it better than anyone else.
            </p>

            <p>Officially, we’re a global, end-to-end human capital solutions company. But, that just means that we
                combine
                the best in advertising, software and services to help companies find, hire and manage great talent. As
                an
                industry leader, we work with companies big and small, providing cutting-edge solutions for everything
                from
                recruiting to employment screening and human capital management.</p>

            <!-- <img src="../../../assets/images/img-placeholder.png" alt="image-placeholder"> -->
        </div>
    </section>



    <section class="privacy-policy section about-us">
        <div class="container">
            <h3 class="text-center">Our Team</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="our-team mtb-30">

                        <div class="team-image">
                            <img src="../../../assets/images/sri-rao-boddapu.png" width="60" height="60"
                                alt="Sri Rao Boddapu" sizes="(max-width: 60px) 100vw, 60px">

                        </div>

                        <div class="inline-block ">
                            <h4 class="m-0 namecolor">Sri Rao Boddapu</h4>
                        </div>

                        <div class="team-links">
                            <a href="https://www.linkedin.com/in/boddapu" target="_blank">
                                <img src="../../../assets/images/LinkedInicon.png" alt="Linked In" width="16" height="16"
                                    sizes="(max-width: 16px) 100vw, 16px">
                            </a>
                        </div>

                        <div class="namecolor">
                            CEO &amp; Founder
                        </div>

                        <div class="d-block read-more-c">
                            <input id="ac-1" class="read-more-state" name="accordion-1" type="checkbox" />
                            <p class="mt30 team-text read-more-wrap mb-0"><span>Sri Rao Boddapu is a renowned leader,
                                    philanthropist, Founder &
                                    CEO of Arytic, Chairman of Esolvit Inc, President of Cloudsolvit, Inforide
                                    Technologies,
                                    Technozant, Voice of BigData.</span><span class="read-more-target"> Sri is a
                                    strategist, great motivator and
                                    a mentor whose passion to provide the highest quality customer satisfaction
                                    possible.
                                    Sri is a technically savvy entrepreneur who has generated several thousand jobs
                                    through
                                    his 5 major corporations with proven success
                                    in building and managing multimillion-dollar enterprises. He possesses 18 years of
                                    experience in building companies and expertly steered companies through turbulent
                                    economic times. He ignites young people and his service
                                    to the austin community is quite appreciable. He is actively involved in the austin
                                    community offering social services to the poor, hungry, and physically challenged.
                                    He
                                    also provides merit scholarships to qualifying students.</span>

                            </p>
                            <label for="ac-1" class="read-more-trigger"><em class="visible-hidden">Read More</em></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="our-team mtb-30">

                        <div class="team-image">
                            <img src="../../../assets/images/usha-boddapu.png" width="60" height="60" alt="Usha Boddapu"
                                sizes="(max-width: 60px) 100vw, 60px">
                        </div>

                        <div class="inline-block namecolor">
                            <h4 class="m-0 namecolor">Usha Boddapu</h4>
                        </div>
                        <div class="team-links">
                            <a href="https://www.linkedin.com/in/ushaboddapu/" target="_blank">
                                <img src="../../../assets/images/LinkedInicon.png" alt="Linked In" width="16" height="16"
                                    sizes="(max-width: 16px) 100vw, 16px">
                            </a>
                        </div>

                        <div class="namecolor">
                            President
                        </div>

                        <div class="d-block read-more-c">
                            <input id="ac-2" class="read-more-state" name="accordion-1" type="checkbox" />
                            <p class="mt30 team-text read-more-wrap mb-0"><span>Usha Boddapu is President of Arytic,
                                    Founder & CEO of Esolvit Inc,
                                    a global professional services and solutions company.</span><span
                                    class="read-more-target"> Mrs. Boddapu is responsible for
                                    managing the company, formulating and executing long-term strategies,
                                    and interacting with clients, employees, investors and other stakeholder. She is
                                    Customer Focused, Community Oriented, Strategic IT Leader with over 23 years of
                                    contributions towards the creation and delivery of incremental
                                    business benefits, through sustaining collaborative relationships with customers,
                                    executives, management, employees, and business partners. She is a certified USA
                                    Emerging Leader from Federal Government and recognized as
                                    108 woman of influence in Central Texas by Austin Business Journal, Woman in High
                                    Profiles 2018. She is currently serving City of Austin Board of Advisory WBE/MBE
                                    Procurement Commission District 6. She holds M.S and B.S
                                    in Computer Science and Rapport Leadership International graduate from Paradise,
                                    Texas.
                                </span>
                            </p>
                            <label for="ac-2" class="read-more-trigger"><em class="visible-hidden">Read More</em></label>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6">
                        <div class="text-center">
                            <img class="rounded-circle" src="../../../assets/images/user-icon.png"
                                alt="Generic placeholder image" width="140" height="140">
                            <h3>Name</h3>
                            <h4>Designation</h4>
                        </div>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                            ultricies
                            vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
                            commodo cursus
                            magna.</p>
    
                    </div> -->
                <!-- /.col-lg-4 -->
                <!-- <div class="col-lg-6 col-md-6">
                        <div class="text-center">
                            <img class="rounded-circle" src="../../../assets/images/user-icon.png"
                                alt="Generic placeholder image" width="140" height="140">
                            <h3>Name</h3>
                            <h4>Designation</h4>
                        </div>
                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                            Cras
                            mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
                            mauris
                            condimentum nibh.</p>
    
                    </div> -->
                <!-- /.col-lg-4 -->
                <!-- <div class="col-lg-6 col-md-6">
                        <div class="text-center">
                            <img class="rounded-circle" src="../../../assets/images/user-icon.png"
                                alt="Generic placeholder image" width="140" height="140">
                            <h3>Name</h3>
                            <h4>Designation</h4>
                        </div>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                            ligula porta
                            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                            ut fermentum
                            massa justo sit amet risus.</p>
                    </div> -->
                <!-- /.col-lg-4 -->
                <!-- <div class="col-lg-6 col-md-6">
                        <div class="text-center">
                            <img class="rounded-circle" src="../../../assets/images/user-icon.png"
                                alt="Generic placeholder image" width="140" height="140">
                            <h3>Name</h3>
                            <h4>Designation</h4>
                        </div>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                            ligula porta
                            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                            ut fermentum
                            massa justo sit amet risus.</p>
                    </div> -->
                <!-- /.col-lg-4 -->
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="our-team mtb-30">
                        <div class="team-image">
                            <img src="../../../assets/images/Joe-Harper.png" width="60" height="60" alt="Joe Harper"
                                sizes="(max-width: 60px) 100vw, 60px">
                        </div>
                        <div class="inline-block ">
                            <h4 class="m-0 namecolor">Joe Harper</h4>
                        </div>
                        <div class="team-links">
                            <!-- <a href="https://www.linkedin.com/in/boddapu" target="_blank">
                                <img src="../../../assets/images/LinkedInicon.png" width="16" height="16"
                                    sizes="(max-width: 16px) 100vw, 16px">
                            </a> -->
                        </div>

                        <div class="namecolor">
                            Director
                        </div>

                        <div class="d-block read-more-c">
                            <input id="ac-3" class="read-more-state" name="accordion-1" type="checkbox" />
                            <p class="mt30 team-text read-more-wrap mb-0">
                                <span>Joe Harper, Arytic Director and Executive Director of Texas State SBDC is an
                                    advisor and
                                    Mentor to Esolvit, Inc. since 2016. He is leading the Technology Innovation team of
                                    Esolvit, Inc. Product Development Team of Esolvit, Inc.</span>
                                <span class="read-more-target">
                                    Joe joined the Texas State SBDC team as its Director in 2011 with over twenty years
                                    experience as an entrepreneur. He has directed other SBDC programs at Southeastern
                                    Louisiana University, Sam Houston State University, Galveston Community College,
                                    Houston
                                    Community College, and the University of Houston-Victoria.

                                    Joe’s education and experience includes a Bachelor of Arts Degree in Management, an
                                    MBA
                                    and extensive business consulting experience in a broad spectrum of business issues
                                    addressing entrepreneurship, business planning, marketing strategies, market
                                    research,
                                    and financial management.

                                    Joe spends the majority of his time meeting with community stakeholders, funding
                                    partners and SBDC advisors.
                                </span>
                            </p>
                            <label for="ac-3" class="read-more-trigger"><em class="visible-hidden">Read More</em></label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="our-team mtb-30">
                        <div class="team-image">
                            <img src="../../../assets/images/Lance-Harris.jpg" width="60" height="60" alt="Lance Harris"
                                sizes="(max-width: 60px) 100vw, 60px">
                        </div>
                        <div class="inline-block ">
                            <h4 class="m-0 namecolor">Lance Harris</h4>
                        </div>
                        <div class="team-links">
                            <!-- <a href="https://www.linkedin.com/in/boddapu" target="_blank">
                                <img src="../../../assets/images/LinkedInicon.png" width="16" height="16"
                                    sizes="(max-width: 16px) 100vw, 16px">
                            </a> -->
                        </div>

                        <div class="namecolor">
                            Customer Relations Manager
                        </div>

                        <div class="d-block read-more-c">
                            <input id="ac-4" class="read-more-state" name="accordion-1" type="checkbox" />
                            <p class="mt30 team-text read-more-wrap mb-0">
                                <span>
                                    Lance Harris has been a Customer Relations Manager at Arytic. Lance is committed to
                                    bringing the best possible outcome for each customer he supports.
                                </span>
                                <span class="read-more-target">
                                    His vision and ability to understand what each customer needs has consistently lead
                                    to long-term success. He credits his previous 20+ years in education domain for
                                    giving him a broader perspective and making him an active listener who discovers
                                    optimal solutions.

                                    Since joining our team, he has strengthened our core values and enhanced all facets
                                    of our customer relations. In his spare time, Lance enjoys playing basketball and
                                    performing music around town. He holds a B.A. in Speech Communication with a minor
                                    in Business Management from Texas A and M University.
                                </span>
                            </p>
                            <label for="ac-4" class="read-more-trigger"><em class="visible-hidden">Read More</em></label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="our-team mtb-30">
                        <div class="team-image">
                            <img src="../../../assets/images/kamran.png" width="60" height="60" alt="Kamran Mir"
                                sizes="(max-width: 60px) 100vw, 60px">
                        </div>
                        <div class="inline-block ">
                            <h4 class="m-0 namecolor">Kamran Mir
                            </h4>
                        </div>
                        <div class="team-links">
                            <a href="https://www.linkedin.com/in/kamranmirmohammadi/" target="_blank">
                                <img src="../../../assets/images/LinkedInicon.png" alt="Linked In" width="16" height="16"
                                    sizes="(max-width: 16px) 100vw, 16px">
                            </a>
                        </div>

                        <div class="namecolor">
                            Interim CFO
                        </div>

                        <div class="d-block read-more-c">
                            <input id="ac-5" class="read-more-state" name="accordion-1" type="checkbox" />
                            <p class="mt30 team-text read-more-wrap mb-0">
                                <span>

                                    I have an executive personality. I believe that my different experience in
                                    Accounting, Management, Business Analysis & Development, Executive/ Controller,
                                    Sales & Marketing job position have enabled me to gain the realistic
                                </span><span class="read-more-target">view of demands and challenges of the business
                                    world, which can make a positive contribution to a company. My strong interpersonal
                                    skills and organizational abilities make me able to flourish in a client-oriented
                                    environment. I do like to do my work the best

                                    Proven ability to drive revenue growth by exploring market opportunities and forging
                                    dynamic
                                    customer relationship. Solid interpersonal, written, and verbal communicator,
                                    leader, and contributor.

                                    Positive cross-functional team developer. Adapt at work well with internal and
                                    external teams at
                                    the global level and effectively communicating highly technical concepts and
                                    solutions.

                                    Talented in strategic sales&marketing plan and business models. Achieve high
                                    standards of
                                    excellence by utilizing effective business management and leadership skills.

                                    Experienced in ERP, Sales Force, database reports, IP related technologies,
                                    manufacturing,
                                    supply chain, operation functions, and financial acumen.
                                </span>
                            </p>
                            <label for="ac-5" class="read-more-trigger"><em class="visible-hidden">Read More</em></label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="our-team mtb-30">
                        <div class="team-image">
                            <img src="../../../assets/images/Alan.png" width="60" height="60" alt="Alan Hulme-Lowe"
                                sizes="(max-width: 60px) 100vw, 60px">
                        </div>
                        <div class="inline-block ">
                            <h4 class="m-0 namecolor">Alan Hulme-Lowe
                            </h4>
                        </div>
                        <div class="team-links">
                            <a href="https://www.linkedin.com/in/alanhulmelowe/" target="_blank">
                                <img src="../../../assets/images/LinkedInicon.png" alt="Linked In" width="16" height="16"
                                    sizes="(max-width: 16px) 100vw, 16px">
                            </a>
                        </div>

                        <div class="namecolor">
                            Strategic Business Consultant
                        </div>

                        <div class="d-block read-more-c">
                            <input id="ac-6" class="read-more-state" name="accordion-1" type="checkbox" />
                            <p class="mt30 team-text read-more-wrap mb-0">
                                <span>
                                    Executive creating and directing teams in multinational business and differentiable
                                    product development.
                                    Technologies ranging from fiber optics and nano-machining
                                </span>
                                <span class="read-more-target">
                                    to optical films, materials and connectors.
                                    Start-up operations to established businesses. Significant experience in technology
                                    and business acquisition.
                                    Developed high value businesses from $100m to $1.6bn
                                    Managed budgets to $47m
                                    Led teams from 40 to 230 people
                                    Acquired business from $5m to $350m
                                    Management leadership of IP, agreements and litigation
                                    Directed startup operations


                                </span>
                            </p>
                            <label for="ac-6" class="read-more-trigger"><em class="visible-hidden">Read More</em></label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="more-features section" style="background-color: #fff;">
        <div class="container pb-4">
            <h3 class="text-center h1-line">Arytic in News</h3>
            <div class="row justify-content-center p-4">

                <div class="col-md-4 col-sm-6 col-xs-12 card-hover">
                    <div class="feature-post text-center">
                        <a href="Javascript:void(0)" [routerLink]="['/insights']">

                            <img class="img-fluid" src="../../../assets/images/news.png" alt="News"
                                title="News">
                        </a>
                        <h3 class="namecolor">In News</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 card-hover">
                    <div class="feature-post text-center">
                        <a href="Javascript:void(0)" [routerLink]="['/insights']">
                            <img class="img-fluid" src="../../../assets/images/blog.png" alt="Insights"
                                title="Insights">
                        </a>
                        <h3 class="namecolor">Insights</h3>
                    </div>
                </div>
            </div>
            <div class="see-more text-center p-4">
                <!--<a href="candidate.html" class="see-more-link">
                See more features <svg xmlns="http://www.w3.org/2000/svg" width="23.6" height="12"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"/></svg>-->
                <div class="clearfix">&nbsp;</div>
                <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary btn__primary">Explore More</a>
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>

    </section>

</div>