.signpage h2, h2.main_question {
  font-size: 1.5rem;
  color: #475B66;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  position: relative;
  top: 27px;
}


.plugin {
  margin: 0;
  padding: 27px 19px 20px 0;
  background-color: transparent;
  font-size: 12px;
  color: #333;
  font-family: Tahoma, Kalimati, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Geneva, Arial, Helvetica, Sans-serif;
}
