<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate">
</ngx-spinner>
<div class="signpage">
    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div>
    <!-- /loader_form -->
    <div class="container-fluid full-height">
        <div class="row row-height">
            <!-- /content-right-->
            <div class="col-lg-6 content-left bg-white">
                <div class="content-left-wrapper">
                    <!-- <a href="index-2.html" id="logo"><img src="img/logo.png" alt="" width="49" height="35"></a> -->
                    <!-- Seeking Jobs Signup -->
                    <div class="logo sl-hidden">
                        <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                    </div>
                    <div class="sl-show hidden">
                        <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                    </div>
                    <div class="animated slideInLeft col-md-12">
                        <div id="top-wizard">
                            <div id="progressbar"></div>
                        </div>
                        <!-- /top-wizard -->
                        <form [formGroup]="loginform" (ngSubmit)="validateEmail()">
                            <input id="website" name="website" type="text" value="">
                            <!-- Leave for security protection, read docs for details -->
                            <div id="Jobs_login">
                                <div class="step">
                                    <h2 class="main_question text-left">
                                        Welcome <span class="sl-text-show hidden">Job Seeker</span> !!! Login here!
                                    </h2>
                                    <!-- <alert></alert> -->
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email."
                                            [formControl]="loginform.controls['username']">
                                    </div>
                                    <div class="form-group" id="show_hide_password">
                                        <input type="password" class="form-control" id="password"
                                            placeholder="Password." [formControl]="loginform.controls['password']" oninput="this.value = this.value.toLowerCase()">
                                        <span>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-eye-slash" style="color:black" aria-hidden="true">
                                                </i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="text-right">
                                        <div class="d-flex justify-content-between">
                                            <small> <a href="javascript:void(0)" class="pull-left"
                                                    [routerLink]="['/ForgotPassword']">Forgot password</a></small>

                                            <small><a href="Javascript:void(0)" [routerLink]="['/candidatesignup']">I
                                                    don't have an
                                                    account?</a></small>

                                        </div>
                                        <div class="spt-2">
                                            <button type="submit" id="login-button" class="btn2 pull-right"
                                                (click)="loginstyle()" [class.cand-spinner]="loading">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- login -->
                            <style>
                                .hide-pby {
                                  position: relative;
                                }
                            
                                aside.hide-pby::before {
                                  position: absolute;
                                  width: 200px;
                                  height: 15px;
                                  content: "";
                                  left: 0;
                                  bottom: 0;
                                  background-color: #fff;
                                }
                                
                              </style>
                            <div class=".hide-pby">
                            <div id="login_container" class=".hide-pby"></div>
                            
                        </div>
                            <!-- login -->
                            <!-- job id _forgot -->

                            <!-- job id _forgot -->
                            <!-- /middle-wizard -->
                        </form>
                        <!--Social Logins-->
                        <div class="clearfix">&nbsp;</div>
                        <div class="row s-s-btns c-s-s-btns">
                            <!-- <div class="col-md-12">
                                <h6>(OR)</h6>
                            </div> -->
                            
                            <!-- <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-google" >
                                    <i class="fa fa-google" aria-hidden="true" ></i>
                                    <a href="{{url+'GooglePlusCallback'}}">Continue with Google</a>
                                </button>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-linkedin"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i>
                                        <a href="{{url+'LinkdinCallback'}}">Continue with LinkedIn</a>
                                         </button>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-facebook"><i class="fa fa-facebook"
                                        aria-hidden="true"></i>
                                        <a href="{{url+'Facebook'}}"> Continue with Facebook</a>
                                   </button>
                            </div> -->
                            <!-- <div class="col-md-4 col-xs-12">
                                <button class="btn btn-default btn-facebook"  (click)="PostonFB();"><i class="fa fa-facebook"
                                        aria-hidden="true"></i>
                                    Post on Facebook</button>
                            </div>
                            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                            <script type="IN/Share" data-url="https://www.linkedin.com"></script> -->
                        </div>
                        <!---->
                    </div>
                    <!-- #Seeking Jobs Signup -->
                    <!-- Hiring -->
                    <!-- #Hiring -->
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- Seeking Job -->
            <div class="col-lg-6 content-right p-0 bg_6cccfd recrit_hide sl-hide" id="start">
                <div class="content-left-wrapper">
                    <div>
                        <h2 class="text-white">Choose a job you love, with Arytic.</h2>
            
                            <p class="text-white">
                                And you will never have to work a day in your life.

                                Here we just don’t stop with Skill and job match.

                                We will consider a best fit for your personality and culture.
                            </p>
                      
                        <img src="../../../assets/images/dream-job.svg" alt="Job-Seeker" class="img-fluid">
                    </div>
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- #Seeking Job -->
            <!-- Hiring Signup -->

            <!-- #Hiring Signup -->
            <!-- /content-right-->
            <!-- /content-left -->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-fluid -->
    <!-- <div class="logo"> -->
    <!-- <a href="#" ><img src="img/arytic-logo-contrast.png" alt="arytic"></a> -->
    <!-- </div> -->
    <!-- COMMON SCRIPTS -->

</div>