<body class="signpage">
    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div>
    <!-- /loader_form -->
    <div class="container-fluid full-height">
        <div class="row row-height">

            <!-- /content-right-->
            <div class="col-lg-6 content-left hiring-c sl-hide">
                <div class="content-left-wrapper">
                    <!-- <a href="index-2.html" id="logo"><img src="img/logo.png" alt="" width="49" height="35"></a> -->
                    <!-- Seeking Jobs Signup -->
                    <div class="jobs_div" style="display:none">
                        <div id="top-wizard">
                            <div id="progressbar"></div>
                        </div>
                        <!-- /top-wizard -->
                        <form id="wrapped" method="POST">
                            <input id="website" name="website" type="text" value="">
                            <!-- Leave for security protection, read docs for details -->
                            <div id="Jobs_sign" style="color:#000;">
                                <div class="logo">
                                    <a href="javascript:void(0)"><img
                                            src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                                </div>

                            </div>
                            <!-- login -->
                            <div id="Jobs_login">
                                <div class="logo">
                                    <a href="javascript:void(0)"><img
                                            src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                                </div>

                            </div>
                            <!-- login -->
                            <!-- job id _forgot -->

                            <!-- job id _forgot -->
                            <!-- /middle-wizard -->
                        </form>
                    </div>
                    <!-- #Seeking Jobs Signup -->
                    <!-- Hiring -->
                    <div class="jobs_hide animated slideInLeft">
                        <div class="sl-show hidden">
                            <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                        </div>
                        <h2 class="h2color">I'm here for Hiring</h2>
                        <img class="img-fluid" src="../../../assets/images/ai-recruiting-system.svg"
                            alt="Hiring Leader">
                        <div class="recruit_links">
                            <a class="btn_1 rounded" href="Javascript:void(0)" [routerLink]="['/customersignup']">Sign
                                up as Hiring Leader</a>
                            <a href="javascript:void(0)" class="btn_1 rounded mobile_btn">Start Now!</a>
                            <div class="cust-login-btn">
                             <!-- <small class="loginhere">Already have an account? <a href="Javascript:void(0)"
                                        [routerLink]="['/customerlogin']">Login here</a></small>   -->
                               <small class="loginhere">Already have an account? <a
                                href="javascript:void(0)" (click)="custLogin()">Login here</a></small> 
                            </div>
                            <div>
                                <small class="text-white sl-show">I'm looking for Job <span class="hr-click">Click
                                        here</span></small>
                            </div>
                        </div>
                    </div>
                    <!-- #Hiring -->
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- Seeking Job -->
            <div class="col-lg-6 content-right p-0 bg_6cccfd job-c" id="start">
                <div class="content-left-wrapper">
                    <div class="animated slideInRight">
                        <div class="sl-show hidden">
                            <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                        </div>
                        <h2 class="text-white">I'm a Job Seeker</h2>
                        <img class="img-fluid" src="../../../assets/images/dream-job.svg" alt="Job Seeker">
                        <div class="job_links">
                            <a class="btn_1 rounded" href="Javascript:void(0)" [routerLink]="['/candidatesignup']">Sign
                                up as a Job Seeker</a>
                            <a href="javascript:void(0)" class="btn_1 rounded mobile_btn">Start Now!</a>
                            <div class="cand-login-btn">
                            <!-- <small class="text-white">Already have an account? <a href="Javascript:void(0)"
                                        [routerLink]="['/candidatelogin']" class="text-white">Login here</a></small>  -->
                          
                                <small class="text-white">Already have an account? <a href="javascript:void(0)"
                                       class="text-white" (click)="candLogin()">Login here</a></small>  
                            </div>
                            <div>
                                <small class="text-white sl-show">I'm here for Hiring <span class="job-click">Click
                                        here</span></small>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- #Seeking Job -->
            <!-- Hiring Signup -->
            <div class="col-lg-6 content-right recrit_div" style="display:none" id="start">
                <div id="wizard_container">
                    <div id="top-wizard">
                        <div id="progressbar"></div>
                    </div>
                    <!-- <a href="index-2.html" id="logo"><img src="img/arytic-logo-contrast.png" alt="" width="49" height="35"></a> -->
                    <!-- /top-wizard -->
                    <form id="wrapped" method="POST">
                        <input id="website" name="website" type="text" value="">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="hiring_sign">
                            <div class="logo">
                                <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                            </div>

                        </div>
                        <!-- login -->
                        <div id="hiring_login">
                            <div class="logo">
                                <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                            </div>

                        </div>
                        <!-- login -->
                        <!-- hiring id _forgot -->

                        <!-- hiring id _forgot -->
                        <!-- /middle-wizard -->
                        <!-- /bottom-wizard -->
                    </form>
                </div>
                <!-- /Wizard container -->
            </div>
            <!-- #Hiring Signup -->
            <!-- /content-right-->
            <!-- /content-left -->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-fluid -->
    <div class="sign_logo">
        <a href="">
            <img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic" />
        </a>

    </div>


</body>