<div class="homepage pricing-page" role="main">
	<section class="privacy-policy contact-us section hide-cards">
		<div class="container">
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>
			<h1 class="text-center mb-0">Insights</h1>
			<!-- <div class="row nav-scroller py-1 mb-2 subscribe">
				<div class="col-lg-6">
					<label class="control-label float-right">Don't want to miss our updates!!!</label>
				</div>

				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter your Email Address to Subscribe">
						<span class="input-group-btn">
							<button class="btn btn-primary btn-subscribe" type="button">Subscribe</button>
						</span>
					</div>
				</div>
			</div> -->
			<!-- /.row -->
			<!-- <div class="nav-scroller py-1 mb-2">
					<nav class="nav d-flex justify-content-between">
						<a class="p-2 text-muted" href="#">Home</a>
						<a class="p-2 text-muted" href="#">Arytic Data.</a>
						<a class="p-2 text-muted" href="#">Career Toolkit</a>
						<a class="p-2 text-muted" href="#">AI</a>
						<a class="p-2 text-muted" href="#">Cloud Technology</a>
						<a class="p-2 text-muted" href="#">Block Chain Technology</a>
						<a class="p-2 text-muted" href="#">Employer Resources</a>
					</nav>
				</div>-->
			<div class="container py-3">
				<div class="gallery">

					<div data-gallery-tag="Blogs" class="gallery-item">
						<div class="card mb-3 cardb d-block">
							<img class="card-img-top" src="../../../assets/images/blogs/blog-1.jpg" alt="Card image cap">
							<div class="card-body">
								<h2 class="card-title h5">How AI is shifting industries across the globe </h2>
								<p class="card-text">Artificial intelligence has been a big buzzword for companies
									across all sectors and fills our media with new and amazing ways AI is impacting our
									lives. It has helped improve sales, efficiency and business processes.</p>

								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">Blog | Oct, 2018</small>
										</p>
									</div>
									<!--<div class="col-6">
											<a [routerLink]="" fragment="ai-blog" news-tab="ai-blog"
													class="btn btn-primary news-view">Read More</a>
									</div>-->
									<div class="col-6">
										<a href="https://insights.arytic.com/ai-blog.html" class="btn btn-primary news-view">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-gallery-tag="Blogs" class="gallery-item blogs">
						<div class="card mb-3 cardb">
							<img class="card-img-top" src="../../../assets/images/blogs/blog-2.jpg" alt="Card image cap">
							<div class="card-body">
								<h3 class="card-title">Top threats of mobile cybersecurity </h3>
								<p class="card-text">
									Cybercriminals are becoming more sophisticated - creating new attacks for various
									threat vectors and developing variations on existing ones. In recent times, mobile
									has been particularly targeted by hackers - with McAfee reports showing over 16
									million mobile malware attacks in 2017, resulting from 1.5 million new mobile
									malware.
								</p>
								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">Blog | Nov, 2018</small>
										</p>
									</div>
									<!-- <div class="col-6">
											<a [routerLink]="" fragment="mobile-cybersecurity" news-tab="mobile-cybersecurity"	class="btn btn-primary news-view">Read More</a>
									</div> -->
									<div class="col-6">
										<a href="https://insights.arytic.com/mobile-cybersecurity.html"
											class="btn btn-primary news-view">Read More</a>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div data-gallery-tag="Blogs" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top" src="../../../assets/images/blogs/blog-3.jpg" alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Do we need block chain regulations</h4>
								<p class="card-text">
									Blockchain technology seems to be the topic of the day everywhere. Spending on
									blockchain is expanding exponentially. The International Data Corporation's (IDC)'s
									Worldwide Semiannual Blockchain Spending
									Guide forecasts that global spending on the technology will approach $2.1 billion
									this year, doubling the
									$945 million spent last year. Spending in 2021 is expected to reach $9.7 billion.
									Where are the regulators?
								</p>

								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">Blog | Dec, 2018</small>
										</p>
									</div>
									<!-- <div class="col-6">
											<a [routerLink]="" fragment="block-chain" news-tab="block-chain"	class="btn btn-primary news-view">Read More</a>
									</div> -->
									<div class="col-6">
										<a href="https://insights.arytic.com/block-chain.html" class="btn btn-primary news-view">Read
											More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-gallery-tag="Blogs" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top" src="../../../assets/images/blogs/blog-4.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Understanding the four Vs Big data</h5>
								<p class="card-text">
									Big data, by its very name, often conjures up notions of greater and greater volumes
									of information. However, as big data evolves there seems to be a growing sense that
									bigger is not always better. There are a number of factors that contribute to an
									understanding of the benefits and promise of big data.
								</p>

								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">Blog | Jan, 2019</small>
										</p>
									</div>
									<!-- <div class="col-6">
											<a [routerLink]="" fragment="Big-data" news-tab="Big-data"	class="btn btn-primary news-view">Read More</a>
									</div> -->
									<div class="col-6">
										<a href="https://insights.arytic.com/big-data.html" class="btn btn-primary news-view">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-gallery-tag="Blogs" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top" src="../../../assets/images/blogs/blog-5.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Why AWS IoT is a top choice for developers</h5>
								<p class="card-text">
									Big names including Under Armour and GoPro have launched their products with support
									from Amazon's AWS IoT Core, Amazon Web Service's IoT managed-cloud platform. AWS IoT
									"lets connected devices easily and securely interact with cloud applications and
									other devices."
								</p>

								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">Blog | Feb, 2019</small>
										</p>
									</div>
									<!-- <div class="col-6">
										<a [routerLink]="" fragment="AWS-IoT" news-tab="AWS-IoT"
													class="btn btn-primary news-view">Read More</a>
									</div> -->
									<div class="col-6">
										<a href="https://insights.arytic.com/AWS-IoT.html" class="btn btn-primary news-view">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div data-gallery-tag="Whitepapers" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top" src="../../../assets/images/whitepapers/whitepaper-1.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Artificial Intelligence to help create jobs and make them better,
									not take them away </h5>
								<p class="card-text">Robots and Artificial Intelligence dominate the news as industries
									in every sector consider how technology will affect our futtures.</p>

								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">Whitepaper</small></p>
									</div>
									<div class="col-6">
										<!-- <a href="../../../assets/downloads/Whitepaper-1.pdf" target="_blank" class="btn btn-primary">Download</a> -->
										<a href="javascript:void(0)" data-toggle="modal" data-target="#blogDownload" (click)="WhitePaper(1)"
											class="btn btn-primary btn__primary">Download</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-gallery-tag="Whitepapers" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top" src="../../../assets/images/whitepapers/whitepaper-2.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title" title="Building a better business through cyber resilience">
									Building a better business through cyber resilience</h5>
								<p class="card-text">Enterprises continue to race into the digital future - the prmomise
									of top-line growth and bottom-line savings driving the hyper-adoption of
									tech-dependent business models.</p>
								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">Whitepaper</small></p>
									</div>
									<div class="col-6">
										<a href="javascript:void(0)" data-toggle="modal" data-target="#blogDownload" (click)="WhitePaper(2)"
											class="btn btn-primary btn__primary">Download</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div data-gallery-tag="News" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top"
								src="../../../assets/images/SBDC/Arytic-CEO-Sri-Rao-Boddapu-at-National-Kansas-SBDC-Encountering-Innovation.jpg"
								alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title" title="Arytic at National Kansas SBDC Encountering Innovation">
									Arytic at National Kansas SBDC Encountering Innovation</h5>
								<p class="card-text">Arytic at National Kansas SBDC Encountering Innovation Presenting
									White Boarding Before Department of Defense.</p>
								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">News</small></p>
									</div>
									<!-- <div class="col-6">
										<a [routerLink]="" fragment="SBDC" news-tab="SBDC"
													class="btn btn-primary galleryitem news-view ">Read More</a>
									</div> -->
									<div class="col-6">
										<a href="https://insights.arytic.com/sbdc.html" class="btn btn-primary news-view">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-gallery-tag="News" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top"
								src="../../../assets/images/SXSW/Arytic-Team-with-Amazon-at-SXSW-2019-World-Technology-Trade-Show-card.jpg"
								alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title" title="Arytic at SXSW 2019">Arytic at SXSW 2019
								</h5>
								<p class="card-text">Arytic at South by Southwest (SXSW -2019) exhibited Arytic
									Innovation and it's revoultionary changes in recruitment.</p>
								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">News</small></p>
									</div>
									<!-- <div class="col-6">
										<a [routerLink]="" fragment="SXSW" news-tab="SXSW"
												class="btn btn-primary galleryitem news-view">Read More</a>
									</div> -->
									<div class="col-6">
										<a href="https://insights.arytic.com/sxsw.html" class="btn btn-primary news-view">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Canada Event News Starts-->
					<div data-gallery-tag="News" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top" src="../../../assets/images/collision/arytic-news-collision-1.jpg"
								alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title"
									title="Arytic exhibiting at COLLISION, Toronto-Canada World Technology Trade Show">
									Arytic exhibiting at COLLISION, Toronto-Canada World Technology Trade Show
								</h5>
								<p class="card-text">The Collision Conference, one of the largest gatherings of
									entrepreneurs on the continent, is often described as the fastest growing technology
									conference in North America.</p>
								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">News</small></p>
									</div>
									<!-- <div class="col-6">
										<a [routerLink]="" fragment="COLLISION" news-tab="COLLISION"
													class="btn btn-primary galleryitem news-view">Read More</a>
									</div> -->
									<div class="col-6">
										<a href="https://insights.arytic.com/collision.html" class="btn btn-primary news-view">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Canada Event News Ends-->

					<!--Innotech Event-->
					<div data-gallery-tag="News" class="gallery-item">
						<div class="card mb-3 cardb">
							<img class="card-img-top" src="../../../assets/images/innotech/innotech-1.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title" title="  Arytic at Innotech 2019">
									Arytic at Innotech 2019
								</h5>
								<p class="card-text">The 16th annual InnoTech Austin, presented by The HT Group, returns to the Austin
									Convention Center.</p>
								<div class="row">
									<div class="col-6">
										<p class="mb-0"><small class="card-text text-muted">News</small></p>
									</div>
									<div class="col-6">
										<a href="https://insights.arytic.com/innotech.html" class="btn btn-primary news-view">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Innotech-->
				</div>
			</div>

			<div class="w-100 shadow1 subscribe-banner">
				<div class="w-50 m-auto">
					<div class="card text-center border-0">
						<div class="card-body  p-4">
							<h5 class="card-title text-white">Don't want to miss our updates!!!</h5>
							<form id="wrapped" [formGroup]="Subscribeform" (ngSubmit)="Send()">
								<div class="input-group p-rel">
									<label for="subcribe-email" class="visible-hidden">Email</label>
									<input id="subcribe-email" type="email" class="form-control " [pattern]="emailPattern"
										placeholder="Enter your Email Address to Subscribe"
										[formControl]="Subscribeform.controls['ToEmailID']">
									<div
										*ngIf="Subscribeform.controls['ToEmailID'].invalid && (Subscribeform.controls['ToEmailID'].dirty ||Subscribeform.controls['ToEmailID'].touched)"
										class="subscribe-error">
										<div *ngIf="Subscribeform.controls['ToEmailID'].errors.required">
											Required
										</div>
										<div *ngIf="Subscribeform.controls['ToEmailID'].errors.pattern">
											Incorrect Email!
										</div>
									</div>

									<span class="input-group-btn">
										<button class="btn btn-primary btn-subscribe btn__primary" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


			<!-- <div class="row mb-2 card-group ">
					<div class="col-md-6 card-group">
							<div class="card mb-4 shadow1">
									<div class="row no-gutters">
											<div class="col-md-4">
													<img src="../../../assets/images/insights/insights1.jpeg" alt="Resumes" style="height:100%;" class="card-img" alt="...">
											</div>
											<div class="col-md-8">
													<div class="card-body">
															<h5 class="card-title">Top IT Staffing & Recruiting Trends To Look Forward..</h5>
															<p class="card-text">The U.S. IT staffing and recruiting industry sets a new benchmark with the growth of about 7 per cent to reach a new all-time high of..</p>
															<p class="card-text see-more"><a class="see-more-link" href="/insightsdetailed" ng-reflect-router-link="/insightsdetailed">Continue reading <svg height="12" width="23.6" xmlns="http://www.w3.org/2000/svg"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"></path></svg></a></p>
													</div>

											</div>

									</div>
									<div class="card-footer">
											<small class="text-muted">Feb 22, 2019</small>
									</div>
							</div>
					</div>
					<div class="col-md-6">
							<div class="card mb-4 shadow1">
									<div class="row no-gutters">
											<div class="col-md-4">
													<img src="../../../assets/images/insights/resume.jpg" alt="Resumes" style="height:100%;" class="card-img" alt="...">
											</div>
											<div class="col-md-8">
													<div class="card-body">
															<h5 class="card-title">12 Tiny Changes That Make Your Resume Easier..</h5>
															<p class="card-text">There’s some debate about how many seconds a recruiter spends looking over a resume, but we can all agree that it’s not a lot.</p>
															<p class="card-text see-more"><a class="see-more-link" href="/insightsdetailed" ng-reflect-router-link="/insightsdetailed">Continue reading <svg height="12" width="23.6" xmlns="http://www.w3.org/2000/svg"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"></path></svg></a></p>
													</div>

											</div>

									</div>
									<div class="card-footer">
											<small class="text-muted">Feb 21, 2019</small>
									</div>
							</div>
					</div>
					<div class="col-md-6">
							<div class="card mb-4 shadow1">
									<div class="row no-gutters">
											<div class="col-md-4">
													<img src="../../../assets/images/insights/insights3.jpg" alt="Resumes" style="height:100%;" class="card-img" alt="...">
											</div>
											<div class="col-md-8">
													<div class="card-body">
															<h5 class="card-title">What The World's Greatest Leaders Can Teach Us</h5>
															<p class="card-text">Each year, Fortune ranks the world’s top 50 most influential leaders. And while the list is inspiring, I think the greater message lies in looking.. </p>
															<p class="card-text see-more"><a class="see-more-link" href="/insightsdetailed" ng-reflect-router-link="/insightsdetailed">Continue reading <svg height="12" width="23.6" xmlns="http://www.w3.org/2000/svg"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"></path></svg></a></p>
													</div>

											</div>

									</div>
									<div class="card-footer">
											<small class="text-muted">Feb 20, 2019</small>
									</div>
							</div>
					</div>
					<div class="col-md-6">
							<div class="card mb-4 shadow1">
									<div class="row no-gutters">
											<div class="col-md-4">
													<img src="../../../assets/images/insights/insights2.jpg" alt="Resumes" style="height:100%;" class="card-img" alt="...">
											</div>
											<div class="col-md-8">
													<div class="card-body">
															<h5 class="card-title">How to Get the Job You Really Want - 5 Quick Tips</h5>
															<p class="card-text">One of the most important parts of my role as an experienced Consultant, is setting my candidates up for success when applying for a new role..</p>
															<p class="card-text see-more"><a class="see-more-link" href="/insightsdetailed" ng-reflect-router-link="/insightsdetailed">Continue reading <svg height="12" width="23.6" xmlns="http://www.w3.org/2000/svg"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"></path></svg></a></p>
													</div>

											</div>

									</div>
									<div class="card-footer">
											<small class="text-muted">Feb 19, 2019</small>
									</div>
							</div>
					</div>
					<nav class="blog-pagination col-12"><a class="btn btn-outline-primary" href="#">Older</a><a class="btn btn-outline-secondary disabled" href="#">Newer</a></nav>
			</div> -->
		</div>
		<!-- /.container -->
	</section>

	<section class="bg-white">
		<div class="container">

			<!--blog 1-->

			<div class="hidden-blog" id="ai-blog">
				<div class="clearfix">&nbsp;</div>
				<a href="javascript:void(0)" class="goback">
					<small>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						BACK TO Insights
					</small>
				</a>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>

				<div class="clearfix">&nbsp;</div>
				<img src="../../../assets/images/blogs/blog-1-banner.jpg" alt="How AI is shifting industries across the globe" class="img-fluid">
				<div class="clearfix">&nbsp;</div>
				<div class="w-768 m-auto">
					<div class="clearfix">&nbsp;</div>
					<div class="m-auto">
						<h1 class="display-4">How AI is shifting industries across the globe</h1>
						<div class="clearfix">&nbsp;</div>
						<div class="row justify-content-between">
							<div class="t-color col-6">
								<div class="media">
									<div class="align-self-center mr-3">
										<div>
											<img src="../../../assets/images/favicon.png" alt="arytic">
										</div>
									</div>
									<div class="media-body">
										<h5 class="author">Posted by Arytic</h5>
									</div>
								</div>
							</div>
							<div class="date col-6">
								<span class="t-color">
									Oct, 2018
								</span>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>

					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="text-blog">
						<p>
							Artificial intelligence has been a big buzzword for companies across all sectors and fills
							our
							media with new and amazing ways AI is impacting our lives. It has helped improve sales,
							efficiency and business processes.
						</p>
						<p>
							But just what is artificial intelligence? At its simplest level, AI enables machines to
							"perform
							human-like
							tasks." AI is more than this, however. It also allows these machines to learn from their
							experiences and adapt to new and changing environments.
						</p>
						<p>
							Machines get better at human-like activities as time goes by. AI does this by gathering and
							processing massive amounts of data to identify patterns and direct appropriate actions.
							Perhaps
							the most notable example we hear about daily is the self-driving car.
						</p>
						<p>
							Other examples abound, and it is not an exaggeration to say that AI is transforming our
							industrial world.
						</p>
						<h3 class="mb-4 tcolor">
							A little history
						</h3>
						<p>
							The phrase artificial intelligence was first heard during the 1950s, when people tasked
							early
							computers with simple problem solving. The U.S. Department of Defense, in the 1960s, did the
							first serious work with AI by programming computers to simulate the basics of human
							reasoning.
						</p>
						<p>
							DARPA, the Defense Advanced Research Projects Agency, undertook street mapping during the
							1970s
							using AI. DARPA had developed Siri-like personal assistants as early as 2003. This work laid
							the
							groundwork for today's AI opportunities.
						</p>
						<p>
							The future of AI is now. As AI search engines have dramatically improved the ability to
							glean a
							user's question from a few random words, the newest technologies will be able to tell us
							what
							questions we should
							be asking! The radical transformation of business and the society it serves will be the norm
							in
							the coming years.
						</p>
						<h3 class="mb-4 tcolor">
							The importance of AI to industry
						</h3>
						<p> Jim Goodnight, CEO of SAS, describes some of the reasons AI is important for industry today:
						</p>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								"AI automates repetitive learning and discovery through data." More than straightforward
								automation of manual tasks, AI steps further with the automation of sophisticated
								computer
								tasks.
							</p>
						</div>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								"AI adds intelligence to existing products." Think the addition of Siri to a family of
								Apple
								products.
							</p>
						</div>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								"AI adapts through progressive learning algorithms to let the data do the programming."
								A
								critical differentiator from that past, AI software algorithms can now learn from their
								own
								use and continually improve.
							</p>
						</div>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								"AI analyzes more and deeper data using neural networks that have many hidden layers."
								AI
								has dramatically changed the depth of data analysis. A tremendous amount of data is
								necessary to train these deep progressive learning models and the greater the amount of
								data
								that can be analyzed, exponentially greater accuracy is achieved.
							</p>
						</div>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								"AI achieves incredible accuracy though deep neural networks - which was previously
								impossible." We witness this daily with Alexa, Google Photos and Google Search. These
								tools
								are all built upon deep learning. This is the reason these devices become smarter and
								smarter the more frequently people use them.
							</p>
						</div>
						<div class="clearfix">&nbsp;</div>
						<h3 class="mb-4 tcolor">
							Examples of how industry is changing with AI
						</h3>
						<h6 class="tcolor">AI in e-commerce</h6>
						<p> Though we may not have noticed, the online buying experience is much easier today than it
							was a
							couple of years ago and this benefits consumers and companies alike:
						</p>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								Pop up chat boxes help consumers learn about a product and add a personal touch to the
								process.
							</p>
						</div>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								Predictive ordering permits companies to analyze customer behavior and anticipate
								product
								needs.
							</p>
						</div>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								Recommendation engines accurately suggest items a customer may want and helps boost
								sales.
							</p>
						</div>
						<div class="d-flex">
							<span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
								<i class="fa fa-check"></i>
							</span>
							<p>
								Warehouse automation allows companies to fill and deliver orders in hours rather than
								days
								or weeks and restock as needed.
							</p>
						</div>
						<div class="clearfix">&nbsp;</div>
						<h3 class="mb-4 tcolor">
							AI in medicine
						</h3>
						<p>
							AI has revolutionized the way the medical industry delivers service. Perhaps the most
							AI-impacted aspect of medicine has been patient diagnosis. With the enhanced deep learning
							that
							comes from AI's ability to analyze greater volumes of data, a patient's history can be cross
							referenced with thousands of similar histories.
						</p>
						<p>
							Machines can see patterns in digitized data that a few years ago could only be spotted by
							doctors. The same deep learning has led to a growing ability to personalize treatment,
							combining
							drugs, radiation and chemotherapy in cancer treatment, for example, in ways that match
							individual patient circumstances.
						</p>
						<p>
							AI deep-learning functions and object recognition and classification are now available to
							spot
							cancer from MRIs as accurately as radiologists.
						</p>
						<h3 class="mb-4 tcolor">
							AI in the construction industry
						</h3>
						<p>
							AI now allows companies to predict when to expect a piece of equipment to fail and replace
							it
							before it happens. This saves a tremendous amount of time and expense by scheduling the
							replacement at a time that won't disrupt construction.
						</p>
						<p>
							This is better than responding to an emergency and creating a work stoppage when equipment
							goes
							down unexpectedly. Taking this process a step further, AI can now understand how to best
							operate
							a piece of
							equipment to maximize its useful life.
						</p>
						<h3 class="mb-4 tcolor">
							AI in the arts
						</h3>
						<p>
							Don't think that AI is reserved only for heavy industry or scientific endeavors. Recently,
							AI
							has been used to detect whether or not a painting is a forgery. It is radically altering the
							playing field and the rules of how companies and institutions operate.
						</p>
						<p>
							AI has already established the ability to transform every part of an organization and
							indeed,
							our world. And yet, AI has only just begun to work its magic. Fasten your seatbelts!
						</p>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
			</div>

			<!--# blog1-->
			<!--blog 2-->

			<div class="hidden-blog" id="mobile-cybersecurity">
				<div class="clearfix">&nbsp;</div>
				<a href="javascript:void(0)" class="goback">
					<small>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						BACK TO Insights
					</small>
				</a>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>

				<div class="clearfix">&nbsp;</div>
				<img src="../../../assets/images/blogs/blog-2-banner.jpg" alt="Top threats of mobile cybersecurity" class="img-fluid">
				<div class="clearfix">&nbsp;</div>
				<div class="w-768 m-auto">
					<div class="clearfix">&nbsp;</div>
					<div class="m-auto">
						<h1 class="display-4">Top threats of mobile cybersecurity</h1>
						<div class="clearfix">&nbsp;</div>
						<div class="row justify-content-between">
							<div class="t-color col-6">
								<div class="media">
									<div class="align-self-center mr-3">
										<div>
											<img src="../../../assets/images/favicon.png" alt="arytic">
										</div>
									</div>
									<div class="media-body">
										<h5 class="author">Posted by Arytic</h5>
									</div>
								</div>
							</div>
							<div class="date col-6">
								<span class="t-color">
									Nov, 2019
								</span>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>

					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="text-blog">
						<p>Cybercriminals are becoming more sophisticated - creating new attacks for various threat
							vectors
							and developing variations on existing ones. In recent times, mobile has been particularly
							targeted by hackers - with McAfee reports showing over 16 million mobile malware attacks in
							2017, resulting from 1.5 million new mobile malware.
						</p>
						<p>In previous years, mobile malware was considered an unlikely threat - and consequently, many
							mobile device users thought they were immune from such threats. However, the McAfee reports
							show
							that this is no longer the case. Cybercriminals are stepping up their attack on mobile
							devices
							and no one is immune.
						</p>
						<p>In a survey conducted by Dimensional Research for Check Point Software, over 20 percent of
							companies said that their mobile devices had been breached, with nearly 94 percent stating
							that
							they expected an increase in mobile attacks. Seventy four percent of the respondents
							suggested
							that securing mobile devices was becoming more difficult, while 20 percent didn't even know
							that
							their devices were attacked.
						</p>
						<p>According to Forrester's annual security survey, over 69 percent of information workers bring
							their tablets to work; 68 percent use their own mobile devices (smartphones); and almost
							half
							use their own laptops for work-related functions.
						</p>
						<p>With these numbers, the risk of mobile malware attack is high, considering the kind of
							corporate
							data (such as invoices, competitive data, contracts, intellectual property and customer
							information) contained in these devices.
						</p>
						<p>Let's take a look at the types of mobile malware that can negatively impact enterprises.
						</p>
						<h3 class="mb-4 tcolor">
							Dead apps
						</h3>
						<p> It is advised that users regularly check and update the status of their mobile apps. If the
							app
							is no longer supported by Apple and Google stores, it is best to delete them. An undisclosed
							number of apps are quietly being removed by security teams of both operating systems due to
							a
							number of issues ranging from copyright infringement and malware issues to leaking of user
							data
							to third parties.
						</p>
						<h3 class="mb-4 tcolor">
							IoT malware
						</h3>
						<p> Although still in its infancy, IoT malware is slowly gaining ground as hackers discover new
							vulnerabilities and develop sophisticated malware to exploit them. There are only 10 IoT
							malware
							families, and most of them are variations of each other.

						</p>
						<p>However, there is sure to be an increase in the number of IoT malware since there are little
							or
							no security measures in place for IoT devices and they are increasingly being connected to
							smartphones.
						</p>
						<h3 class="mb-4 tcolor">
							Ad and click fraud
						</h3>
						<p>This form of malware is quickly becoming a top concern for cybersecurity experts. Mobile
							devices
							that are compromised through ad and click malware enables hackers to gain easy access into
							an
							enterprise's internal network.
						</p>
						<p>It works by sending users an SMS phish with a link to a malicious app download. Clicking the
							link
							triggers the automatic download and installation of the malicious app - after which, the app
							begins to exploit and gains control of the phone, stealing credentials and using it to gain
							access into internal networks.
						</p>
						<h3 class="mb-4 tcolor">
							Mobile botnets
						</h3>
						<p>A malware has been developed that can transform numerous mobile devices into botnets
							controlled
							by hackers. The first of this kind of malware, the Viking Horde, appeared in 2016 and
							targeted
							rooted and non- rooted Android devices.
						</p>
						<p>
							It used proxied IP addresses to disguise ad clicks and generate fraudulent advertising
							revenue
							for its owner. Since the discovery of the Viking Horde, researchers have identified over a
							dozen
							other mobile botnets, including the Hummingbad, which infected more than 10 million Android
							devices.
						</p>
						<h3 class="mb-4 tcolor">
							The Pegasus spyware
						</h3>
						<p>One of the first major attacks on mobile devices, the Pegasus spyware was launched in August
							2016. It was capable of hacking into any iPhones or iPad, conducting surveillance on the
							user
							and harvesting data (both corporate and personal).
						</p>
						<p>Apple researchers also uncovered three zero-day vulnerabilities in iOS that if exploited,
							could
							form an attack chain capable of subverting even Apple's robust security environment.
							However,
							these vulnerabilities have since been fixed with the release of the 9.3.5 patch.
						</p>
						<p>In April 2017, cyberattacks developed a variant of the Pegasus spyware for the Android OS.
							The
							malware disguised itself as an app download while gaining root access to the device,
							enabling it
							to conduct continuous round-the-clock surveillance on the user.
						</p>
						<p>Once it was discovered, Google bolstered its security measures and also included Play Protect
							security feature on the Google Play Store. Android and Apple are making giant strides
							towards
							creating more robust and secure operating systems.

						</p>
						<p>However, cybercriminals are also busy, designing and developing new mobile malware for more
							dangerous, and insidious activities.
						</p>
						<p>Despite these trends, security isn't a top priority in app design since most developers focus
							on
							usability, simplicity and UI/UX. In most cases, mobile apps allow users to pass or store
							credentials without any form of encryption, or weak ones at best.
						</p>
						<p>This inherent weakness in mobile app design, coupled with the proliferation of BYOD policies
							and
							the pervasiveness of mobile devices in the workplace, is the perfect recipe for increased
							mobile
							attacks on enterprises.
						</p>
						<p>However, it is difficult for organizations to protect their entire mobile network due to the
							level of fragmentation. Instead, they can educate their employees on cybersecurity best
							practices and institute policies requiring them to install robust security software.
						</p>
						<p>They can also take steps to encrypt mobile devices that have access to.
						</p>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
			</div>

			<!--# blog2-->
			<!--blog 3-->

			<div class="hidden-blog" id="block-chain">
				<div class="clearfix">&nbsp;</div>
				<a href="javascript:void(0)" class="goback">
					<small>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						BACK TO Insights
					</small>
				</a>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>

				<div class="clearfix">&nbsp;</div>
				<img src="../../../assets/images/blogs/blog-3-banner.jpg" alt="Do we need blockchain regulations?" class="img-fluid">
				<div class="clearfix">&nbsp;</div>
				<div class="w-768 m-auto">
					<div class="clearfix">&nbsp;</div>
					<div class="m-auto">
						<h1 class="display-4">Do we need blockchain regulations?</h1>
						<div class="clearfix">&nbsp;</div>
						<div class="row justify-content-between">
							<div class="t-color col-6">
								<div class="media">
									<div class="align-self-center mr-3">
										<div>
											<img src="../../../assets/images/favicon.png" alt="arytic">
										</div>
									</div>
									<div class="media-body">
										<h5 class="author">Posted by Arytic</h5>
									</div>
								</div>
							</div>
							<div class="date col-6">
								<span class="t-color">
									Dec, 2018
								</span>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>

					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="text-blog">
						<p>Blockchain technology seems to be the topic of the day everywhere. Spending on blockchain is
							expanding exponentially. The International Data Corporation's (IDC)'s Worldwide Semiannual
							Blockchain Spending
							Guide forecasts that global spending on the technology will approach $2.1 billion this year,
							doubling the
							$945 million spent last year. Spending in 2021 is expected to reach $9.7 billion. Where are
							the
							regulators?
						</p>
						<p>Blockchains - " distributed electronic ledgers that facilitate decentralized transaction
							networks" - are roaring down similar tracks to previous dramatic "leaps in technology." As
							with
							automobiles, electricity, airplanes or, more recently, the world wide web, blockchain
							technology
							and the interest groups behind it are pressing ahead far faster than regulations and
							regulators.
						</p>
						<p>Many of those who will one day be responsible for regulation of some sort will likely
							acknowledge
							today that they don't really understand what a blockchain is, or how the technology works.
							Even
							people who work with blockchains will likely offer a stuttering response when asked to
							define
							the technology.

						</p>
						<p>Regulatory agencies, dealing with a proverbial "moving target" in blockchain technology, are
							in a
							seemingly intractable quandary in determining just where blockchain comes into play in the
							future global economy.
						</p>


						<h3 class="mb-4 tcolor">
							How are U.S. regulators responding?
						</h3>
						<p>The potential of Blockchain to streamline financial transactions on a worldwide scale cannot
							be
							overstated. Presently, however, most blockchain projects and their corresponding publicity
							relate to the technology's underpinning of cryptocurrency, altcoins, tokens or virtual
							currencies, the most common of which
							are Bitcoin and Etherium. Accordingly, relevant U.S. regulators have focused initially on
							protecting the public
							from traditional market risks and fraud.
						</p>
						<p>Any announcements of intentions by market regulators of the world's largest economy - the
							Securities and Exchange Commission (SEC), the Commodity Futures Trading Commission (CFTC)
							and
							the Federal Trade Commission (FTC) - cannot, in turn, be ignored by global blockchain
							advocates
							and interest groups.

						</p>
						<p>It is very clear that blockchain groups and U.S. regulators will have to find ways to deal
							with
							each other in a way that both facilitates the beneficial uses of the technology while
							protecting
							the public. Various agencies are wading into the new industry with differing degrees of
							caution.
						</p>

						<h3 class="mb-4 tcolor">
							Cryptocurrencies and Initial Coin Offerings (ICO)
						</h3>
						<p> SEC Chairman Jay Clayton has voiced concern about the offer and sale of cryptocurrency to
							the
							public and has highlighted the fact that the SEC has not to date approved any ICO's. The
							Chairman has indicated, however, that it will apply the Howey Test to determine whether or
							not a
							cryptocurrency sale constitutes a sale of securities.

						</p>
						<p> This means that the SEC will look to the individual circumstances and facts surrounding each
							transaction to make this determination. It is also clear the SEC is prepared to take action
							against ICO sponsors if it finds a misuse of an ICO or other fraud.
						</p>
						<h3 class="mb-4 tcolor">
							Taxation on cryptocurrency investments

						</h3>
						<p> The IRS will treat " virtual currency as property for tax purposes." What this means in
							practice
							is that a gain or loss on the sale of virtual currency will be taxed in the same manner as
							any
							other property exchange. For example, cryptocurrency is typically treated as capital, an
							asset,
							but it also may be classified as inventory if the asset is held for resale.

						</p>
						<p>As early as 2014, the IRS issued guidance stressing that cryptocurrency is treated as
							property,
							subjecting it to capital gains and income taxes. Simply buying and holding cryptocurrency
							does
							not constitute a taxable event. But this gets tricky. If one uses digital coins to purchase
							a
							magazine, for example, after the currency has increased in value, there has been a taxable
							gain.
						</p>
						<h3 class="mb-4 tcolor">
							Private key security: Is it enough?
						</h3>
						<p> Private keys are the designed to be the ultimate protection for spending and sending your
							cryptocurrency to anyone. The unique aspect of blockchain is the irreversibility of the
							transaction, which is guaranteed by mathematical signatures tied to each transaction with
							the
							use of private keys.
						</p>
						<p>Cryptocurrency exchanges will store private keys on behalf of their users.
						</p>
						<p>While most exchanges do a good job of protecting private keys against cybercriminals, the
							industry is also a draw for cryptocurrency scams and hackers. And the stakes are high. A
							loss on
							an exchange can involve hundreds of millions of dollars.
						</p>
						<h3 class="mb-4 tcolor">
							Conclusion: Mixed messages and needs
						</h3>
						<p> It is not surprising that at this stage of the development of a potentially transformative
							industry, there is no clear plan for setting up a smooth regulatory pattern to enrich the
							industry while at the same time protecting the public. </p>
						<p>At present, it appears there is "more friction than unity between regulatory bodies and
							industry
							experts
							about how the space should develop." At the same time that many U.S. federal regulators are
							perhaps overly cautious, some state legislatures are passing laws designed to minimize
							blockchain industry
							restrictions and encourage companies to locate in those states.

						</p>
						<p>All of these recommendations, however, seem to support the sentiment for a greater degree of
							claritywhen it comes to blockchain technology, not just with government officials but with
							the
							broader public as well.
						</p>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
			</div>

			<!--# blog3-->
			<!--blog 4-->

			<div class="hidden-blog" id="Big-data">
				<div class="clearfix">&nbsp;</div>
				<a href="javascript:void(0)" class="goback">
					<small>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						BACK TO Insights
					</small>
				</a>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>

				<div class="clearfix">&nbsp;</div>
				<img src="../../../assets/images/blogs/blog-4-banner.jpg" alt="Understanding the four Vs of big data" class="img-fluid">
				<div class="clearfix">&nbsp;</div>
				<div class="w-768 m-auto">
					<div class="clearfix">&nbsp;</div>
					<div class="m-auto">
						<h1 class="display-4">Understanding the four Vs of big data</h1>
						<div class="clearfix">&nbsp;</div>
						<div class="row justify-content-between">
							<div class="t-color col-6">
								<div class="media">
									<div class="align-self-center mr-3">
										<div>
											<img src="../../../assets/images/favicon.png" alt="arytic">
										</div>
									</div>
									<div class="media-body">
										<h5 class="author">Posted by Arytic</h5>
									</div>
								</div>
							</div>
							<div class="date col-6">
								<span class="t-color">
									Jan, 2019
								</span>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>

					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="text-blog">
						<p>Big data, by its very name, often conjures up notions of greater and greater volumes of
							information. However, as big data evolves there seems to be a growing sense that bigger is
							not
							always better. There are a number of factors that contribute to an understanding of the
							benefits
							and promise of big data. </p>
						<p>An "ancient" (in our world) but important 2012 article by MIT Professor Erik Brynjolfsson,
							Big
							Data: The
							Management Revolution, identified the then "three Vs" of big data - volume, velocity and
							variety. Since then, an important additional factor has been added to the list - veracity.
						</p>
						<h3 class="mb-4 tcolor">
							Volume: "Scale of data"

						</h3>
						<p>
							The article above highlighted an astounding fact, that the amount of data created daily is
							doubling "every 40 months or so". Perhaps this early realization helped focus most attention
							on
							the volume pillar of big data perpetuating a myth that big data and great volumes of data
							are
							one and the same.

						</p>
						<p>
							At the same time, it is hard to ignore the pure volume of data that we collect. We create
							2.5
							quintillion bytes of data every day and 90% of the data in existence today was created
							within
							the past two years!

						</p>
						<p>Volume does matter.
						</p>
						<p>The pure number of data points today gives companies a much greater opportunity to work with
							many
							petabytes of data both from the internet and elsewhere. Walmart is building the world'
							largest
							private
							cloud with a goal of processing over 2.5 petabytes of customer transaction data hourly. This
							is
							the "equivalent of 20 million filing cabinets' worth of text."
						</p>
						<h3 class="mb-4 tcolor">
							Variety: "Different forms of data"

						</h3>
						<p>
							An annual survey conducted for the past six years by NewVantage Partners asked industry
							leaders
							what they felt were the most important drivers for big data success. Sixty-nine percent felt
							that increased data variety was the most important factor. Twenty-five percent of the
							corporate
							executives chose volume and only 6 percent felt velocity was the key driver. The consensus
							was
							that big data success will be achieved by "integrating more sources of data, not bigger
							amounts."

						</p>
						<p>Many see tremendous opportunity with recent programs designed to capture traditional legacy
							data
							sources, largely ignored in the past. These "long tail" data sets have, until now, lived
							outside
							of the grasp of traditional data warehouses. Traditional processing has been aimed at
							numbers
							and variables, but not the words and pictures from text and documents.
						</p>
						<p>There is a growing focus among firms on integrating this " unstructured data". The new-found
							ability to process unstructured data will broaden the analytical ability of big data by
							combining quantitative metrics and qualitative content.

						</p>
						<p>Early on, the capture of social media and behavioral data was undertaken by a few obvious
							firms
							that directly benefited from the results, such as eBay and Facebook. However, as firms
							develop
							more encompassing big data programs, we will see more that are taking advantage of untapped
							social data opportunities.
						</p>
						<p>For example, a growing number of firms are utilizing feedback from social data such as mobile
							device recommendations, which have the potential to yield immediate results. As more
							traditional
							companies make commitments to big data, it is likely that the variety of data sources
							selected
							for analysis and the capability to do so will expand.
						</p>
						<h3 class="mb-4 tcolor">
							Velocity: "Analysis of streaming data"
						</h3>
						<p>
							No matter how much volume and variety of data a company is able to "gather", the velocity
							with
							which that company can make valuable use of that data is key. If data can't be utilized in a
							timely fashion, a big data bottleneck is the result.
						</p>
						<p>Take an example. Using real-time alerting, "Walmart was able to identify a particular
							Halloween
							novelty
							cookie" as popular in the vast majority of its stores. Unfortunately, there were two
							locations
							where the cookie wasn't selling at all. With this information, Walmart was able to promptly
							investigate and learn that the cookies were not even on the shelves at these stores due to a
							rather simple stacking error.
						</p>
						<p>Had Walmart discovered this problem following Halloween, the information's value would have
							been
							worthless. A small example perhaps, but imagine how this type of problem plays out across
							the
							retail landscape every day. But data velocity isn't just applicable to the retail industry.
							The
							principle applies to almost every business model and operation.
						</p>
						<h3 class="mb-4 tcolor">
							Veracity: "Uncertainty of data"
						</h3>
						<p>
							One in three corporate leaders doesn't trust the information they use to make decisions. It
							is
							estimated that poor quality of data costs the U.S. economy about $3.1 trillion a year. It is
							therefore not surprising that data veracity is seen as one of the Vs with the greatest need
							for
							improvement. This poses a big challenge for big data.
						</p>
						<p>As seen above, with such a tremendous amount of data available, and with that number
							continuing
							to grow exponentially, the ability to assure that the data is both relevant and of high
							quality
							becomes paramount. As companies invest more into cybersecurity technology, the focus must be
							carefully planned, and these funds must also be aimed at data veracity.
						</p>
						<h3 class="mb-4 tcolor">
							Conclusion
						</h3>
						<p>
							It is important to an understanding of the "four Vs" not to lose sight of the end game. How
							can
							big data improve help improve my product, cut my costs, satisfy my customers or earn the
							loyalty
							of my employees? In the end, the success of big
						</p>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
			</div>

			<!--# blog4-->
			<!--blog 5-->

			<div class="hidden-blog" id="AWS-IoT">
				<div class="clearfix">&nbsp;</div>
				<a href="javascript:void(0)" class="goback">
					<small>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						BACK TO Insights
					</small>
				</a>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>

				<div class="clearfix">&nbsp;</div>
				<img src="../../../assets/images/blogs/blog-5-banner.jpg" alt="Why AWS IoT is a top choice for developers" class="img-fluid">
				<div class="clearfix">&nbsp;</div>
				<div class="w-768 m-auto">
					<div class="clearfix">&nbsp;</div>
					<div class="m-auto">
						<h1 class="display-4">Why AWS IoT is a top choice for developers</h1>
						<div class="clearfix">&nbsp;</div>
						<div class="row justify-content-between">
							<div class="t-color col-6">
								<div class="media">
									<div class="align-self-center mr-3">
										<div>
											<img src="../../../assets/images/favicon.png" alt="arytic">
										</div>
									</div>
									<div class="media-body">
										<h5 class="author">Posted by Arytic</h5>
									</div>
								</div>
							</div>
							<div class="date col-6">
								<span class="t-color">
									Feb, 2019
								</span>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>

					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="text-blog">
						<p>Big names including Under Armour and GoPro have launched their products with support from
							Amazon's AWS IoT Core, Amazon Web Service's IoT managed-cloud platform. AWS IoT "lets
							connected
							devices easily and securely interact with cloud applications and other devices."
						</p>
						<p>It's a top choice for developers because it's easy to use, has high-security standards and
							cultivates a culture within the company and more.

						</p>
						<h3 class="mb-4 tcolor">
							Overview of AWS IoT


						</h3>
						<p>
							AWS IoT platforms offer secure communication, data processing and routing and the ability to
							manage devices across a range of different connected devices and locations in order to serve
							specific purposes, including industrial IoT applications as well as connected vehicles and
							connected home solutions.
							Additionally, AWS IoT Core connects to AWS IoT Analytics, allowing a user to develop
							analytics
							and machine learning models.

						</p>
						<p>
							Putting this simply, the AWS IoT platform hooks up IoT devices in the cloud and then
							facilitates
							their secure interaction with each other and with other IoT applications. The platform makes
							things "smarter" by gathering data, analyzing it and sending it to the cloud for further
							work.

						</p>
						<p>
							AWS IoT Core provides the backbone of IoT applications, allowing customers to fully employ
							their
							IoT capabilities with the scalable, reliable, secure global computing and storage
							infrastructure
							of AWS IoT.


						</p>
						<h3 class="mb-4 tcolor">
							Why developers prefer AWS IoT


						</h3>
						<h6 class="tcolor">Ease of use.</h6>
						<p>
							This single factor is why more and more IoT startups are choosing AWS IoT solutions amongst
							the
							countless number of platforms competing for their business. According to a survey of
							developers
							by
							the Eclipse Foundation, 51.8 percent of those questioned selected AWS IoT Core as their
							cloud
							platform.

						</p>
						<p>Engineers are excited about the platform's ease of interface, with familiar programming
							languages
							such as Java, JavaScript, Python and mobile SDKs. As icing on the cake, AWS IoT device SDKs
							are
							open-source functions allowing users to "see the sites" in detail.

						</p>
						<h6 class="tcolor">High-security standards.</h6>
						<p>
							IoT security is clearly one of the biggest concerns of users and the public alike. It is
							typically a big challenge for IoT startups. Amazon doesn't skimp on dedicating resources to
							the
							security of its customers' data, communications and devices. Having hit $1 trillion in
							market
							capitalization recently, Amazon can afford to continually seek, investigate and implement
							the
							most effective security solutions.


						</p>
						<p>To ensure that all exchanges are secure between the AWS IoT platform and its connected
							devices,
							the platform utilizes a multitude of authorization, authentication and encryption levels.
							Both
							the AWS method
							(SigV4) and the traditional approach using X.509 certificates are employed. Additionally,
							customers can create and enforce their own security processes and policies with the AWS
							Console.
						</p>
						<p><b>Serverless architecture.</b> Serverless architectures are application designs
							incorporating
							third-party "Backend as a Service" (BaaS) capabilities and may include custom code. With
							these
							approaches, the architectures eliminate a great deal of the need for a "traditional
							always-on
							server component."
						</p>
						<p>Serverless applications offer exciting ways to capture and validate a startup' ideas.

						</p>
						<p>They will typically benefit from lower operational costs, engineering lead time and general
							complexity. Using the serverless concept, an IoT startup can reduce the cost of building an
							MVP
							and prototypes and provide agility to the complete development process.</p>






					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
			</div>

			<!--# blog5-->
			<!-- news and events 1 -->
			<div class="hidden-blog" id="SBDC">
				<div class="clearfix">&nbsp;</div>
				<a href="javascript:void(0)" class="goback">
					<small>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						BACK TO Insights
					</small>
				</a>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>

				<figure>
					<img class="w-100"
						src="../../../assets/images/SBDC/Arytic CEO Sri Rao Boddapu at National Kansas SBDC Encountering Innovation Presenting White Boarding Before Department of Defense 9 DOD Scouts October 2018.jpg"
						alt="arytiC">
					<figcaption>Arytic CEO Sri Rao Boddapu at National Kansas SBDC Encountering Innovation Presenting
						White Boarding Before Department of Defense 9 DOD Scouts October 2018</figcaption>
				</figure>
				<div class="w-768 m-auto">
					<div class="clearfix">&nbsp;</div>
					<div class="m-auto">
						<h1 class="display-4">Arytic at National Kansas SBDC Encountering Innovation</h1>
						<div class="clearfix">&nbsp;</div>
						<div class="row justify-content-between">
							<div class="t-color col-6">
								<div class="media">
									<div class="align-self-center mr-3">
										<div>
											<img src="../../../assets/images/favicon.png" alt="arytic">
										</div>
									</div>
									<div class="media-body">
										<h5 class="author">Posted by Arytic</h5>
									</div>
								</div>
							</div>
							<div class="date col-6">
								<span class="t-color">
									Oct, 2018
								</span>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>

					</div>
					<div class="clearfix">&nbsp;</div>
					<p>Arytic participated in the Encountering Innovation Week 2018 hosted by Johnson County Community
						College in Overland Park, Kansas on October 8-12, 2018.</p>
					<div class="clearfix">&nbsp;</div>
					<p>The event was powered by America's SBDC, SBA, Kansas Department of Commerce and Johnson County
						Community College. Encountering Innovation Week 2018 provides innovators with a once in a
						lifetime opportunity to present and showcase their technologies to DoD Scouts seeking innovative
						solutions for all nine areas of Combatant Commands, as well as tech solutions that may be of
						interest to other nondefense federal agencies.</p>
					<p>It's a rare opportunity for innovators to discover the needs of government agencies and showcase
						their innovative efforts towards meeting those needs. The DoD Tech Scouts seek innovative
						solutions to immediate needs as well as a broader range of inventions to save costs and resolve
						operational challenges.</p>
					<p>Arytic's innovative Artificial Intelligence One Solution employment platform was nominated by the
						National Encountering Innovation from Kansas SBDC teams and UTSA teams representing Texas region
						to be presented at the Encountering Innovation Week 2018.</p>
					<p>Arytic IT Solutions team headed by its CEO, Sri Rao Boddapu, and President Usha Boddapu,
						presented a pitch of its groundbreaking technology to the Technology Scouts from the Department
						of Defense, Federal Bureau of Investigation (FBI), Homeland Security, U.S. Commando, Service
						Labs, Academia and over 10 other Federal agencies on October 9 and 11.</p>

					<div class="clearfix">&nbsp;</div>
					<figure>
						<img class="w-100"
							src="../../../assets/images/SBDC/Arytic Team at National Kansas SBDC Encountering Innovation October 2018.jpg"
							alt="arytiC">
						<figcaption>Arytic Team at National Kansas SBDC Encountering Innovation October 2018
						</figcaption>
					</figure>
				</div>

				<div class="clearfix">&nbsp;</div>
			</div>
			<!-- #news and events 1 -->
			<!-- news and events 2 -->
			<div class="hidden-blog" id="SXSW">
				<div class="clearfix">&nbsp;</div>
				<a href="javascript:void(0)" class="goback">
					<small>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						BACK TO Insights
					</small>
				</a>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>

				<figure>
					<img class="w-100"
						src="../../../assets/images/SXSW/Arytic Team with Amazon at SXSW 2019 World Technology Trade Show.jpg"
						alt="arytiC">
					<figcaption>Arytic Team with Amazon at SXSW 2019 World Technology Trade Show</figcaption>
				</figure>
				<div class="clearfix">&nbsp;</div>
				<div class="w-768 m-auto">
					<div class="clearfix">&nbsp;</div>
					<div class="m-auto">
						<h1 class="display-4">Arytic at SXSW 2019</h1>
						<div class="clearfix">&nbsp;</div>
						<div class="row justify-content-between">
							<div class="t-color col-6">
								<div class="media">
									<div class="align-self-center mr-3">
										<div>
											<img src="../../../assets/images/favicon.png" alt="arytic">
										</div>
									</div>
									<div class="media-body">
										<h5 class="author">Posted by Arytic</h5>
									</div>
								</div>
							</div>
							<div class="date col-6">
								<span class="t-color">
									Feb 11, 2019
								</span>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>

					</div>
					<div class="clearfix">&nbsp;</div>
					<figure>
						<img class="w-100" src="../../../assets/images/SXSW/Usha Boddapu Esolvit CEO at SXSW 2019 Exhibitor.jpg"
							alt="arytic">
						<figcaption>Usha Boddapu Esolvit CEO at SXSW 2019 Exhibitor</figcaption>
					</figure>
					<div class="clearfix">&nbsp;</div>
					<div class="clearfix">&nbsp;</div>
					<figure>
						<img class="w-100" src="../../../assets/images/SXSW/Usha Boddapu Exhibiting at SXSW 2019.jpg" alt="arytiC">
						<figcaption>Usha Boddapu Exhibiting at SXSW 2019</figcaption>
					</figure>
					<div class="clearfix">&nbsp;</div>

					<div class="clearfix">&nbsp;</div>
				</div>


				<!-- <figure>
                    <img class="w-100" src="../../../assets/images/SXSW/Arytic Business cards.jpg" alt="arytiC">
                    <figcaption>Arytic Business cards</figcaption>
                </figure>
                <div class="clearfix">&nbsp;</div> -->
			</div>
			<!-- #news and events 2 -->

			<!--Canada News Starts-->
			<div class="hidden-blog" id="COLLISION">
				<div class="clearfix">&nbsp;</div>
				<a href="javascript:void(0)" class="goback">
					<small>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						BACK TO Insights
					</small>
				</a>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>
				<!---->
				<div class="demo-video">
					<div class="play-border">
						<a data-toggle="modal" data-target="#videoModalCenter" class="link-block-6 w-inline-block">
							<div class="play-button-inner"><img src="../../../assets/images/Triangle.svg" alt=" Play button"
									width="26" class="green-play-button"></div>
						</a>
					</div>
					<img src="../../../assets/images/collision/arytic-news-collision-2.jpg" alt="Video thumbnail" class="video_bg"
						style="width:100%">
				</div>

				<!---->
				<div class="w-768 m-auto">
					<div class="clearfix">&nbsp;</div>
					<div class="m-auto">
						<h1 class="display-4">Arytic exhibiting at COLLISION, Toronto-Canada World Technology Trade Show
						</h1>
						<div class="clearfix">&nbsp;</div>
						<div class="row justify-content-between">
							<div class="t-color col-6">
								<div class="media">
									<div class="align-self-center mr-3">
										<div>
											<img src="../../../assets/images/favicon.png" alt="arytic">
										</div>
									</div>
									<div class="media-body">
										<h5 class="author">Posted by Arytic</h5>
									</div>
								</div>
							</div>
							<div class="date col-6">
								<span class="t-color">
									May 20, 2019
								</span>
							</div>
						</div>

					</div>
					<div class="clearfix">&nbsp;</div>

					<p><strong>The Collision Conference,</strong>
						one of the largest gatherings of entrepreneurs on the continent, is often described as the
						fastest growing technology conference in North America. Along with being the sister event of the
						Web Summit. Collision attracts more than 25,000 attendees from over 120 countries. The event
						brings together people and companies which are redefining the global tech industry.
					</p>
					<p>The event kicked off with a warm welcome from Justin Trudeau, the Prime Minister of Canada, and
						the Mayor of Toronto, John Tory. They were followed by keynote speeches from Ev Williams (Medium
						Founder), Seth Rogan, Ryan Holmes (Hootsuite Founder), Tobias Lütke (Shopify CEO), and Joseph
						Gordon-Levitt. The Arytic team is so honored to be a part of the Collision Conference 2019. </p>
					<p>At the conference, we had the chance to speak to leaders in technology from around the world
						about the innovative products there. It was especially a great experience to exhibit our
						product, Arytic, here at the conference. We were glad to have many valuable interactions with
						some prominent investors and other technology leaders. The Collision Conference has truly been a
						platform of learning for us, not only because we saw new technologies, but also because we were
						able to appreciate the culture of innovation and entrepreneurship. </p>

					<figure>
						<img class="w-100" src="../../../assets/images/collision/arytic-news-collision-3.jpg" alt="arytiC">
						<figcaption>Arytic team at Collision conference 2019
						</figcaption>
					</figure>

					<h3>What is Arytic.?</h3>
					<p>
						In our years of experience running a software contracting company, we have learned much about
						the industry and what drives it.<strong> For companies, obtaining the desired results is all
							that really matters.</strong> Consequently, to get the right outcome, we need to have the
						right talent in the right place.
					</p>
					<p>Yes, we all should accept that only the right hiring, produces the desired output.</p>
					<p>I know that many of us have been very successful in finding talent through the traditional way of
						recruitment. This process has yielded many promising employees and successful projects. However,
						there were also cases that made us feel we had made a mistake in our hiring decision. </p>
					<p>But why? Hasn’t the candidate been thoroughly vetted? Wasn’t the candidate interviewed properly?
						Didn’t we go through the same process we always do? To all these questions: yes. But this isn’t
						enough. We need to go further and analyze the <strong>Attitude, Cultural Fit, and Social
							Personality</strong> of the candidate as well. It is of no surprise that these qualities
						matter a lot in today's corporate world!</p>
					<p>Can’t our traditional recruitment process overcome this? Well yes, it certainly can. But the
						problem is <strong>Time! And time is money.</strong> We also came across this problem and the
						idea of <strong>Arytic was born.!</strong></p>


					<h3>Arytic is the Next Gen AI-Powered Hiring Platform. </h3>
					<p>Arytic is an <strong>AI-powered model that has the capability to eliminate many of the
							intermediaries of the recruiting process</strong> producing the most intelligent matches
						with <strong> fit, personality and culture fit</strong> driven by social networks and associated
						<strong> incentives.</strong>
					</p>
					<p>With the Arytic platform, Employers, Hiring Agencies and Freelance Recruiters can mutually
						benefit not only by finding uncompromising quality talent but also by sharing the talent they
						have so everyone can <strong> their average hiring time by 50%.</strong></p>
					<p>Arytic also helps Job Seekers find their dream by providing the most suitable job matches and also
						by helping them improve with intelligent profile analytics. Arytic also encourages Job Seekers
						with <strong>referral bounties,</strong> where they can refer the best match for any Job to
						their friends or to a chain of social networks.</p>
					<figure>
						<img class="w-100" src="../../../assets/images/collision/arytic-news-collision-4.jpg" alt="arytiC">
						<figcaption>Arytic at Collision Conference </figcaption>
					</figure>
					<div class="clearfix">&nbsp;</div>

				</div>


				<div class="clearfix">&nbsp;</div>
			</div>
			<!--Canada News Ends-->

		</div>
	</section>

	<!-- Modal -->
	<div class="modal fade" id="blogDownload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="blog-download" style="color:#475B66">Download Whitepaper</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="wrapped" [formGroup]="WhitePaperform" (ngSubmit)="SaveWhitepaper()">
						<div class="form-group p-rel">
							<label for="modal-label-name" class="visible-hidden">Name</label>
							<input type="text" id="modal-label-name" class="form-control" minlength=3 pattern="^\S.*$"
								[formControl]="WhitePaperform.controls['UserName']" placeholder="Name" max="15" required>
							<div
								*ngIf="WhitePaperform.controls['UserName'].invalid && (WhitePaperform.controls['UserName'].dirty || WhitePaperform.controls['UserName'].touched)"
								class="error1 h-auto">

								<div *ngIf="WhitePaperform.controls['UserName'].errors.required">
									Required
								</div>
								<div *ngIf="WhitePaperform.controls['UserName'].errors.pattern">
									Invalid Input!
								</div>
								<div *ngIf="WhitePaperform.controls['UserName'].errors.minlength">
									Minimum 3 Characters
								</div>

							</div>
						</div>
						<div class="form-group p-rel">
							<label for="modal-label-company" class="visible-hidden">Company</label>
							<input type="text" id="modal-label-company" class="form-control" [formControl]="WhitePaperform.controls['CompanyName']" max="20"
								placeholder="Company" pattern="^\S.*$" minlength=1 required>
							<div
								*ngIf="WhitePaperform.controls['CompanyName'].invalid && (WhitePaperform.controls['CompanyName'].dirty || WhitePaperform.controls['CompanyName'].touched)"
								class="error1">
								<div *ngIf="WhitePaperform.controls['CompanyName'].errors.required">
									Required
								</div>
								<div *ngIf="WhitePaperform.controls['CompanyName'].errors.minlength">
									Minimum 1 Character
								</div>
								<div *ngIf="WhitePaperform.controls['CompanyName'].errors.pattern">
									Invalid Company!
								</div>
							</div>

						</div>
						<div class="form-group p-rel">
							<label for="modal-label-email" class="visible-hidden">Email</label>
							<input type="text" id="modal-label-email" [pattern]="emailPattern" class="form-control"
								[formControl]="WhitePaperform.controls['EmailId']" placeholder="Email" required>
							<div
								*ngIf="WhitePaperform.controls['EmailId'].invalid && (WhitePaperform.controls['EmailId'].dirty || WhitePaperform.controls['EmailId'].touched)"
								class="error1">
								<div *ngIf="WhitePaperform.controls['EmailId'].errors.required">
									Required
								</div>
								<div *ngIf="WhitePaperform.controls['EmailId'].errors.pattern">
									Incorrect Email!
								</div>
							</div>

						</div>
						<div class="form-group p-rel">
							<label for="modal-label-phone" class="visible-hidden">Phone Number</label>
							<input type="text" id="modal-label-phone" class="form-control" [formControl]="WhitePaperform.controls['ContactNumber']"
								prefix="+1" placeholder="Contact Number" maxlength=20
								onkeypress="return event.charCode >= 48 && event.charCode <= 57">
							<div *ngIf="WhitePaperform.controls['ContactNumber'].errors?.minlength" class="error1">
								Invalid Phone number
							</div>
						</div>

						<div class="pull-right">
							<button type="submit" class="btn btn-primary btn__primary" style=" padding: .375rem .75rem;">
								Download Now</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>


	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<ng-container *ngIf="afterRequest">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Demo Request</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<img src="../../../../assets/images//handshake.png" class="text-center">
							<h6 style="color: #475B66;"> Thanks for showing interest in Arytic. we will get back to you
								Soon!!</h6>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Explore Arytic</button>
					</div>
				</ng-container>
				<ng-container *ngIf="!afterRequest">
					<div class="modal-header">

						<h5 class="modal-title" id="exampleModalLabel">Demo Request</h5>
						<button type="button" class="close" data-dismiss="modal" (click)="cancelRequest()" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form [formGroup]="demoform" (ngSubmit)="DemoRequest()">
							<div class="form-group p-rel">
								<label for="first-name" class="visible-hidden">First Name</label>
								<input type="text" class="form-control" id="first-name" formControlName="FirstName" placeholder="First Name *"
									onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
									required>
								<div
									*ngIf="demoform.controls['FirstName'].invalid && (demoform.controls['FirstName'].dirty || demoform.controls['FirstName'].touched)"
									class="error1">
									<div *ngIf="demoform.controls['FirstName'].errors.required">
										Required
									</div>
								</div>
							</div>
							<div class="form-group p-rel">
								<label for="last-name" class="visible-hidden">Last Name</label>
								<input type="text" class="form-control" id="last-name" formControlName="LastName" placeholder="Last Name *"
									onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
									required>
								<div
									*ngIf="demoform.controls['LastName'].invalid && (demoform.controls['LastName'].dirty || demoform.controls['LastName'].touched)"
									class="error1">
									<div *ngIf="demoform.controls['LastName'].errors.required">
										Required
									</div>
								</div>
							</div>
							<div class="form-group p-rel">
								<label for="exampleInputEmail1" class="visible-hidden">Your Email address</label>
								<input type="email" [pattern]="emailPattern" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="Enter email*" formControlName="EmailId"
									(keyup)="EmailClear()">
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with
									anyone else.</small>
								<div
									*ngIf="demoform.controls['EmailId'].invalid && (demoform.controls['EmailId'].dirty || demoform.controls['EmailId'].touched)"
									class="error1">
									<div *ngIf="demoform.controls['EmailId'].errors.required">
										Required
									</div>
									<div *ngIf="demoform.controls['EmailId'].errors.pattern">
										Incorrect Email!
									</div>

								</div>
								<div *ngIf="show" class="error1">
									Email already registered
								</div>
							</div>
							<div class="form-group p-rel">
								<label for="your-number" class="visible-hidden">Your Contact Number</label> 
								<input type="tel" class="form-control" id="your-number" formControlName="PhoneNumber" prefix="+1"
									placeholder="Phone Number" maxlength=20
									onkeypress="return event.charCode >= 48 && event.charCode <= 57">
								<div *ngIf="demoform.controls['PhoneNumber'].errors?.minlength" class="error1">
									Invalid Phone number
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer pull-right">
						<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelRequest()">Not Now</button> -->
						<button type="submit" (click)="DemoRequest()" class="btn btn-primary" style=" padding: .375rem .75rem;">Yes I	Need Demo</button>
					</div>
				</ng-container>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<!-- <div class="modal fade" id="videoModalCenter" tabindex="-1" role="dialog" aria-labelledby="videoModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<span class="close top" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</span>
				<div class="modal-content">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" id="ourVideo"  src="https://www.youtube.com/embed/E1FshVhhDMo?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div> -->
</div>