
<body class="features-detail-page">

        <section class="banner section">
            <img class="bg" src="../../../assets/images/features-detail-banner-bg.png" alt="">
            <div class="container">
                <div class="row align-items-top justify-content-between">
                    <div class="col-md-6 col-sm-12">
                        <p>Arytic's Analytically Assisted Search: Predefined, Quick, and Advanced.</p>
                        <!--<a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Apply Now</a>-->
                        <small class="first-para">Assisted Search feature allows you to perform quick searches, save
                            searches, and
                            manage alerts and preferences based upon your activity, profile, preferences, and what is
                            currently
                            trending.</small>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                        <img class="img-fluid" width="350" src="../../../assets/images/Rectangle11.png"
                            alt="Analytically Assisted Search" title="Analytically Assisted Search">
                    </div>
                </div>
            </div>
        </section>
        <section class="clientele">
            <div class="container">
                <!-- <h5>The world’s best startups build teams on Arytic</h5>
                <img class="img-fluid" src="../../../assets/images/clients-2.png" alt=""> -->
            </div>
        </section>
        <section class="how-incentive-system-works section">
            <div class="container">
                <div class="section-header video-sizzle-desc">
                    <h2 class="title">Analytically Assisted Search</h2>
                    <p>
                        Analytically Assisted Search package is built for you to navigate with the utmost efficiency. The
                        Quick Search
                        option cuts to the chase in discovering your ideal career.
                    </p>
                </div>
                <div class="video-wrapper">
                    <div class="col-lg-6 col-md-6 offset-3">
                        <img class="img-fluid" src="../../../assets/images/img-placeholder.png" alt="img-placeholder">
                    </div>
                </div>
            </div>
        </section>
        <section class="apply-now-banner section video-apply-now">
            <div class="container">
                <div class="apply-now-banner-inner align-items-center justify-content-between">
                    <p>Join hands with Next Gen AI Predictive Hiring Platform.</p>
                    <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Join Now</a>
                </div>
            </div>
        </section>
        <section class="feature-list section">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">Lorem Ipsum Dolor Sit Amet</h2>
                    <p>
                        Lorem ipsum dolor sit amet, has ei idque tritani salutatus. Quo essent elaboraret in Lorem ipsum
                        dolor sit
                        amet.
                    </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <img class="img-fluid" src="../../../assets/images/img-placeholder.png" alt="img-placeholder">
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <div class="item">
                            <h2>Speed Matters</h2>
                            <p>You may choose to provide first-hand accounts of employees offering words of wisdom about the
                                work
                                environment.</p>
                        </div>
                        <div class="item">
                            <h2>Search specs-Check!</h2>
                            <p>Tailored searches, not generic, random wanderings.</p>
                        </div>
                        <div class="item">
                            <h2>Two or more places at once Intuition</h2>
                            <p>How can it be….one step ahead, and right by your side…...or infinite intuition is probably
                                better.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="more-features section">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">More Features </h2>
                    <p>
                        Dive into our Artificial Intelligence Recruiting Features. 
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                            <a  href="Javascript:void(0)" [routerLink]="['/FeatureNotaJobSearch']">
                                <img class="img-fluid" src="../../../assets/images/more-features-1.png"
                                    alt=" Personalized lifestyle match" title="Personalized lifestyle match">
                            </a>
                            <h3>Not a job search, but a Personalized lifestyle match</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                            <a href="Javascript:void(0)" [routerLink]="['/FeaturePersonalityTest']">
                                <img class="img-fluid" src="../../../assets/images/more-features-2.png"
                                    alt="Personality test" title="Personality test">
                            </a>
                            <h3>Personality test for best work culture match</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="feature-post">
                            <a  href="Javascript:void(0)" [routerLink]="['/FeatureRealTimeData']">
                                <img class="img-fluid" src="../../../assets/images/more-features-3.png"
                                    alt="Real Time Status Updates" title="Real Time Status Updates">
                            </a>
                            <h3>Real Time Status Updates</h3>
                        </div>
                    </div>
                </div>
                <div class="see-more">
                    <!--<a href="candidate.html" class="see-more-link">
              See more features <svg xmlns="http://www.w3.org/2000/svg" width="23.6" height="12"><path d="M17.8 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l3.1-3.1H1c-.6 0-1-.4-1-1s.4-1 1-1h19.2l-3.4-3.4c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.2 5.2c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-4.8 4.8c-.3.1-.5.2-.8.2z" fill="#b6c2d6"/></svg>-->
                    <a href="Javascript:void(0)" [routerLink]="['/layout']" class="btn btn-primary">Join Now</a>
                </div>
            </div>
        </section>
      
    </body>