<body class="homepage pricing-page">


        <section class="video-sizzle section">
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix hidden-xs">&nbsp;</div>
            <div class="container text-center">
                <h1>We are designing an Awesome Page</h1>
                <h4>This Page is under construction </h4>
                <img class="logo" src="../../../assets/images/platform_icon.png" alt="Arytic" title="Arytic" />
            </div>
    
        </section>
    
    
    
    </body>