/* You can add global styles to this file, and also import other style files */

/*** autocomplete-container ***/

.suggestions-container.is-visible {
  z-index: 9 !important;
}

.autocomplete-container .x i.material-icons {
  display: none !important;
}

.autocomplete-container {
  box-shadow: none !important;
  height: auto !important;
}

.autocomplete-container .input-container input[type=text] {
  height: 34px !important;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  /* font-size: 1.3rem !important; */
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.autocomplete-container .input-container input[type=text]:focus {
  /* box-shadow: none; */
  /* border-color: #434bdf; */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.autocomplete-container .not-found {
  display: none;
}

.suggestions-container.is-visible ul li.item div a {
  font-weight: 100;
}

.suggestions-container.is-visible ul li.item div a b {
  font-weight: 100;
}

.autocomplete-container .suggestions-container ul li a {
  /* padding: 10px 10px; */
  padding: 6px 12px !important;
  border-bottom: 1px solid #e0e3ec;
}

.autocomplete-container .suggestions-container .complete-selected, .autocomplete-container .suggestions-container ul li:hover {
  background-color: #ccc !important;
}

/*** #autocomplete-container ***/

@media only screen and (min-width: 768px) {
  .w-768 {
    width: 768px;
  }
}

/*Ipad styles*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slideInRight .companytype .radio {
    width: 100%;
  }
}

/*Media Query*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .homepage .arytic-video-btn {
    margin-top: 10px;
    margin-left: 0!important;
    /* width: 55% !important; */
  }
  .slideInRight .companytype .radio {
    width: 100%;
  }
}

.hidden-blog figcaption {
  text-align: right;
  color: #6a7e9c !important;
}

.hidden-blog p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 16px;
  line-height: 32px;
  color: #6a7e9c !important;
}

.goback {
  color: #6a7e9c !important;
}

.hidden-blog h1 {
  /* font-size: 36px; */
  line-height: 48px;
  text-align: center;
  color: #6a7e9c !important;
}

.hidden-blog h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #6a7e9c !important;
}

.hidden-blog h6 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #6a7e9c !important;
}

.hidden-blog .author {
  font-size: 16px;
  font-weight: 500;
  margin: 13px auto;
}

.hidden-blog .date {
  font-size: 16px;
  font-weight: 500;
  text-align: right !important;
  margin: 13px auto;
  color: #6a7e9c !important;
}

.hidden-blog .media .align-self-center.mr-3 div {
  padding: 7px;
  background: white;
  box-shadow: 2px 2px 5px #5D5D5D;
  border-radius: 50%;
}

/***media obj ***/

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mr-3, .mx-3 {
  margin-right: 1rem!important;
}

.align-self-center {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}

.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mt-0, .my-0 {
  margin-top: 0!important;
}

/*** # ***/

.justify-content-between {
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.d-flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.mlr-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.news-events h5.card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #6a7e9c;
}

.news-events p.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-events h5.card-title {
  height: 48px;
}

.bg-white {
  background-color: white;
}

/*video*/

.demo-video {
  position: relative;
  z-index: 97;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 32px 16px rgba(23, 43, 77, .12);
}

.play-border {
  position: absolute;
  display: flex;
  width: 202px;
  height: 202px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(102, 218, 181, 0.22);
}

.link-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 122px;
  height: 122px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.play-button-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #66dab5;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.green-play-button {
  position: relative;
  z-index: 93;
  margin-left: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

span.close.top {
  position: absolute;
  top: 8%;
  right: 0%;
  opacity: 1;
  font-size: 2rem;
}

span.close.top span {
  color: #fff;
}

.homepage .arytic-video-btn {
  margin-left: 2%;
  /* width: 45%; */
  text-transform: uppercase;
}

/* .homepage img.play-icon{
  width: 19.5%;
} */

#aryticvideo .close {
  pointer-events: auto;
  cursor: pointer !important;
}

.bg-blue {
  background-color: #475c8d;
}

/*
   *
   * ==========================================
   * CUSTOM UTIL CLASSES
   * ==========================================
   *
   */

.table-fixed tbody {
  /* height: 300px; */
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed tbody th, .table-fixed thead>tr>th {
  float: left;
  position: relative;
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.p-sticky {
  position: sticky;
  top: 0;
}

.label-col {
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
  text-align: right;
}

.table-striped tbody tr:nth-of-type(odd) .label-col {
  background-color: #ffffff !important;
}

.P-40-0-200 {
  padding: 40PX 0PX 200PX;
}

.pt-71 {
  padding-top: 71px;
}

table tr th, table td {
  border-width: 0px !important;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
}

td, th {
  padding: 10px;
  position: relative;
  text-align: center;
}

td.active:after, th.active::after {
  content: '\00a0';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.active-bg {
  background: #cdcdcd;
  padding: 0px;
}

.tr-p-0 td {
  padding: 0px;
}

.p-75-0 td {
  padding: .75rem 0rem 0rem 0rem;
}

.pt-5_5 {
  padding-top: 5.5rem;
}

.text-white {
  color: #fff;
}

.ptb-10 {
  padding: 10rem 0rem;
}

.pt0-pb10 {
  padding: 0rem 0rem 10rem 0rem;
}

.pt5-pb10 {
  padding: 5rem 0rem 10rem 0rem;
}

.pt5-pb15 {
  padding: 5rem 0rem 13rem 0rem;
}

.pt3-pb9 {
  padding: 3rem 0rem 9rem 0rem;
}

.bg-white {
  background: #fff;
}

.mt--120 {
  margin-top: -120px;
}

.mt--80 {
  margin-top: -80px;
}

.box-shadow {
  box-shadow: 5.86px 17.019px 47.5px 2.5px rgba(0, 0, 0, 0.05);
}

.m-0 {
  margin: 0px;
}

/**/

.pricing-page .customer-page .card .bg.active-card {
  -webkit-transform: scaleY(1.1);
  transform: scaleY(1.1);
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  -webkit-box-shadow: 5.86px 17.019px 47.5px 2.5px rgba(0, 0, 0, 0.05);
  box-shadow: 5.86px 17.019px 47.5px 2.5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.pricing-page .customer-page .card:hover .bg {
  border-top: 15px solid #66dab5;
  border-bottom: 15px solid #66dab5;
}

.pricing-page .customer-page .card:hover {
  z-index: 999;
}

.pricing-page .card {
  box-shadow: 5.86px 17.019px 47.5px 2.5px rgba(0, 0, 0, 0.05);
}

.pricing-page .card.box-shadow-none {
  box-shadow: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

.bg-none {
  background: transparent;
}

.p-0 {
  padding: 0px;
}

.text-end {
  text-align: end;
}

.pricing-page .list-group-item {
  border-width: 0px;
  background: transparent;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.p20-0 {
  padding: 20px 0px;
}

.p9-0 {
  padding: 9px 0px;
}

.pricing-page.bg-none {
  background-image: none !important;
}

.w-32 {
  width: 32px;
  height: 32px;
}

.btn.btn-info.arytic-video-btn {
  padding: 11px 24px;
  font-size: 16px;
}

.w-16 {
  width: 16px;
}

.pricing-page .list-group.list-group-flush.striped .list-group-item:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.p42-0 {
  padding: 42px 0px !important;
}

.pt42 {
  padding: 42px 0px 0px 0px !important;
}

.p21-0 {
  padding: 21px 0px !important;
}

.pricing-page .list-group.list-group-flush .list-group-item.with-label {
  height: 80px;
}

.pricing-page .ptable {
  display: table;
}

.pricing-page .ptable-row {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.pricing-page .ptable-cell {
  display: table-cell !important;
  vertical-align: middle !important;
}

.ity {
  font-style: italic;
}

.pt-10 {
  padding-top: 10px;
}

.apply-now-banner.section .apply-now-banner-inner.pricing-page-bg {
  background-image: url(../src/assets/images/price-bg.png) !important;
}

.text-start {
  text-align: start;
}

.h55 {
  height: 55.99px;
}

.pricing-page .customer-page .card:hover>.bg {
  -webkit-transform: scaleY(1.04);
  transform: scaleY(1.04);
}

.clients-logos .w-112 img {
  filter: grayscale(100%);
}

.clients-logos {
  padding-top: 5rem;
}

.clients-logos .w-112 {
  display: inline;
  margin: 0px 2rem;
}

#accordion .mb-0>a {
  display: block;
  position: relative;
  position: relative;
  font-size: 16px;
  text-align: initial;
  color: #929eb9;
}

#accordion .mb-0>a:after {
  content: "\f078";
  /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}

#accordion .mb-0>a[aria-expanded="true"]:after {
  content: "\f077";
  /* fa-chevron-up */
}

#accordion .card {
  border-width: 0px 0px 1px 0px;
  box-shadow: none;
  background: transparent;
  padding: 10px 0px;
  text-align: initial;
}

#accordion .card .card-header {
  background: transparent;
  border-width: 0px;
}

.card.active .bl-active-line {
  border-left: 2px solid #66dab5;
}

.pricing-page.bg-none .pricing-tab .nav-link {
  cursor: pointer;
}

.pricing-page.bg-none .pricing-tab .nav-link.active {
  background: #3dd0a1;
}

.pricing-page.bg-none .pricing-tab .nav-link.active:after {
  border-top: 9px solid #3dd0a1 !important;
}

.pricing-page.bg-none .nav-tabs .nav-link.active {
  border-width: 0px;
}

.pricing-page.bg-none .pricing-tab .nav-link:hover, .pricing-page.bg-none .pricing-tab .nav-link.active {
  color: #000;
}

.pricing-page.bg-none .pricing-tab .nav-link span {
  font-size: 20px;
  font-weight: 500;
}

.checkbox input {
  opacity: 0;
  position: absolute;
}

.radio .radio-btn {
  height: 33px;
  width: 33px;
  border: 1px solid #b8c4d7;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.checkbox {
  margin: 0 13px 0 0;
  position: relative;
  cursor: pointer;
}

.radio input:checked+.radio-btn {
  background-image: url("data:image/svg+xml,%3C%3Fxml version%3D%221.0%22 encoding%3D%22utf-8%22%3F%3E%0D%3C!-- Generator%3A Adobe Illustrator 16.0.0%2C SVG Export Plug-In . SVG Version%3A 6.00 Build 0)  --%3E%0D%3C!DOCTYPE svg PUBLIC %22-%2F%2FW3C%2F%2FDTD SVG 1.1%2F%2FEN%22 %22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22 %5B%0D%09%3C!ENTITY ns_extend %22http%3A%2F%2Fns.adobe.com%2FExtensibility%2F1.0%2F%22%3E%0D%09%3C!ENTITY ns_ai %22http%3A%2F%2Fns.adobe.com%2FAdobeIllustrator%2F10.0%2F%22%3E%0D%09%3C!ENTITY ns_graphs %22http%3A%2F%2Fns.adobe.com%2FGraphs%2F1.0%2F%22%3E%0D%09%3C!ENTITY ns_vars %22http%3A%2F%2Fns.adobe.com%2FVariables%2F1.0%2F%22%3E%0D%09%3C!ENTITY ns_imrep %22http%3A%2F%2Fns.adobe.com%2FImageReplacement%2F1.0%2F%22%3E%0D%09%3C!ENTITY ns_sfw %22http%3A%2F%2Fns.adobe.com%2FSaveForWeb%2F1.0%2F%22%3E%0D%09%3C!ENTITY ns_custom %22http%3A%2F%2Fns.adobe.com%2FGenericCustomNamespace%2F1.0%2F%22%3E%0D%09%3C!ENTITY ns_adobe_xpath %22http%3A%2F%2Fns.adobe.com%2FXPath%2F1.0%2F%22%3E%0D%5D%3E%0D%3Csvg version%3D%221.1%22 id%3D%22Capa_1%22 xmlns%3Ax%3D%22%26ns_extend%3B%22 xmlns%3Ai%3D%22%26ns_ai%3B%22 xmlns%3Agraph%3D%22%26ns_graphs%3B%22%0D%09 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22 x%3D%220px%22 y%3D%220px%22 width%3D%2212.02px%22 height%3D%229px%22%0D%09 viewBox%3D%22250.129 251.5 12.02 9%22 enable-background%3D%22new 250.129 251.5 12.02 9%22 xml%3Aspace%3D%22preserve%22%3E%0D%3Cmetadata%3E%0D%09%3Csfw  xmlns%3D%22%26ns_sfw%3B%22%3E%0D%09%09%3Cslices%3E%3C%2Fslices%3E%0D%09%09%3CsliceSourceBounds  width%3D%2211.554%22 height%3D%228.87%22 y%3D%22396.064%22 x%3D%22633.922%22 bottomLeftOrigin%3D%22true%22%3E%3C%2FsliceSourceBounds%3E%0D%09%3C%2Fsfw%3E%0D%3C%2Fmetadata%3E%0D%3Cg%3E%0D%09%3Cg%3E%0D%09%09%3Cpath fill%3D%22%2310B17E%22 stroke%3D%22%2310B17E%22 stroke-miterlimit%3D%2210%22 d%3D%22M255.7%2C259.576c-0.478%2C0.479-1.254%2C0.479-1.733%2C0l-2.686-2.687%0D%09%09%09c-0.479-0.477-0.479-1.254%2C0-1.732c0.479-0.479%2C1.254-0.479%2C1.733%2C0l1.6%2C1.6c0.121%2C0.121%2C0.317%2C0.121%2C0.438%2C0l4.333-4.333%0D%09%09%09c0.478-0.478%2C1.254-0.478%2C1.733%2C0c0.229%2C0.23%2C0.357%2C0.542%2C0.357%2C0.867c0%2C0.326-0.128%2C0.636-0.357%2C0.867L255.7%2C259.576z%22%2F%3E%0D%09%3C%2Fg%3E%0D%3C%2Fg%3E%0D%3C%2Fsvg%3E%0D");
  background-repeat: no-repeat;
  background-position: center;
}

.radio.checkbox .radio-btn {
  border-radius: 0;
}

.m48-0 {
  margin: 48px 0px;
}

.w-12 {
  width: 12px;
}

.w-380 {
  width: 380px;
}

.mr-10 {
  margin-right: 10px;
}

.ptb-10 {
  padding: 10px 0px;
}

.fs-2 {
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .btn.btn-info.arytic-video-btn {
    padding: 12px 24px;
    font-size: 16px;
  }
  .homepage .arytic-video-btn {
    margin: 0;
  }
}

.slideInLeft img {
  width: 74%;
}

.slideInRight img {
  width: 55%;
}

.slideInRight img.cancel-icon {
  width: 32px;
}

.slideInRight img.side-logo {
  width: 100%;
}

/*IE Browser Styles*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .slideInRight input, .slideInLeft input {
    height: 34px;
  }
  .slideInLeft img {
    width: 100%;
  }
  .slideInRight img {
    width: 100%;
  }
}

.mx992view4 .col-md-3.card.class1 {
  display: inline-block;
}

.show-min992 {
  display: none;
}

@media screen and (max-width: 466px) {
  .homepage .arytic-video-btn {
    margin: 10px 0px 0px 0px;
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .mx992view4 .col-md-3.card.class1 {
    display: none;
  }
  .hidden-992 {
    display: none;
  }
  .show-min992 {
    display: block;
    height: 60px;
  }
  .mx992view4 .row {
    margin: 0px;
  }
  .d-992-b .nav.nav-tabs.nav-justified {
    display: block;
  }
  .d-992-b .nav.nav-tabs.nav-justified .nav-item {
    padding: 10px 0px;
  }
  .d-992-b .nav.nav-tabs.nav-justified .nav-item .nav-link.active:after {
    content: none;
  }
  .d-992-b .nav-tabs {
    border-bottom-width: 0px;
  }
  .apply-now-banner.section.d-banner .apply-now-banner-inner {
    display: block;
    height: auto !important;
  }
  .apply-now-banner.section.d-banner .apply-now-banner-inner p {
    width: 100%;
  }
  .apply-now-banner.section.d-banner .apply-now-banner-inner.pricing-page-bg {
    background-image: none !important;
  }
  .apply-now-banner.section.d-banner .apply-now-banner-inner.pricing-page-bg.align-items-center.justify-content-between {
    text-align: start !important;
  }
  .pt3-pb9 {
    padding: 3rem 1rem 9rem 1rem;
  }
  .fs-2 {
    font-size: 1.5rem;
  }
  .slideInRight .companytype .radio {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .sl-hide {
    display: none;
  }
  .sl-show {
    display: block !important;
  }
  .sign_logo {
    display: none;
  }
  /* .content-left-wrapper {
      padding: 0px 10px 0px 10px !important;
  } */
  .signpage .container-fluid, .signpage .row.row-height {
    padding: 0px !important;
    margin: 0px !important;
  }
  .hiring-c {
    background-color: #fff !important;
  }
  .hiring-c * {
    color: #475B66 !important;
  }
  .hiring-c a, .hiring-c .hr-click, .job_links .job-click, .job_links a {
    color: #434bdf !important;
  }
  .job-c {
    background-color: #fff !important;
  }
  .job-c * {
    color: #475B66 !important;
  }
  .signpage a.btn_1, .signpage .btn_1 {
    background: #66dab5 !important;
    color: #ffffff !important;
  }
  .hr-click, .job-click {
    cursor: pointer;
  }
  #hiring_sign .logo, #hiring_login .logo {
    display: none;
  }
  .sl-hidden {
    display: none !important;
  }
  .content-left-wrapper .row, .content-left-wrapper .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .sign-up-btn {
    float: none !important;
    margin-bottom: 1rem;
  }
  .hiring_forgot .main_question {
    text-align: center;
  }
  .homepage .section h1, h2, .homepage .section h3 {
    margin-bottom: 0px;
  }
  .text-sl-center {
    text-align: center !important;
  }
  /* .content-left-wrapper {
     text-align: left;
 } */
  .content-left-wrapper {
    display: block;
    justify-content: left;
    align-items: normal;
  }
  .sl-text-show {
    display: inline-block !important;
  }
}

.modal .modal-title {
  color: #475B66;
}

/*Company Type CSS*/

.slideInRight .companytype .radio {
  margin: 0 7px 0 0;
  float: left;
  cursor: pointer;
}

.slideInRight .companytype .radio input[type=checkbox], .radio input[type=radio] {
  opacity: 0;
  margin: 0;
  position: absolute;
}

.slideInRight .companytype .radio .radio-btn {
  height: 20px;
  width: 20px;
  border: 1px solid #b8c4d7;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

.slideInRight .companytype .radio-btn {
  position: relative;
  padding-left: 0;
}

.slideInRight .companytype span.radio-text {
  font-size: 10px;
  color: #555;
}

.radio input:checked+.radio-btn {
  background-image: url("assets/images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

/*Applying Poppins Font*/

.recruit_links small.loginhere, .recruit_links small.loginhere a {
  color: #475B66;
  font-family: "poppins", sans-serif;
}
.cust-login-btn small a, .cand-login-btn small a{
  padding: 0.1rem 0.5rem;
  background-color: #fff;
  border-radius: 5px;
}
.cand-login-btn small a{
  color: #475B66!important;
}
.job_links small, .job_links a, .step small, .step a {
  font-family: "poppins", sans-serif;
}

/* #button loader css */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes cand-spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  opacity: 0.5;
  top: 93%;
  left: 89%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 22px;
  border-radius: 50%;
  border: 2px solid #000000;
  border-top-color: #ffffff;
  animation: spinner .8s linear infinite;
}

.cand-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  opacity: 0.5;
  top: 93%;
  left: 88.5%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 22px;
  border-radius: 50%;
  border: 2px solid #000000;
  border-top-color: #ffffff;
  animation: spinner .8s linear infinite;
}

.cand-signup-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  opacity: 0.5;
  top: 90%;
  left: 91.5%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 22px;
  border-radius: 50%;
  border: 2px solid #000000;
  border-top-color: #ffffff;
  animation: spinner .8s linear infinite;
}

.cust-signup-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  opacity: 0.5;
  top: 96%;
  left: 89%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 22px;
  border-radius: 50%;
  border: 2px solid #000000;
  border-top-color: #ffffff;
  animation: spinner .8s linear infinite;
}

/*for large desktops*/

@media screen and (min-width: 1367px) {
  .cand-spinner:before {
    left: 84.5%;
  }
}
/* #button loader css ends*/

/*Social Media SignUpIn button styles*/

.s-s-btns h6 {
  color: #475B66;
}

.s-s-btns .btn {
  font-size: 0.7rem;
  color: #ffffff;
  width: 113%;
  padding: .375rem .4rem;
  vertical-align: text-top;
}

.c-s-s-btns .btn {
  font-size: 0.6rem;
}

.c-s-s-btns .btn a, 
.s-s-btns .btn a{
color: #fff;
}
.s-s-btns .fa {
  font-size: 1rem;
  padding-right: 0.3rem;
  vertical-align: bottom;
}

.s-s-btns .btn-google {
  background-color: #E85E52;
}

.s-s-btns .btn-facebook {
  background-color: #3B5998;
}

.s-s-btns .btn-linkedin {
  background-color: #0073B0;
}

.cand-signup-form {
  width: 100%;
}

.content-left-wrapper img[alt='Job-Seeker'] {
  width: 80%;
}

.visible-hidden {
	display: none;
}